force-app/main/default/flows/Assign_ITSC_User_Permissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_user_ID</name>
        <label>Assign user ID</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>var_UserID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProfileName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ProfileId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ITSC_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check ITSC User</description>
        <name>Check_ITSC_User</name>
        <label>Check ITSC User</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employee_is_True</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ITSC_Employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ITSC_Agent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00eDn000000IQcFIAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Assign_Permission_Sets_to_User</targetReference>
            </connector>
            <label>Employee is True</label>
        </rules>
        <rules>
            <name>Agent_is_True</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ITSC_Agent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ITSC_Employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00eDn000000J36dIAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Assign_Permission_Sets_to_User</targetReference>
            </connector>
            <label>Agent is True</label>
        </rules>
        <rules>
            <name>Admin_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00eDn000002MVTiIAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Assign_Permission_Sets_to_User</targetReference>
            </connector>
            <label>Admin is True</label>
        </rules>
    </decisions>
    <description>Assign Permission Set to Agent- Updated employee profile id</description>
    <environments>Default</environments>
    <interviewLabel>Assign ITSC User Permissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova - Assign ITSC User Permissions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_user_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>fakeuser@thisisfake.com</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Admin_Assign_Permission_Sets_to_User</name>
        <label>Admin - Assign Permission Sets to User</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <flowName>ITSCRP_Assign_Permission_Sets_to_User</flowName>
        <inputAssignments>
            <name>ITSCAgent</name>
            <value>
                <elementReference>$Record.ITSC_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ITSCEmployee</name>
            <value>
                <elementReference>$Record.ITSC_Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProfileName</name>
            <value>
                <elementReference>ProfileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_UserID</name>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Agent_Assign_Permission_Sets_to_User</name>
        <label>Agent Assign Permission Sets to User</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>ITSCRP_Assign_Permission_Sets_to_User</flowName>
        <inputAssignments>
            <name>ITSCAgent</name>
            <value>
                <elementReference>$Record.ITSC_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ITSCEmployee</name>
            <value>
                <elementReference>$Record.ITSC_Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProfileName</name>
            <value>
                <elementReference>ProfileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_UserID</name>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Employee_Assign_Permission_Sets_to_User</name>
        <label>Employee Assign Permission Sets to User</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <flowName>ITSCRP_Assign_Permission_Sets_to_User</flowName>
        <inputAssignments>
            <name>ITSCAgent</name>
            <value>
                <elementReference>$Record.ITSC_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ITSCEmployee</name>
            <value>
                <elementReference>$Record.ITSC_Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProfileName</name>
            <value>
                <elementReference>ProfileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_UserID</name>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
