force-app/main/default/flows/Case_Manual_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_Current_Queue_FSO</name>
        <label>Is Current Queue FSO</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Notify_Contact_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ServiceDesk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Current_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a16DK000001Rv0LYAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Contact_Create_FSO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Action</name>
        <label>Notification Action</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoticiationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Current_Queue_FSO</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoticiationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoticiationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assign</stringValue>
                </rightValue>
            </conditions>
            <label>Assign</label>
        </rules>
        <rules>
            <name>Resolve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoticiationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolve</stringValue>
                </rightValue>
            </conditions>
            <label>Resolve</label>
        </rules>
        <rules>
            <name>Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoticiationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <label>Close</label>
        </rules>
        <rules>
            <name>SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoticiationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA</stringValue>
                </rightValue>
            </conditions>
            <label>SLA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - Manual - Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Manual - Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notification_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notify_Contact_Create</name>
        <label>Notify Contact - Create</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <flowName>Innova_General_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailTemplateName</name>
            <value>
                <stringValue>Innova Case is Created Email Template_End_User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notify_Contact_Create_FSO</name>
        <label>Notify Contact - Create - FSO</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>Innova_General_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailTemplateName</name>
            <value>
                <stringValue>Contact - Create - Consultant Care</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varNoticiationAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
