force-app/main/default/flows/Case_Create_Update_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Get_Case_to_varCaseRecord</name>
        <label>Assign Get Case to varCaseRecord</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecordPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_an_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Target_Date</name>
        <label>Assign Target Date</label>
        <locationX>710</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.wkitsm__DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Milestone.TargetDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Due_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_and_Current_Queues</name>
        <label>Set Previous and Current Queues</label>
        <locationX>710</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Previous_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Current_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Current_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Change_Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Change_Get_Queue.ISC_Default_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varIsUpdate</name>
        <label>Set varIsUpdate</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varIsUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Details_from_Source_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varNotificationAction_to_Assign</name>
        <label>Set varNotificationAction to Assign</label>
        <locationX>314</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>varNotificationAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assign</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varNotificationAction_to_Close</name>
        <label>Set varNotificationAction to Close</label>
        <locationX>1106</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>varNotificationAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varNotificationAction_to_Create</name>
        <label>Set varNotificationAction to Create</label>
        <locationX>50</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>varNotificationAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varNotificationAction_to_Resolve</name>
        <label>Set varNotificationAction to Resolve</label>
        <locationX>842</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>varNotificationAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolve</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varNotificationAction_to_SLA</name>
        <label>Set varNotificationAction to SLA</label>
        <locationX>1370</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>varNotificationAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SLA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varNotificationAction_to_Transfer</name>
        <label>Set varNotificationAction to Transfer</label>
        <locationX>578</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>varNotificationAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Needed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Entitlement_Changed</name>
        <label>Entitlement Changed</label>
        <locationX>842</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Set_Notification_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Entitlement</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.EntitlementId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EntitlementId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Priority</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Details_from_Source_Email</name>
        <label>Get Details from Source Email</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Route_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Check_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ISC_System_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Source_Email_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Formatted_Description_from_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_an_Update</name>
        <label>Is this an Update</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Details_from_Source_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordPrior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varIsUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Needed</name>
        <label>Notification Needed?</label>
        <locationX>842</locationX>
        <locationY>3119</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Notify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNotificationAction</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Case_Manual_Notifications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Changed</name>
        <label>Owner Changed</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ISC_System_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Change_Get_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Notification_Type</name>
        <label>Set Notification Type</label>
        <locationX>842</locationX>
        <locationY>2819</locationY>
        <defaultConnector>
            <targetReference>Notification_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>(1 AND 2) OR ( 3 AND 4 AND (5 OR 1))</conditionLogic>
            <conditions>
                <leftValueReference>varIsUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ISC_System_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ISC_System_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varNotificationAction_to_Create</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varNotificationAction_to_Assign</targetReference>
            </connector>
            <label>Assign</label>
        </rules>
        <rules>
            <name>Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transfer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Current_Queue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ISC_Current_Queue__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varNotificationAction_to_Transfer</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Resolve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varNotificationAction_to_Resolve</targetReference>
            </connector>
            <label>Resolve</label>
        </rules>
        <rules>
            <name>Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varNotificationAction_to_Close</targetReference>
            </connector>
            <label>Close</label>
        </rules>
        <rules>
            <name>SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Milestone_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Milestone_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Milestone_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varNotificationAction_to_SLA</targetReference>
            </connector>
            <label>SLA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - Create/Update - Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create/Update - Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Get_Case_to_varCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone</name>
        <label>Get Milestone</label>
        <locationX>710</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Target_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>557Dn000000Y1MAIA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <sortField>TargetDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Owner_Change_Get_Queue</name>
        <label>Owner Change - Get Queue</label>
        <locationX>710</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Previous_and_Current_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISC_Queue_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Due_Date</name>
        <label>Set Due Date</label>
        <locationX>710</locationX>
        <locationY>2627</locationY>
        <connector>
            <targetReference>Set_Notification_Type</targetReference>
        </connector>
        <inputReference>varCaseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Related_Task_Owner</targetReference>
        </connector>
        <inputReference>varCaseRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Call_Case_Manual_Notifications</name>
        <label>Call Case - Manual - Notifications</label>
        <locationX>710</locationX>
        <locationY>3227</locationY>
        <flowName>Case_Manual_Notifications</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoticiationAction</name>
            <value>
                <elementReference>varNotificationAction</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Check_Contact_Details</name>
        <label>Check Contact Details</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Owner_Changed</targetReference>
        </connector>
        <flowName>Case_Manual_Contact_Management</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Entitlement_Management_SLA</name>
        <label>Entitlement Management (SLA)</label>
        <locationX>842</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Record_Sharing</targetReference>
        </connector>
        <flowName>Case_Manual_Entitlement_Management_SLA</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Formatted_Description_from_Email</name>
        <label>Get Formatted Description from Email</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Route_Case</targetReference>
        </connector>
        <flowName>Case_Manual_Update_Case_from_Email_Message</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Record_Sharing</name>
        <label>Record Sharing</label>
        <locationX>842</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowName>Case_Manual_Set_Update_Sharing</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseRecordPrior</name>
            <value>
                <elementReference>varCaseRecordPrior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Route_Case</name>
        <label>Route Case</label>
        <locationX>842</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Check_Contact_Details</targetReference>
        </connector>
        <flowName>Case_Manual_Route_Case</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSourceEmailAddress</assignToReference>
            <name>varSourceEmailAddress</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Update_Status</name>
        <label>Set/Update Status</label>
        <locationX>842</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Entitlement_Management_SLA</targetReference>
        </connector>
        <flowName>Case_Manual_Set_Update_status</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Related_Task_Owner</name>
        <label>Update Related Task Owner</label>
        <locationX>842</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Entitlement_Changed</targetReference>
        </connector>
        <flowName>Case_Manual_Update_Owner_on_Related_Tasks</flowName>
        <inputAssignments>
            <name>varCaseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseRecordPrior</name>
            <value>
                <elementReference>varCaseRecordPrior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord</assignToReference>
            <name>varCaseRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseRecordPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varIsUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varNotificationAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>None</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSourceEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
