force-app/main/default/flows/Case_Manual_Set_Update_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Assigned</name>
        <label>Set Assigned</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_New</name>
        <label>Set New</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Pending</name>
        <label>Set Pending</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Resolved</name>
        <label>Set Resolved</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Transferred</name>
        <label>Set Transferred</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Calc_Status</name>
        <label>Calc Status</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.wkitsm__ResolutionType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Resolved</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Pending_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pending</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Transferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Current_Queue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCaseRecord.ISC_Previous_Queue__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Previous_Queue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Transferred</targetReference>
            </connector>
            <label>Transferred</label>
        </rules>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assigned</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_varCaseRecord_is_Set</name>
        <label>Check varCaseRecord is Set</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Variable_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calc_Status</targetReference>
            </connector>
            <label>Variable Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - Manual - Set/Update status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Manual - Set/Update status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_varCaseRecord_is_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
