force-app/main/default/flows/Case_Manual_Set_Update_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Contact_User_ID_to_varCaseShare</name>
        <label>Assign Contact User ID to varCaseShare</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varCaseShare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactUserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colCaseShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCaseShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Case_have_a_Requestor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Queue_ID_to_varQueueID</name>
        <label>Assign Current Queue ID to varQueueID</label>
        <locationX>204</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varCaseShare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Current_Queue__r.Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colCaseShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCaseShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Case_have_a_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Requestor_User_ID_to_varCaseShare</name>
        <label>Assign Requestor User ID to varCaseShare</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varCaseShare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestorUserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colCaseShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCaseShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sharing_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Case_have_a_Contact</name>
        <label>Does Case have a Contact</label>
        <locationX>336</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Does_Case_have_a_Requestor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12345</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_ID_for_Case_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Case_have_a_Requestor</name>
        <label>Does Case have a Requestor</label>
        <locationX>336</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Create_Sharing_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Requestor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Requestor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCaseRecord.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_ID_for_Requestor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contact</name>
        <label>Found Contact</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Does_Case_have_a_Requestor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactUserID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactUserID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_User_ID_to_varCaseShare</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Requestor</name>
        <label>Found Requestor</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Create_Sharing_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestorUserID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRequestorUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRequestorUserID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varContactUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Requestor_User_ID_to_varCaseShare</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Share_with_Queue</name>
        <label>Share with Queue?</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Does_Case_have_a_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Share_with_queue</name>
            <conditionLogic>3 AND ((1 AND 2) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordPrior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCaseRecordPrior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordPrior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Queue_ID_to_varQueueID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - Manual - Set/Update Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Manual - Set/Update Sharing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sharing_Records</name>
        <label>Create Sharing Records</label>
        <locationX>336</locationX>
        <locationY>1634</locationY>
        <inputReference>colCaseShare</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Share_with_Queue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_User_ID_for_Case_Contact</name>
        <label>Find User ID for Case Contact</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Found_Contact</targetReference>
        </connector>
        <flowName>Helper_Contact_ID_to_User_ID</flowName>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>varCaseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactUserID</assignToReference>
            <name>varUserID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Find_User_ID_for_Requestor</name>
        <label>Find User ID for Requestor</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>Found_Requestor</targetReference>
        </connector>
        <flowName>Helper_Contact_ID_to_User_ID</flowName>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>varCaseRecord.ISC_Requestor__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varRequestorUserID</assignToReference>
            <name>varUserID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>colCaseShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseRecordPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>varContactUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestorUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
