force-app/main/default/flows/Case_Manual_Entitlement_Management_SLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_entitlement_on_varCaseRecord</name>
        <label>Set entitlement on varCaseRecord</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEntitlementID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_varEntitlementID_1</name>
        <label>Set varEntitlementID</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varEntitlementID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Category__r.Entitlement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_has_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varEntitlementID_2</name>
        <label>Set varEntitlementID</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varEntitlementID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Current_Queue__r.SLA_Entitlement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entitlement_has_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Entitlement_has_changed</name>
        <label>Entitlement has changed</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.EntitlementId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varEntitlementID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_entitlement_on_varCaseRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entitlement_to_use</name>
        <label>Entitlement to use</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Entitlement_has_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Assignment</defaultConnectorLabel>
        <rules>
            <name>Assign_from_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Current_Queue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Category__r.Entitlement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ISC_System_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varEntitlementID_1</targetReference>
            </connector>
            <label>Assign from Category</label>
        </rules>
        <rules>
            <name>Assign_from_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Current_Queue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Current_Queue__r.SLA_Entitlement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ISC_System_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varEntitlementID_2</targetReference>
            </connector>
            <label>Assign from Queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - Manual - Entitlement Management (SLA) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Manual - Entitlement Management (SLA)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entitlement_to_use</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCasePrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varEntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
