force-app/main/default/flows/Case_Create_Incident_and_Request_Notifications_Dynamic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>Replace Contact Notification with General Notification</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>Case - Create - Incident and Request Notifications (Dynamic) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create - Incident and Request Notifications (Dynamic)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Record.RecordType.DeveloperName}= &apos;Incident&apos; || {!$Record.RecordType.DeveloperName}= &apos;Request&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>One_Minute_Later</name>
            <connector>
                <targetReference>Notify_Contact_on_Create</targetReference>
            </connector>
            <label>One Minute Later</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>Notifications to Agent or Queue</description>
        <name>Notifications_on_Create</name>
        <label>Notifications on Create</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <flowName>Innova_General_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAppendOwnerToNotification</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailTemplateName</name>
            <value>
                <stringValue>Innova - Email to Queue - Case Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNotificationBody</name>
            <value>
                <stringValue>New {!$Record.RecordType.DeveloperName} {!$Record.CaseNumber} assigned to</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNotificationTitle</name>
            <value>
                <stringValue>New {!$Record.RecordType.DeveloperName} assigned to</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notify_Contact_on_Create</name>
        <label>Notify Contact on Create</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Notifications_on_Create</targetReference>
        </connector>
        <flowName>Innova_General_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailTemplateName</name>
            <value>
                <stringValue>Innova Case is Created Email Template_End_User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1300</triggerOrder>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultOrgWideAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>servicedesk.it@innovasolutions.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varEmailTemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserIdFromContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
