force-app/main/default/flows/Case_Update_Incident_and_Request_Notifications_Dynamic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_status</name>
        <label>Check status</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifications_on_Assignment</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Contacts_on_Resolve</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>999</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Contacts_on_Close</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>Case - Update - Incident and Request Notifications (Dynamic) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Update - Incident and Request Notifications (Dynamic)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_status</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}= &apos;Incident&apos; || {!$Record.RecordType.DeveloperName}= &apos;Request&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>Email and In-App to Agent or Queue</description>
        <name>Notifications_on_Assignment</name>
        <label>Notifications on Assignment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Innova_General_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAppendOwnerToNotification</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailTemplateName</name>
            <value>
                <stringValue>Innova Incident is Reassign Email Template</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNotificationBody</name>
            <value>
                <stringValue>New {!$Record.RecordType.DeveloperName} {!$Record.CaseNumber} assigned to</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNotificationTitle</name>
            <value>
                <stringValue>New {!$Record.RecordType.DeveloperName} assigned to</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notify_Contacts_on_Close</name>
        <label>Notify Contacts on Close</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <flowName>Innova_General_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailTemplateName</name>
            <value>
                <stringValue>Innova Request is Closed Email Template</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notify_Contacts_on_Resolve</name>
        <label>Notify Contacts on Resolve</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <flowName>Innova_General_Notification</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailTemplateName</name>
            <value>
                <stringValue>Innova - Email to Requestor - Case is Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1300</triggerOrder>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultOrgWideAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>servicedesk.it@innovasolutions.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varEmailTemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserIdFromContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
