force-app/main/default/flows/Case_Screen_Transfer_Reassign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_case_to_varCaseRecord</name>
        <label>Assign case to varCaseRecord</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assignable_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner</name>
        <label>Set Owner</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_from_varCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Queue</name>
        <label>Set Owner and Default Category</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Queue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_from_varCaseRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Reassign</name>
        <choiceText>Reassign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer</name>
        <choiceText>Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Select_Action</name>
        <label>Select Action</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transfer_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scnTransactionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transfer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Queue</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Reassign_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scnTransactionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reassign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner</targetReference>
            </connector>
            <label>Reassign</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choQueues</name>
        <collectionReference>Get_Queues</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ISC_Queue_Setting__c</object>
        <valueField>Queue_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choUsers</name>
        <collectionReference>Get_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case - Screen - Transfer/Reassign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Screen - Transfer/Reassign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_case_to_varCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Reassign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Agent_Assignable__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Case.ISC_Current_Queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ISC_Queue_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Assignable_Users.colOutputUserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_from_varCaseRecord</name>
        <label>Update Case from varCaseRecord</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <inputReference>varCaseRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Transfer_Reassign</name>
        <label>Transfer / Reassign</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Action</targetReference>
        </connector>
        <fields>
            <name>scnTransactionType</name>
            <choiceReferences>Transfer</choiceReferences>
            <choiceReferences>Reassign</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Transfer</defaultSelectedChoiceReference>
            <fieldText>scnTransactionType</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Queue</name>
            <choiceReferences>choQueues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Queue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scnTransactionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Agent</name>
            <choiceReferences>choUsers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Agent</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scnTransactionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reassign</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Assignable_Users</name>
        <label>Get Assignable Users</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <flowName>Helper_Group_ID_to_User_IDs</flowName>
        <inputAssignments>
            <name>varInputGroupID</name>
            <value>
                <elementReference>Get_Case.ISC_Current_Queue__r.Queue_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputIgnoreAdmin</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Filter_Selected_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ISC_Queue_Setting__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
