force-app/main/default/flows/Case_Manual_Route_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Address_to_colRelationAddress</name>
        <label>Assign Address to colRelationAddress</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>colRelationAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Email_Relations.RelationAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_Relations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Details</name>
        <label>Set Case Details</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Setting.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Current_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Details_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Category__r.Queue__r.ObjectID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Setting.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Case_Details_Portal</name>
        <label>Set Case Details - Portal</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Current_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Category__r.Queue__r.ObjectID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Case_Details_Redirect</name>
        <label>Set Case Details - Redirect</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Redirected_Email.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Current_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Details_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Category__r.Queue__r.ObjectID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.To_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Redirected_Email.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_varSourceEmailAddress</name>
        <label>Set varSourceEmailAddress</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varSourceEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Relations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Origin</name>
        <label>Case Origin</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Source_Email_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.Source_Email_ID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>02s</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ISC_System_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Service_Cloud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ISC_System_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecord.ISC_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Details</targetReference>
            </connector>
            <label>Service Cloud</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Email_Setting</name>
        <label>Found Email Setting</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Get_Redirected_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Details_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmEmail2CaseAddress</name>
        <dataType>String</dataType>
        <expression>IF(OR(LEFT({!varCaseRecord.Source_Email_ID__c},3)!=&apos;02s&apos;,ISBLANK({!varCaseRecord.Source_Email_ID__c})), &apos;&apos;, Left(MID({!Get_Email.Headers} , FIND(&apos;X-SFDC-Original-RCPT:&apos;, {!Get_Email.Headers}) + 22, 500),FIND(&apos;@&apos;,MID({!Get_Email.Headers} , FIND(&apos;X-SFDC-Original-RCPT:&apos;, {!Get_Email.Headers}) + 22, 500))-1))</expression>
    </formulas>
    <interviewLabel>Case - Manual - Route Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Manual - Route Case</label>
    <loops>
        <name>Loop_Email_Relations</name>
        <label>Loop Email Relations</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Email_Relations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Address_to_colRelationAddress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Email2Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email</name>
        <label>Get Email</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_varSourceEmailAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Source_Email_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email2Case</name>
        <label>Get Email2Case</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmEmail2CaseAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISC_Email_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Relations</name>
        <label>Get Email Relations</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Email_Relations</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>EmailMessageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Source_Email_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ToAddress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CcAddress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Setting</name>
        <label>Get Email Setting</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Email_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>colRelationAddresses</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email2Case_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email2Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISC_Email_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Details</name>
        <label>Get Queue Details</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Details_Portal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Category__r.Queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISC_Queue_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Details_2</name>
        <label>Get Queue Details</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_Setting.Category__r.Queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISC_Queue_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Details_3</name>
        <label>Get Queue Details</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Details_Redirect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Redirected_Email.Category__r.Queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISC_Queue_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Redirected_Email</name>
        <label>Get Redirected Email</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Details_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email2Case.Email_Redirect__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISC_Email_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Origin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colRelationAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSourceEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
