force-app/main/default/flows/Case_Create_Update_Fast_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Block_Case_Create</name>
        <label>Block Case Create</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Set_Defaults</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Contact or Account is flagged Disable Case Create</errorMessage>
            <fieldSelection>Contact</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Blank_Description</name>
        <label>Blank Description</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Email_Blank_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description</targetReference>
            </connector>
            <label>Email - Blank Description</label>
        </rules>
        <rules>
            <name>Other_No_Descriptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ISC_Description_Formatted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description_2</targetReference>
            </connector>
            <label>Other - No Descriptions</label>
        </rules>
        <rules>
            <name>Other_Formatted_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ISC_Description_Formatted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description_3</targetReference>
            </connector>
            <label>Other - Formatted Description</label>
        </rules>
        <rules>
            <name>Other_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ISC_Description_Formatted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description_4</targetReference>
            </connector>
            <label>Other - Description</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_or_Account_Blocked</name>
        <label>Is Contact or Account Blocked</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blocked_Contact</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.ISC_Disable_Case_Create__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ISC_Disable_Case_Create__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Case_Create</targetReference>
            </connector>
            <label>Blocked Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmDescription</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK( {!$Record.Subject}), &apos;No subject&apos;, {!$Record.Subject} )</expression>
    </formulas>
    <interviewLabel>Case - Create/Update (Fast) - Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create/Update (Fast) - Master Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Defaults</name>
        <label>Set Defaults</label>
        <locationX>578</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>Blank_Description</targetReference>
        </connector>
        <inputAssignments>
            <field>wkitsm__ManualPriority__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Description</name>
        <label>Set Description</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>frmDescription</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Description_2</name>
        <label>Set Description 2</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>frmDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISC_Description_Formatted__c</field>
            <value>
                <elementReference>frmDescription</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Description_3</name>
        <label>Set Description 3</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.ISC_Description_Formatted__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Description_4</name>
        <label>Set Description 4</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>ISC_Description_Formatted__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_or_Account_Blocked</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
