force-app/main/default/flows/Case_Manual_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_tmpCaseShare_to_varCaseShare</name>
        <label>Add tmpCaseShare to varCaseShare</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpCaseShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_tmpCaseShare_for_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_tmpCaseShare_for_Queue</name>
        <label>Copy 1 of Create tmpCaseShare for Queue</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>tmpCaseShare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Create_tmpCaseShare_for_Queue</name>
        <label>Create tmpCaseShare for Queue</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>tmpCaseShare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Current_Queue__r.Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_tmpCaseShare_to_varCaseShare</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Case - Manual - Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Manual - Sharing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Sharing</name>
        <label>Get Case Sharing</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_tmpCaseShare_for_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Sharing</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>tmpCaseShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
</Flow>
