force-app/main/default/flows/Case_Screen_Create_Incident.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varQueueSettingRawIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,&apos;{!Loop_Queue_ID_s}&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue_ID_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_1</name>
        <label>Copy 1 of Assignment 1</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varQueueSettingRawIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&apos;{!Loop_Queue_ID_s}&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue_ID_s</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_first_item</name>
        <label>Is first item</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assignment_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assignment_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varCaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varCasePriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmQueueSettingString</name>
        <dataType>String</dataType>
        <expression>if ( {!varQueueSettingRawIDs} = &quot;&quot;,&quot;System_Queue__c in (&apos;ABC&apos;)&quot;,&quot;System_Queue__c in (&quot;+{!varQueueSettingRawIDs}+&quot;)&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmSelectedQueue</name>
        <dataType>String</dataType>
        <expression>if ({!scnQueue.displayedValue} =&quot;&quot;, &quot;X&quot; ,{!scnQueue.selectedValue})</expression>
    </formulas>
    <interviewLabel>Case - Screen - Create Incident {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Screen - Create Incident</label>
    <loops>
        <name>Loop_Queue_ID_s</name>
        <label>Loop Queue ID&apos;s</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_User_Queues.colOutputSystemRecordID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_first_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Incident</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Incident_case</name>
        <label>Create Incident</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <assignRecordIdToReference>redirect</assignRecordIdToReference>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>scnContact.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>scnDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISC_Category__c</field>
            <value>
                <elementReference>scnCategory.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISC_Current_Queue__c</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISC_Description_Formatted__c</field>
            <value>
                <elementReference>scnDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>scnOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>scnPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Dn000000AvrlIAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>scnTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Incident_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scnQueue.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISC_Queue_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Incident</name>
        <label>Create Incident</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <fields>
            <name>Create_Incident_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Incident_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>scnTitle</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>scnDescription</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Incident_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>scnContact</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>splitSearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>ISC_Display_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ISCTest</name>
                    <extensionName>c:ISCquickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>ISC_Display_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact ISC</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>splitSearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>scnQueue</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Queue</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>ISC_Queue_Setting__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>splitSearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>valueFieldName</name>
                        <value>
                            <stringValue>System_Queue__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>cmpQueue</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <elementReference>frmQueueSettingString</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>scnCategory</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>ISC_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Full_Path__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>splitSearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>cmpCategory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>Queue__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentId</name>
                        <value>
                            <stringValue>cmpQueue</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Child</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>(Visibility__c = &apos;All&apos; or Visibility__c = &apos;Agent Only&apos;)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>scnQueue.displayedValue</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>scnPlaceholder</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>ISC_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Full_Path__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Name = &apos;xxx&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>scnQueue.displayedValue</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>scnOrigin</name>
                    <choiceReferences>varCaseOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Origin</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>scnPriority</name>
                    <choiceReferences>varCasePriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Incident</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Queues</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_User_Queues</name>
        <label>Get User Queues</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Loop_Queue_ID_s</targetReference>
        </connector>
        <flowName>Helper_User_ID_to_Queue_IDs</flowName>
        <inputAssignments>
            <name>varInputUserID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>redirect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>close</stringValue>
        </value>
    </variables>
    <variables>
        <name>varLoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varQueueSettingRawIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
