force-app/main/default/flows/Category_Screen_Bulk_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Raw_Input_to_Row_Collection</name>
        <label>Convert Raw Input to Row Collection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>ConvertCSVToStringCollection_CP</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_rows</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>inpCategoryData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>\n</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection_CP</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_row_to_collection</name>
        <label>Convert row to collection</label>
        <locationX>748</locationX>
        <locationY>674</locationY>
        <actionName>ConvertCSVToStringCollection_CP</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_Temp_Variables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>Loop_rows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>###</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection_CP</nameSegment>
        <outputParameters>
            <assignToReference>tmpConvertedRows</assignToReference>
            <name>stringCollection</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_row_to_collection_new_transaction</name>
        <label>Convert row to collection - New Transaction</label>
        <locationX>484</locationX>
        <locationY>674</locationY>
        <actionName>ConvertCSVToStringCollection_CP</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_varBatchCount</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>Loop_rows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>###</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection_CP</nameSegment>
        <outputParameters>
            <assignToReference>tmpConvertedRows</assignToReference>
            <name>stringCollection</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_tmpValue</name>
        <label>Assign tmpValue</label>
        <locationX>836</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>tmpValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Row_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_tmpParentID</name>
        <label>Assign to tmpParentID</label>
        <locationX>704</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>tmpParentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Category.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Row_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_varBatchCount</name>
        <label>Increase varBatchCount</label>
        <locationX>616</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varBatchCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpConvertedRows</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Batch_Limit_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Temp_Variables</name>
        <label>Reset Temp Variables</label>
        <locationX>616</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>tmpParentID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpPrevious</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Row_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_varBatchCount</name>
        <label>Reset varBatchCount</label>
        <locationX>484</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varBatchCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Temp_Variables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Batch_Limit_Reached</name>
        <label>Check if Batch Limit Reached</label>
        <locationX>616</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Convert_row_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Batch &lt; 15</defaultConnectorLabel>
        <rules>
            <name>Batch_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBatchCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_row_to_collection_new_transaction</targetReference>
            </connector>
            <label>Batch = 15</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Category_Found</name>
        <label>Check if Category Found</label>
        <locationX>836</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Create_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Category</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_tmpParentID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Category - Screen - Bulk Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Category - Screen - Bulk Upload</label>
    <loops>
        <name>Loop_Row_collection</name>
        <label>Loop Row collection</label>
        <locationX>616</locationX>
        <locationY>1082</locationY>
        <collectionReference>tmpConvertedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_tmpValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_rows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_rows</name>
        <label>Loop rows</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Convert_Raw_Input_to_Row_Collection.stringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_varBatchCount</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Category</name>
        <label>Create Category</label>
        <locationX>968</locationX>
        <locationY>1514</locationY>
        <assignRecordIdToReference>tmpParentID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Row_collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>tmpValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent__c</field>
            <value>
                <elementReference>tmpParentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <elementReference>qlkQueue1.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>ISC_Category__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Category</name>
        <label>Check Category</label>
        <locationX>836</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Category_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tmpValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tmpParentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISC_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scnDataEntry</name>
        <label>scnDataEntry</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Convert_Raw_Input_to_Row_Collection</targetReference>
        </connector>
        <fields>
            <name>txtGuideText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Bulk Upload&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Paste entries in to box below, one hierarchy per row.  Levels separated by ###&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;E.G.:  Level1###Level2###Level3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inpCategoryData</name>
            <fieldText>Input</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>qlkQueue1</name>
            <extensionName>c:ISCquickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ISC_System_Record__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>splitSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Type__c = &apos;Queue&apos;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scnDataEntry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>tmpConvertedRows</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpPrevious</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmpValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBatchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
