force-app/main/default/flows/Category_Create_Update_Calc_Paths_and_Has_Children.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_varRecordCount</name>
        <label>Set varRecordCount</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Prior_Parents_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Children_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Children_Found</name>
        <label>Children Found</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Set_Parent_Has_Children_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Children</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Has_Children_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Parents_need_Has_Children_updating</name>
        <label>Do Parents need Has Children updating</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No Parent Change</defaultConnectorLabel>
        <rules>
            <name>Parent_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_to_Has_Children</targetReference>
            </connector>
            <label>Parent Added</label>
        </rules>
        <rules>
            <name>Parent_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Parents_Children</targetReference>
            </connector>
            <label>Parent Removed</label>
        </rules>
        <rules>
            <name>Parent_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Parent__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_to_Has_Children_2</targetReference>
            </connector>
            <label>Parent Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Path_need_updating</name>
        <label>Does Path need updating</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Path_Update</name>
            <conditionLogic>1 or ((2 or 3) and 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Full_Path__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Parent__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Paths</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmFullPath</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!frmPath}),{!$Record.Name},{!frmPath} &amp; &quot; &gt; &quot; &amp; {!$Record.Name})</expression>
    </formulas>
    <formulas>
        <name>frmPath</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Parent__c}),&quot;&quot;,IF(ISBLANK({!$Record.Parent__r.Parent_Path__c}),{!$Record.Parent__r.Name},{!$Record.Parent__r.Parent_Path__c} &amp; &quot; &gt; &quot; &amp; {!$Record.Parent__r.Name}))</expression>
    </formulas>
    <interviewLabel>Category - Create / Update - Calc Paths and Has Children {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Category - Create / Update - Calc Paths and Has Children</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Prior_Parents_Children</name>
        <label>Get Prior Parents Children</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_varRecordCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Parent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ISC_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Full_Path_on_Children</name>
        <label>Clear Full Path on Children</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Do_Parents_need_Has_Children_updating</targetReference>
        </connector>
        <inputAssignments>
            <field>Full_Path__c</field>
        </inputAssignments>
        <inputReference>$Record.Children__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Parent_Has_Children_False</name>
        <label>Set Parent Has Children False</label>
        <locationX>534</locationX>
        <locationY>1379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Parent__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Children__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ISC_Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Parent_Has_Children_True</name>
        <label>Set Parent Has Children True</label>
        <locationX>270</locationX>
        <locationY>1379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Parent__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Children__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ISC_Category__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Parent_to_Has_Children</name>
        <label>Set Parent to Has Children</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Has_Children__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Parent_to_Has_Children_2</name>
        <label>Set Parent to Has Children</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Prior_Parents_Children</targetReference>
        </connector>
        <inputAssignments>
            <field>Has_Children__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Paths</name>
        <label>Update Paths</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Clear_Full_Path_on_Children</targetReference>
        </connector>
        <inputAssignments>
            <field>Full_Path__c</field>
            <value>
                <elementReference>frmFullPath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Path__c</field>
            <value>
                <elementReference>frmPath</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Path_need_updating</targetReference>
        </connector>
        <object>ISC_Category__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
