force-app/main/default/flows/Dev_Attachment_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Home_page</name>
        <label>Home page</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <actionName>c:Homepage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:Homepage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Set_Status_to_Pending_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>varApprovalProcessName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Records_into_a_Collection</name>
        <label>Add Records into a Collection</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varAttachmentContentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAttachmentContent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Request</name>
        <label>Assign Account Request</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>  {!Require_Change} - {!First_Name} {!Last_Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> Assignment Change  {!Require_Change}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ISC_System_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a14DK000001YuHmYAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Description_Formatted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_and_Request_Record</name>
        <label>Link File and Request Record</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varAttachmentContent.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Attachment_component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttachmentContent.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseNumber.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Count_for_Attachment</name>
        <label>Set Record Count for Attachment</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varAttachment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Pending_Approval</name>
        <label>Set Status to Pending Approval</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Record_Count_for_Attachment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Allocation_and_Producers</name>
        <choiceText>Allocation and Producers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Allocation and Producers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Anuj_Srivastav</name>
        <choiceText>Anuj Srivastav</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anuj Srivastav</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assignment_Extension</name>
        <choiceText>Assignment Extension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assignment Extension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Atul_Gambhir</name>
        <choiceText>Atul Gambhir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Atul Gambhir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bill_Rates</name>
        <choiceText>Bill Rates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bill Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Changed_Start_Date</name>
        <choiceText>Client Changed Start Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Changed Start Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Onboarding_Delay</name>
        <choiceText>Client Onboarding Delay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Onboarding Delay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Withdrawn_Position</name>
        <choiceText>Client Withdrawn Position</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Withdrawn Position</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract_to_Hire</name>
        <choiceText>Contract to Hire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract to Hire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Convert_to_Hire</name>
        <choiceText>Convert to Hire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Convert to Hire</stringValue>
        </value>
    </choices>
    <choices>
        <name>CR1_Assignment_Start_Date_Delay</name>
        <choiceText>Assignment Start Date Delay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assignment Start Date Delay</stringValue>
        </value>
    </choices>
    <choices>
        <name>CR1_Placement_Status_Change</name>
        <choiceText>Placement Status Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Placement Status Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Level_Changes</name>
        <choiceText>Customer Level Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Level Changes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delay_Due_to_Covid_19</name>
        <choiceText>Delay Due to Covid-19</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delay Due to Covid-19</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delay_with_Background_Check</name>
        <choiceText>Delay with Background Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delay with Background Check</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delay_with_Drug_Test_or_Health_Screenings</name>
        <choiceText>Delay with Drug Test or Health Screenings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delay with Drug Test or Health Screenings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delay_with_IC_Onboarding</name>
        <choiceText>Delay with IC Onboarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delay with IC Onboarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delay_with_Paperworks_Revisions</name>
        <choiceText>Delay with Paperworks/Revisions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delay with Paperworks/Revisions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delay_with_VCM_Onboarding</name>
        <choiceText>Delay with VCM Onboarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delay with VCM Onboarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delay_with_VMS</name>
        <choiceText>Delay with VMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delay with VMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Direct_Hire</name>
        <choiceText>Direct Hire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Hire</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_Assignment</name>
        <choiceText>End of Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End Assignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Harshit_Srivastava</name>
        <choiceText>Harshit Srivastava</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Harshit Srivastava</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hire_Started_Early</name>
        <choiceText>Hire Started Early</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hire Started Early</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hire_Unable_to_Start_on_Targeted_Date</name>
        <choiceText>Hire Unable to Start on Targeted Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hire Unable to Start on Targeted Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hire_Unresponsive</name>
        <choiceText>Hire Unresponsive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hire Unresponsive</stringValue>
        </value>
    </choices>
    <choices>
        <name>International_Verification_Searches</name>
        <choiceText>International Verification Searches</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International Verification Searches</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invalid_Placement</name>
        <choiceText>Invalid Placement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid Placement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kunal_Arora</name>
        <choiceText>Kunal Arora</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kunal Arora</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Placement_Created</name>
        <choiceText>New Placement Created</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Placement Created</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nicole_Lowe</name>
        <choiceText>Nicole Lowe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nicole Lowe</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_PerDiem</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_SpecialBillRate</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_SpecialPayRate</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_Assignment_Change</name>
        <choiceText>On Assignment Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On Assignment Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_Hold</name>
        <choiceText>On-Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On-Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Onboarding_Delayed_Client_Delayed_Start_Date</name>
        <choiceText>Onboarding Delayed &amp; Client Delayed Start Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onboarding Delayed &amp; Client Delayed Start Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_Rates</name>
        <choiceText>Pay Rates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay Rates</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayandBillRate</name>
        <choiceText>Pay and Bill Rates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay and Bill Rates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Perdiem</name>
        <choiceText>Perdiem</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Perdiem</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quick_Start</name>
        <choiceText>Quick Start</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Start</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ramya_Arkalgud</name>
        <choiceText>Ramya Arkalgud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ramya Arkalgud</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satishkumar_Mamidala</name>
        <choiceText>Satishkumar Mamidala</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satishkumar Mamidala</stringValue>
        </value>
    </choices>
    <choices>
        <name>Time_Sheet_Approvers</name>
        <choiceText>Time Sheet Approvers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Time Sheet Approvers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trish_Braun</name>
        <choiceText>Trish Braun</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trish Braun</stringValue>
        </value>
    </choices>
    <choices>
        <name>Visa_Status_Issue_Delay</name>
        <choiceText>Visa Status Issue/Delay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visa Status Issue/Delay</stringValue>
        </value>
    </choices>
    <choices>
        <name>Worker_not_Interested_in_the_Assignment</name>
        <choiceText>Worker not Interested in the Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Worker not Interested in the Assignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_PerDiem</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_SpecialBillRate</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_SpecialPayRate</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>varAssignmentRules</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova Case Assignment Rule v2</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Needs_Approval</name>
        <label>Case Needs Approval</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Record_Count_for_Attachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Require_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pay_Rates</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Require_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PayandBillRate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_null_Value</name>
        <label>Check for null Value</label>
        <locationX>358</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Link_File_and_Request_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentItemfromLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_Attachment_component</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <description>ISBLANK but not mandatory</description>
    <environments>Default</environments>
    <formulas>
        <name>Effective_Date_to_TXT</name>
        <dataType>String</dataType>
        <expression>TEXT({!Effective_Start_Date_Screen})</expression>
    </formulas>
    <formulas>
        <name>End_Date_to_TXT</name>
        <dataType>String</dataType>
        <expression>TEXT({!End_Date})</expression>
    </formulas>
    <formulas>
        <description>Allocation and Producers</description>
        <name>varAllocationandProducers</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Allocation and Producers&apos;,&quot;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varAssignmentExtension</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Assignment Extension&apos;,&quot;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varAssignmentStartDateDelay</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Assignment Start Date Delay&apos;,&quot;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varBillRates</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Bill Rates&apos;,&quot;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Contract to Hire</description>
        <name>varContracttoHire</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Contract to Hire&apos;,&quot;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varCurrentItemfromLoop</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Loop_for_Attachment_component}), 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Customer Level Changes</description>
        <name>varCustomerLevelChanges</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Customer Level Changes&apos;,&quot;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula for End Assignment</description>
        <name>varEndAssignment</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;End Assignment&apos;, &quot;&lt;b&gt;Assignment Change Request: End Assignment&lt;/b&gt;&lt;br&gt;&quot; + 
&quot;Assignment End Date &quot; + {!End_Date_to_TXT} + &quot;&lt;br&gt;&quot; +
&quot;Reason: &quot; + {!Reason_EndofAssignment_Screen}
, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varOthers</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Others&apos;,&quot;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula for Pay and Bill Rage</description>
        <name>varPayandBillRate</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Pay and Bill Rate&apos;, &quot;&lt;b&gt;Assignment Change Request: Pay and Bill Rate&lt;/b&gt;&lt;br&gt;&quot; + 
&quot;Change Effective Date &quot; + {!Effective_Date_to_TXT} + &quot;&lt;br&gt;&quot; +
&quot;New STD Bill Rate &quot; + {!New_STD_Bill_Rate} + &quot;&lt;br&gt;&quot; +
&quot;New OT Bill Rate &quot; + {!New_OT_Bill_Rate} + &quot;&lt;br&gt;&quot; +
&quot;New TD Bill Rate &quot; + {!New_DT_Bill_Rate} + &quot;&lt;br&gt;&quot; +
&quot;New STD Pay Rate &quot; + {!New_STD_Pay_Rate} + &quot;&lt;br&gt;&quot; +
&quot;New OT Pay Rate &quot; + {!New_OT_Pay_Rate} + &quot;&lt;br&gt;&quot; +
&quot;New TD Pay Rate &quot; + {!New_DT_Pay_Rate} 


, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula for Pay Rates</description>
        <name>varPayRates</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Pay Rates&apos;, &quot;&lt;b&gt;Assignment Change Request: Pay Rates&lt;/b&gt;&lt;br&gt;&quot; +
&quot;Change Effective Date &quot; + {!Effective_Date_to_TXT} + &quot;&lt;br&gt;&quot; +
&quot;New STD Pay Rate &quot; + {!New_STD_Pay_Rate} + &quot;&lt;br&gt;&quot; +
&quot;New OT Pay Rate &quot; + {!New_OT_Pay_Rate} + &quot;&lt;br&gt;&quot; +
&quot;New TD Pay Rate &quot; + {!New_DT_Pay_Rate} 

, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Perdiem</description>
        <name>varPerdiem</name>
        <dataType>String</dataType>
        <expression>&quot;Placement Status Change Assignment Start Date Delay&quot;</expression>
    </formulas>
    <formulas>
        <name>varPlacementStatusChange</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Placement Status Change&apos;,  
&quot;Effective Date: &quot; + {!Effective_Date_to_TXT} + &quot;&lt;br&gt;&quot; +
&quot;Placement Status Change: &quot; + {!CR1_Placement_Status_Change} + &quot;&lt;br&gt;&quot; +
&quot;Reason: &quot; + {!Reason_PlacementStatusChange_Screen} + &quot;&lt;br&gt;&quot; 
 ,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varRequestDetails</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt;Request&lt;/b&gt;&lt;br&gt;&quot; + 
&quot;&lt;b&gt;Placement ID: &lt;/b&gt;&quot; + {!Placement_ID} + &quot;&lt;br&gt;&quot; +
&quot;&lt;b&gt;First Name: &lt;/b&gt;&quot; + {!First_Name} + &quot;&lt;br&gt;&quot; +
&quot;&lt;b&gt;Last Name &lt;/b&gt;&quot; + {!Last_Name} + &quot;&lt;br&gt;&quot; +
&quot;&lt;b&gt;Comment: &lt;/b&gt;&quot; + {!Request_Summary_Screen} + &quot;&lt;br&gt;&quot; + 

IF ({!Require_Change} == &apos;Allocation and Producers&apos;,  {!varAllocationandProducers}, &quot;&quot;) +
IF ({!Require_Change} == &apos;Assignment Extension&apos;,  {!varAssignmentExtension}, &quot;&quot;) +
IF ({!Require_Change} == &apos;Assignment Start Date Delay&apos;,  {!varAssignmentStartDateDelay}, &quot;&quot;) +
IF ({!Require_Change} == &apos;Bill Rates&apos;,  {!varBillRates}, &quot;&quot;) +
IF ({!Require_Change} == &apos;Contract to Hire&apos;,  {!varContracttoHire}, &quot;&quot;) +
IF ({!Require_Change} == &apos;End Assignment&apos;,  {!varEndAssignment}, &quot;&quot;) +
IF ({!Require_Change} == &apos;Pay Rates&apos;,  {!varPayRates}, &quot;&quot;) +
IF ({!Require_Change} == &apos;Pay and Bill Rate&apos;,  {!varPayandBillRate}, &quot;&quot;) +
IF ({!Require_Change} == &apos;Placement Status Change&apos;,  {!varPlacementStatusChange} , &quot;&quot;) +
IF ({!Require_Change} == &apos;Time Sheet Approvers&apos;,  {!varTimeSheetApprovers} , &quot;&quot;) +


IF ({!Require_Change} == &apos;Others&apos;,  {!varOthers}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Time Sheet Approvers</description>
        <name>varTimeSheetApprovers</name>
        <dataType>String</dataType>
        <expression>IF( {!Require_Change} == &apos;Time Sheet Approvers&apos;,&quot;&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Dev - Attachment Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dev - Attachment Issue</label>
    <loops>
        <name>Loop_for_Attachment_component</name>
        <label>Loop for Attachment component</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionReference>varAttachment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_null_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>GetCaseNumber</targetReference>
        </connector>
        <inputReference>varCaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_from_Collection</name>
        <label>Create Records from Collection</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Attachment</targetReference>
        </connector>
        <inputReference>varAttachmentContentCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCaseNumber</name>
        <label>GetCaseNumber</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Needs_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Attachment</name>
        <label>Attachment</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConfirmationMessage</targetReference>
        </connector>
        <fields>
            <name>varRecordCount_Screen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varRecordCount</elementReference>
            </defaultValue>
            <fieldText>varRecordCount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationMessage</name>
        <label>ConfirmationMessage</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Home_page</targetReference>
        </connector>
        <fields>
            <name>RequestNumber</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(10, 157, 35); background-color: rgb(255, 255, 255);&quot;&gt;Account request with Case Number# {!GetCaseNumber.CaseNumber} has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fusion_Portal</name>
        <label>Fusion Portal</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Employee_to_Contact_Id</targetReference>
        </connector>
        <fields>
            <name>Requested_by</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Requester}﻿Requested By﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Submit</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Please select a different CR</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;Please submit a different CR&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Require_Change} = {!Perdiem}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPerdiem</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Require_Change</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;Require is {!Require_Change}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fusion_Portal_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conversion_Fee</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Conversion Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You cannot add a Fee and Salary&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Conversion_Salary} &gt; 0.01</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conversion_Salary</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Conversion Salary</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You cannot add a Fee and Salary&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Conversion_Fee} &gt; 0.01</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contract_to_Hire</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Require_Change</name>
                    <choiceReferences>CR1_Placement_Status_Change</choiceReferences>
                    <choiceReferences>CR1_Assignment_Start_Date_Delay</choiceReferences>
                    <choiceReferences>End_Assignment</choiceReferences>
                    <choiceReferences>Pay_Rates</choiceReferences>
                    <choiceReferences>Bill_Rates</choiceReferences>
                    <choiceReferences>PayandBillRate</choiceReferences>
                    <choiceReferences>Time_Sheet_Approvers</choiceReferences>
                    <choiceReferences>Allocation_and_Producers</choiceReferences>
                    <choiceReferences>Contract_to_Hire</choiceReferences>
                    <choiceReferences>Assignment_Extension</choiceReferences>
                    <choiceReferences>Others</choiceReferences>
                    <choiceReferences>Customer_Level_Changes</choiceReferences>
                    <choiceReferences>Perdiem</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Request_Summary_Screen</name>
                    <fieldText>Request Summary</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fusion_Portal_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Placement_ID</name>
                    <dataType>String</dataType>
                    <fieldText>Placement ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Employee ID can be found on the Oracle Portal&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Others</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Customer_Level_Changes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_NM</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_NM</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Placement_ID_NM</name>
                    <dataType>String</dataType>
                    <fieldText>Placement ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Customer_Level_Changes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Others</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Top_Line</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#CDCDCD</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PayandBillRate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Pay_Rates</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Effective_Start_Date_Screen</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pay_Rates</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bill_Rates</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CR1_Placement_Status_Change</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Allocation_and_Producers</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Perdiem</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Effective_Date_TSA</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Time_Sheet_Approvers</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Target_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Target Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_to_Hire</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Target End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>End_Assignment</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Assignment_Extension</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Effective_End_Date_Screen</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bill_Rates</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pay_Rates</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Perdiem</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>After_Date</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fusion_Portal_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Service_Manager</name>
                    <dataType>String</dataType>
                    <fieldText>Client Service Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Non_Commissionable_Recruiter</name>
                    <dataType>String</dataType>
                    <fieldText>Non Commissionable Recruiter</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Non_Commissionable_Sales_Person</name>
                    <dataType>String</dataType>
                    <fieldText>Non Commissionable Sales Person</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Recruiter_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Recruiter Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Recruiter_Override_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Recruiter Override Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Recruiter_Percentage</name>
                    <dataType>Number</dataType>
                    <fieldText>Recruiter Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Recruiter_Secondary_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Recruiter Secondary Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Recruiter_Secondary_Percentage</name>
                    <dataType>Number</dataType>
                    <fieldText>Recruiter Secondary Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recruiter_Team</name>
                    <dataType>String</dataType>
                    <fieldText>Recruiter Team</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sales_Person</name>
                    <dataType>String</dataType>
                    <fieldText>Sales Person</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sales_Person_Percentage</name>
                    <dataType>Number</dataType>
                    <fieldText>Sales Person - Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Sales_Person_Secondary</name>
                    <dataType>String</dataType>
                    <fieldText>Sales Person - Secondary</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sales_Person_Secondary_Percentage</name>
                    <dataType>Number</dataType>
                    <fieldText>Sales Person - Secondary - Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Sales_Person_Override</name>
                    <dataType>String</dataType>
                    <fieldText>Sales Person Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Allocation_and_Producers</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Assignment_Start_Date_Delay_Section</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Assignment Start Date Delay&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CR1_Assignment_Start_Date_Delay</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Start_Date_ASDD_Screen</name>
                    <dataType>Date</dataType>
                    <fieldText>Actual Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Change_Reason_ASDD_Screen</name>
                    <choiceReferences>Client_Changed_Start_Date</choiceReferences>
                    <choiceReferences>Client_Onboarding_Delay</choiceReferences>
                    <choiceReferences>Delay_Due_to_Covid_19</choiceReferences>
                    <choiceReferences>Delay_with_Background_Check</choiceReferences>
                    <choiceReferences>Delay_with_Drug_Test_or_Health_Screenings</choiceReferences>
                    <choiceReferences>Delay_with_IC_Onboarding</choiceReferences>
                    <choiceReferences>Delay_with_Paperworks_Revisions</choiceReferences>
                    <choiceReferences>Delay_with_VCM_Onboarding</choiceReferences>
                    <choiceReferences>Delay_with_VMS</choiceReferences>
                    <choiceReferences>Hire_Started_Early</choiceReferences>
                    <choiceReferences>Hire_Unable_to_Start_on_Targeted_Date</choiceReferences>
                    <choiceReferences>Hire_Unresponsive</choiceReferences>
                    <choiceReferences>International_Verification_Searches</choiceReferences>
                    <choiceReferences>N_A</choiceReferences>
                    <choiceReferences>On_Assignment_Change</choiceReferences>
                    <choiceReferences>Onboarding_Delayed_Client_Delayed_Start_Date</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <choiceReferences>Quick_Start</choiceReferences>
                    <choiceReferences>Visa_Status_Issue_Delay</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Change Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CR1_Assignment_Start_Date_Delay</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContracttoHire</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Contract to Hire&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Requester.LastName</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>utermehle</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndofAssignment</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;End of Assignment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Requester.LastName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>utermehle</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_EndofAssignment_Screen</name>
                    <choiceReferences>Convert_to_Hire</choiceReferences>
                    <choiceReferences>Direct_Hire</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>End_Assignment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_STD_Bill_Rate</name>
                    <dataType>String</dataType>
                    <fieldText>Bill Rate Standard</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bill_Rates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_OT_Bill_Rate</name>
                    <dataType>String</dataType>
                    <fieldText>Bill Rate Overtime</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bill_Rates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_DT_Bill_Rate</name>
                    <dataType>String</dataType>
                    <fieldText>Bill Rate Double Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bill_Rates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_STD_Pay_Rate</name>
                    <dataType>String</dataType>
                    <fieldText>Pay Rate Standard</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pay_Rates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_OT_Pay_Rate</name>
                    <dataType>String</dataType>
                    <fieldText>Pay Rate Overtime</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pay_Rates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_DT_Pay_Rate</name>
                    <dataType>String</dataType>
                    <fieldText>Pay Rate Double Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pay_Rates</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_want_to_update_Special_Bill</name>
                    <choiceReferences>No_SpecialBillRate</choiceReferences>
                    <choiceReferences>Yes_SpecialBillRate</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No_SpecialBillRate</defaultSelectedChoiceReference>
                    <fieldText>Do you want to update Special Bill Rates</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 OR 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bill_Rates</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Do_you_want_to_update_Special_Pay</name>
                    <choiceReferences>No_SpecialPayRate</choiceReferences>
                    <choiceReferences>Yes_SpecialPayRate</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No_SpecialPayRate</defaultSelectedChoiceReference>
                    <fieldText>Do you want to update Special Pay Rates</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pay_Rates</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Pay_Rates</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Bill_Rates</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PayandBillRate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>After_Pay</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Bill_Rates</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Pay_Rates</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PayandBillRate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Health_Welfare_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Health &amp; Welfare Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Holiday_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Holiday Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Meal_Premium_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Meal Premium Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mileage_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Mileage Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Night_Differential_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Night Differential Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Night_Differential_DT_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Night Differential DT Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Night_Differential_OT_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Night Differential OT Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>On_Call_Pager_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>On Call/Pager Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sick_Pay_Billable_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Sick Pay Billable Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sick_Pay_Non_Billable_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Sick Pay Non-Billable Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vacation_Billable_Bill</name>
                    <dataType>String</dataType>
                    <fieldText>Vacation Billable Bill</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Bill_Rates</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PayandBillRate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_you_want_to_update_Special_Bill</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_SpecialBillRate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Health_Welfare_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Health &amp; Welfare Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Holiday_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Holiday Pay $</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Meal_Premium_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Meal Premium Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mileage_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Mileage Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Night_Differential_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Night Differential Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Night_Differential_DT_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Night Differential DT Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Night_Differential_OT_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Night Differential OT Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>On_Call_Pager_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>On Call/Pager Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sick_Pay_Billable_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Sick Pay Billable Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sick_Pay_Non_Billable_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Sick Pay Non-Billable Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vacation_Billable_Pay</name>
                    <dataType>String</dataType>
                    <fieldText>Vacation Billable Pay</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Pay_Rates</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PayandBillRate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Yes_SpecialPayRate</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_Per_Diem_Billable</name>
                    <choiceReferences>No_PerDiem</choiceReferences>
                    <choiceReferences>Yes_PerDiem</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is Per Diem Billable</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Per_Diem_Rate</name>
                    <dataType>String</dataType>
                    <fieldText>Per Diem Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Perdiem</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PlacementStatusChange</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Placement Status Change&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Requester.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>utermehle</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Placement_Status_Screen</name>
                    <choiceReferences>On_Hold</choiceReferences>
                    <choiceReferences>Cancelled</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Placement Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_PlacementStatusChange_Screen</name>
                    <choiceReferences>Client_Withdrawn_Position</choiceReferences>
                    <choiceReferences>Invalid_Placement</choiceReferences>
                    <choiceReferences>New_Placement_Created</choiceReferences>
                    <choiceReferences>Others</choiceReferences>
                    <choiceReferences>Worker_not_Interested_in_the_Assignment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CR1_Placement_Status_Change</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TimeSheetApprovers</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Time Sheet Approvers&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Requester.LastName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>utermehle</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrimaryApprover</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Primary Approver:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Primary_Approver_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Primary_Approver_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Primary_Approver_Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Primary_Approver_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fusion_Portal_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AlternateApprover</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Alternate Approver&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Alternate_Approver_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Alternate_Approver_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Alternate_Approver_Email_address</name>
                    <dataType>String</dataType>
                    <fieldText>Email address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Alternate_Approver_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Time_Sheet_Approvers</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fusion_Portal_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SupportingDocuments</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supporting Documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>visibleToAllUsers</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_visibleToAllUsers</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderFilesBelow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_renderFilesBelow</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowMultiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowMultiple</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <elementReference>$Flow.InterviewGuid</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varAttachment</assignToReference>
                        <name>contentDocumentIds</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bill_Rates</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pay_Rates</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PayandBillRate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Require_Change</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Allocation_and_Producers</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Summary_Others</name>
            <fieldText>Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Others</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description_CustomerLevelChanges</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Require_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Customer_Level_Changes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SLA_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The SLA is 24H &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;business&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Escalation_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Information to user submitting the request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fusion_Portal_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fusion_Portal_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fusion_Portal</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Employee_to_Contact_Id</name>
        <label>Employee to Contact Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assign_Account_Request</targetReference>
        </connector>
        <flowName>Employee_Manual_Create</flowName>
        <outputAssignments>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Requester</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The approval process</description>
        <name>varApprovalProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case_Assignment_Change_Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAttachment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAttachmentContent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varAttachmentContentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
