force-app/main/default/flows/Email_Category_Map_Validate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <name>Invalid_Category</name>
        <label>Invalid Category</label>
        <locationX>534</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>GetSubCategoryDefinition</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please enter a valid category name</errorMessage>
            <fieldSelection>Category__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Invalid_EmailToCase</name>
        <label>Invalid EmailToCase</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>GetServiceDefinition</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please enter a valid EmalToCase address</errorMessage>
            <fieldSelection>EmailToCase_Address__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Invalid_OrgWide</name>
        <label>Invalid OrgWide</label>
        <locationX>402</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Get_EmailServiceAddress</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please enter a valid org wide email address</errorMessage>
            <fieldSelection>Org_Email__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Invalid_Service</name>
        <label>Invalid Service</label>
        <locationX>402</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>GetCategoryDefinition</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please enter a valid service name</errorMessage>
            <fieldSelection>Service__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Invalid_Sub_Category</name>
        <label>Invalid Sub Category</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <customErrorMessages>
            <errorMessage>Please enter a valid sub category</errorMessage>
            <fieldSelection>Subcategory__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Missing_Service</name>
        <label>Missing Service</label>
        <locationX>94</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>GetSubCategoryDefinition</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>You cannot enter a Category without a Service</errorMessage>
            <fieldSelection>Category__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Missing_Sub_Category</name>
        <label>Missing Sub Category</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <customErrorMessages>
            <errorMessage>You cannot enter a Sub Category without a Category</errorMessage>
            <fieldSelection>Subcategory__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Sub_Category</name>
        <label>Check Sub Category</label>
        <locationX>314</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>Invalid_Sub_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subcategory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Sub_Category</targetReference>
            </connector>
            <label>Missing Category</label>
        </rules>
        <rules>
            <name>Yes_Sub</name>
            <conditionLogic>(1 AND 2 AND 3 AND 5) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subcategory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSubCategoryDefinition.DurableId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subcategory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSubCategoryDefinition.Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subcategory__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Address</name>
        <label>Found Address</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Invalid_OrgWide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrgWideEmailAddress.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EmailServiceAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Category</name>
        <label>Valid Category</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Invalid_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Blank_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Service</targetReference>
            </connector>
            <label>Blank Service</label>
        </rules>
        <rules>
            <name>Yes_Category</name>
            <conditionLogic>(1 AND 2 AND 4 AND 5) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCategoryDefinition.DurableId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCategoryDefinition.Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Category__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSubCategoryDefinition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Service</name>
        <label>Valid Service</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Invalid_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Service</name>
            <conditionLogic>(1 AND 2 AND 4) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetServiceDefinition.DurableId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetServiceDefinition.Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Service__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCategoryDefinition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Services_Address</name>
        <label>Valid Services Address</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Invalid_EmailToCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Services_Address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_EmailServiceAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailToCase_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetServiceDefinition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmDomain</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.EmailToCase_Address__c}), &apos;&apos;, MID({!$Record.EmailToCase_Address__c}, FIND(&apos;@&apos;, {!$Record.EmailToCase_Address__c})+1,500))</expression>
    </formulas>
    <formulas>
        <name>frmLocalPart</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.EmailToCase_Address__c}), &apos;&apos;, LEFT({!$Record.EmailToCase_Address__c}, FIND(&apos;@&apos;, {!$Record.EmailToCase_Address__c})-1))</expression>
    </formulas>
    <interviewLabel>Email Category Map - Validate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Category Map - Validate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EmailServiceAddress</name>
        <label>Get EmailServiceAddress</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Services_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocalPart</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmLocalPart</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailDomainName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmDomain</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailServicesAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrgWideEmailAddress</name>
        <label>Get OrgWideEmailAddress</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Org_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCategoryDefinition</name>
        <label>GetCategoryDefinition</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case.00NDn00000hQ3JX</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServiceDefinition</name>
        <label>GetServiceDefinition</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case.00NDn00000hQ3JJ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubCategoryDefinition</name>
        <label>GetSubCategoryDefinition</label>
        <locationX>314</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sub_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case.00NDn00000hQ3JY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.Subcategory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OrgWideEmailAddress</targetReference>
        </connector>
        <object>Email_Category_Map__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
