force-app/main/default/flows/Helper_User_ID_to_Queue_IDs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_colOutputQueueID_and_colOutputSystemRecordID</name>
        <label>Add to colOutputQueueID and colOutputSystemRecordID</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>colOutputSystemRecordID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Queue_Setting.System_Queue__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOutputQueueID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Queue_Setting.Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOutputQueueSettingID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Queue_Setting.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queue_Setting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_colTempGroups</name>
        <label>Add to colTempGroups</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>colTempGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Groups.GroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_colTempQueues</name>
        <label>Add to colTempQueues</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>colTempQueues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Groups.GroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_colBlank_to_ColPendingGroups</name>
        <label>Assign colBlank to ColPendingGroups</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>colPendingGroups</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_colTempGroups_to_colPendingGroups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_colBlank_to_colTempGroups</name>
        <label>Assign colBlank to colTempGroups</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>colTempGroups</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Are_there_groups_to_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_ID_to_colPendingGroups</name>
        <label>Assign User ID to colPendingGroups</label>
        <locationX>424</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>colPendingGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInputUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_groups_to_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_colTempGroups_to_colPendingGroups</name>
        <label>Copy colTempGroups to colPendingGroups</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>colPendingGroups</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colTempGroups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_colBlank_to_colTempGroups</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_groups_to_process</name>
        <label>Are there groups to process</label>
        <locationX>424</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Are_there_Queues_to_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colPendingGroups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Groups_from_colPendingGroups</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Queues_to_process</name>
        <label>Are there Queues to process</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colTempQueues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Setting</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assignable</name>
        <label>Assignable</label>
        <locationX>886</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Queue_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Assignable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Queue_Setting.Agent_Assignable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allowed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Queue_Setting.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_colOutputQueueID_and_colOutputSystemRecordID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Group_a_Queue</name>
        <label>Is Group a Queue</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_to_colTempGroups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Groups.Group.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_colTempQueues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Helper - User ID to Queue IDs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Helper - User ID to Queue IDs</label>
    <loops>
        <name>Loop_Groups</name>
        <label>Loop Groups</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Groups_from_colPendingGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Group_a_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_colBlank_to_ColPendingGroups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Queue_Setting</name>
        <label>Loop Queue Setting</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Queue_Setting</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignable</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Groups_from_colPendingGroups</name>
        <label>Get Groups from colPendingGroups</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>colPendingGroups</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Setting</name>
        <label>Get Queue Setting</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Queue_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_ID__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colTempQueues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ISC_Queue_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_User_ID_to_colPendingGroups</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colBlank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colOutputQueueID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colOutputQueueSettingID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colOutputSystemRecordID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colPendingGroups</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTempGroups</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTempQueues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
