force-app/main/default/flows/Innova_Queue_Membership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Final_Update_List</name>
        <label>Final Update List</label>
        <locationX>50</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>varFinalList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRemovalLastComma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Queue_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_All_Queues</name>
        <label>Store All Queues</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>varUpdateList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStoreQueueName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreQueueNames</name>
        <label>StoreQueueNames</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>varStoreQueueName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStoreQueueName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Queue_Member_in_Queue</name>
        <label>Check Queue Member in Queue</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StoreQueueNames</targetReference>
            </connector>
            <label>If present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_User_Profile</name>
        <label>Decision for User Profile</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>comma</name>
        <dataType>String</dataType>
        <expression>&apos;,&apos;</expression>
    </formulas>
    <formulas>
        <name>varRemovalLastComma</name>
        <dataType>String</dataType>
        <expression>LEFT({!varUpdateList}, LEN({!varUpdateList})-1)+SUBSTITUTE(RIGHT({!varUpdateList},1), &quot;,&quot;,&quot;.&quot;)</expression>
    </formulas>
    <interviewLabel>Innova-Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova-Queue Membership</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Queue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Queue_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_All_Queues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Member</name>
        <label>Get Queue Member</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Queue_Member_in_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Queue_Record</name>
        <label>Update Queue Record</label>
        <locationX>50</locationX>
        <locationY>1284</locationY>
        <inputAssignments>
            <field>Innova_Queue_Membership__c</field>
            <value>
                <elementReference>varFinalList</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_for_User_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-09</startDate>
            <startTime>04:50:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varFinalList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStoreQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStoreQueueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varUpdateList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
