force-app/main/default/flows/Innova_Notifications_Notify_Contact_New_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Sending_Email_Notification</name>
        <label>Error Sending Email Notification</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>errors_servicecloud@innovasolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varOrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unable to send email notification on Email-to-case Case# {!Case.CaseNumber} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Contact_2</name>
        <label>Send Email to Contact 2</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Error_Sending_Email_Notification</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varOrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>varEmailTemplateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Contact_2_without_hyperlink</name>
        <label>Send Email to Contact 2 without hyperlink</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Sending_Email_Notification</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varOrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>varEmailTemplateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Email_Template_Id</name>
        <label>Set Email Template Id</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varEmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Contact_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_Id_without_hyperlink</name>
        <label>Set Email Template Id without hyperlink</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varEmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_without_hyperlink.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Contact_2_without_hyperlink</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_user_linked_to_contact</name>
        <label>check if user linked to contact</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_without_hyperlink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Contact.Innova_Unique_User_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contact</name>
        <label>Found Contact</label>
        <locationX>1172</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>NO - Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>YES_Found_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Org_Wide_Email_Address</targetReference>
            </connector>
            <label>YES - Found Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Email_Template</name>
        <label>Found Email Template</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No - Did Not Find Template</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Template_Id</targetReference>
            </connector>
            <label>Yes - Found Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Email_Template_without_hyperlink</name>
        <label>Found Email Template without hyperlink</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No - Did Not Find Template</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Template_without_hyperlink</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template_without_hyperlink.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Template_Id_without_hyperlink</targetReference>
            </connector>
            <label>Yes - Found Template without hyperlink</label>
        </rules>
    </decisions>
    <description>Added email template without hyperlink</description>
    <environments>Default</environments>
    <interviewLabel>Innova - Notifications - Notify Contact - New Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova - Notifications - Notify Contact - New Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_without_hyperlink</name>
        <label>Get Email Template without hyperlink</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Email_Template_without_hyperlink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailTemplateNameWithoutHyperlink</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Found_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>check_if_user_linked_to_contact</targetReference>
        </connector>
        <flowName>Innova_Get_Org_Wide_Email_Address</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOrgWideEmailAddress</assignToReference>
            <name>OrgWideEmailAddress</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Innova Case is Created Email Template_End_User</stringValue>
        </value>
    </variables>
    <variables>
        <name>varEmailTemplateNameWithoutHyperlink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Innova Case is Created Email Template_End_User without hyperlink</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOrgWideEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
