force-app/main/default/flows/Innova_Open_Task_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Case_Count</name>
        <label>Add Case Count</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAddTaskCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Task_Count</name>
        <label>Subtract Task Count</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSubtractTaskCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Task_Open_or_Completed</name>
        <label>Check for Task Open or Completed</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Task_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Count</targetReference>
            </connector>
            <label>If Task is created</label>
        </rules>
        <rules>
            <name>If_Task_is_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Related_Case__r.Innova_Open_Task_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Task_Count</targetReference>
            </connector>
            <label>If Task is completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Last_Task_Closed</name>
        <label>Check if Last Task Closed</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Check_Task_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Last_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Parent_Case</targetReference>
            </connector>
            <label>Check for Last Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Status</name>
        <label>Check Task Status</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closed_date_time_for_task</targetReference>
            </connector>
            <label>Is completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varAddTaskCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Innova_Related_Case__r.Innova_Open_Task_Count__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varSubtractTaskCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Innova_Related_Case__r.Innova_Open_Task_Count__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Innova - Open Task Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova - Open Task Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_Parent_Case</name>
        <label>Close Parent Case</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Check_Task_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Innova_Related_Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Innova_Open_Task_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__ResolutionDetails__c</field>
            <value>
                <stringValue>All Task Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__ResolutionType__c</field>
            <value>
                <stringValue>All Task Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Count</name>
        <label>Update Case Count</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Check_if_Last_Task_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Innova_Related_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Innova_Open_Task_Count__c</field>
            <value>
                <elementReference>varNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closed_date_time_for_task</name>
        <label>Update Closed date/time for task</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Innova_Closed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Task_Open_or_Completed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Innova_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Innova_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Innova_ITSC_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
