force-app/main/default/flows/Innova_Signature_Template_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Request_Record_with_case_assignment_rule</name>
        <label>Create Request Record with case assignment rule</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>CaseCreationUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>varCaserecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ruleName</name>
            <value>
                <stringValue>Innova Case Assignment Rule v2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CaseCreationUtil</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Homepage</name>
        <label>Homepage</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <actionName>c:Homepage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:Homepage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Record_Into_Collection</name>
        <label>Add Record Into Collection</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_In_Case_Record_Variable</name>
        <label>Assign Value In Case Record Variable</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCaserecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ContactId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.wkitsm__ServiceProvider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>End User Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.Innova_Brand1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBrand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.Innova_Service_Request_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signature Template</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.Innova_Service_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceRequestDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Signature Request For - {!varName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Signature Request - Details can be found in Service Request Details section</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.wkitsm__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.wkitsm__Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaserecord.Innova_On_Behalf_Of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestedFor.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request_Record_with_case_assignment_rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Assignment</name>
        <label>Link Assignment</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Attachment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_Into_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_New_Alternate_Signature_Client</name>
        <choiceText>Additional Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAC_India</name>
        <choiceText>APAC (India)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC (India)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Default_Signature_Server</name>
        <choiceText>Default Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Default Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>ComforceHealth</name>
        <choiceText>ComforceHealth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ComforceHealth</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conceal_Personal_Information</name>
        <choiceText>Conceal Personal Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conceal Personal Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>Default</name>
        <choiceText>Default – select only if other Signature options do not apply</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Default – select only if other Signature options do not apply</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMEA_Europe</name>
        <choiceText>EMEA (Europe)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA (Europe)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hiregenics</name>
        <choiceText>HireGenics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HireGenics</stringValue>
        </value>
    </choices>
    <choices>
        <name>HireGenicsTemplate</name>
        <choiceText>HireGenics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HireGenics</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innova_Solutions</name>
        <choiceText>Innova Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal</name>
        <choiceText>Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico</name>
        <choiceText>Mexico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mexico</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recruiting</name>
        <choiceText>Recruiting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recruiting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Text_Only_Template</name>
        <choiceText>Text Only Template</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text Only Template</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Volt</name>
        <choiceText>Volt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Volt</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_For_Requested_For</name>
        <label>Check For Requested For</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Success_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestedFor.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewLine</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>ServiceRequestDetails</name>
        <dataType>String</dataType>
        <expression>IF({!RequestedFor.recordName}!=NULL, &quot;&lt;strong&gt;Requested For   - &lt;/strong&gt;&quot; +{!RequestedFor.recordName}+ {!NewLine}, &quot;&quot;)+
{!RequestedBy}+{!NewLine}+
IF({!Region}!=NULL, &quot;&lt;strong&gt;Region   - &lt;/strong&gt;&quot; +{!Region}+ {!NewLine}, &quot;&quot;)+
IF({!Brand}!=NULL, &quot;&lt;strong&gt;Brand   - &lt;/strong&gt;&quot; +{!Brand}+ {!NewLine}+{!NewLine}, &quot;&quot;)+
IF({!Brand1}!=NULL, &quot;&lt;strong&gt;Brand   - &lt;/strong&gt;&quot; +{!Brand1}+ {!NewLine}+{!NewLine}, &quot;&quot;)+
IF({!Signature1}!=NULL, &quot;&lt;strong&gt;Signature   - &lt;/strong&gt;&quot; +{!Signature1}+ {!NewLine}, &quot;&quot;)+{!NewLine}+
IF({!Template}!=NULL, &quot;&lt;strong&gt;Template   - &lt;/strong&gt;&quot; +{!Template} +{!NewLine} +{!NewLine}, &quot;&quot;)+
IF({!Template1}!=NULL, &quot;&lt;strong&gt;Template   - &lt;/strong&gt;&quot; +{!Template1} +{!NewLine}+{!NewLine}, &quot;&quot;)+
IF({!Additional_Information}!=NULL, &quot;&lt;strong&gt;Additional Information   - &lt;/strong&gt;&quot; +{!Additional_Information} +{!NewLine}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varBrand</name>
        <dataType>String</dataType>
        <expression>IF({!Brand}!=Null, {!Brand}, &quot;&quot;) + IF({!Brand1}!=Null, {!Brand1}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varName</name>
        <dataType>String</dataType>
        <expression>{!RequestedFor.recordName}</expression>
    </formulas>
    <interviewLabel>Innova-Signiture Te {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Email Signature Request Form</label>
    <loops>
        <name>Extract_Attachment</name>
        <label>Extract Attachment</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>VarTContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_from_Collection</name>
        <label>Create Records from Collection</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Check_For_Requested_For</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Id</name>
        <label>Get Case Id</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContactId</name>
        <label>Get ContactId</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Value_In_Case_Record_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_In_User_Contact</name>
        <label>Get Logged In User Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Signature_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RequestedFor.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Email Signature Request&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; was not submitted Please contact to salesforce administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Signature_Template</name>
        <label>Signature Template</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ContactId</targetReference>
        </connector>
        <fields>
            <name>Signature_Template_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Signature_Template_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestedBy</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Requested By﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$User.FirstName}&amp;nbsp;{!$User.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Signature_Template_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestedFor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested For</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Logged_In_User_Contact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Signature_Template_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Signature_Template_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region</name>
                    <choiceReferences>APAC_India</choiceReferences>
                    <choiceReferences>Canada</choiceReferences>
                    <choiceReferences>EMEA_Europe</choiceReferences>
                    <choiceReferences>Mexico</choiceReferences>
                    <choiceReferences>USA</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Signature_Template_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand</name>
                    <choiceReferences>Innova_Solutions</choiceReferences>
                    <choiceReferences>Hiregenics</choiceReferences>
                    <choiceReferences>Volt</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand1</name>
                    <choiceReferences>Innova_Solutions</choiceReferences>
                    <choiceReferences>Hiregenics</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Signature1</name>
            <choiceReferences>Change_Default_Signature_Server</choiceReferences>
            <choiceReferences>Add_New_Alternate_Signature_Client</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Signature</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Default Signature - Email signature is determined by the user’s Brand.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Additional Signature - Additional signatures are made available for business or regulatory needs which can be selected by the user.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Template</name>
            <choiceReferences>ComforceHealth</choiceReferences>
            <choiceReferences>HireGenicsTemplate</choiceReferences>
            <choiceReferences>Sales</choiceReferences>
            <choiceReferences>Recruiting</choiceReferences>
            <choiceReferences>Default</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;ComforceHealth - Signatures assigned to employees who work for ComforceHealth.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;HireGenics - Signatures assigned to employees who work for HireGenics and Volt Consulting Group.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Recruiting - Recruiting signatures have additional disclosures and an opt out mandated by CPRA and GDPR.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Sales - Sales signatures have additional Advertising and Marketing programs featured in the signature.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Default - select only if other Signature options do not apply.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Signature1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Change_Default_Signature_Server</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Signature1</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Template1</name>
            <choiceReferences>Conceal_Personal_Information</choiceReferences>
            <choiceReferences>Legal</choiceReferences>
            <choiceReferences>Text_Only_Template</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Conceal Personal Information – This is used to conceal personal information from a 3rd party vendor/client on email signature (mostly used by Executives).&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Legal – Legal signatures will have Legal disclaimer is added to the email signature.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Signature1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Add_New_Alternate_Signature_Client</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attachment</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>VarTContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Homepage</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(10, 157, 35); font-size: 14px;&quot;&gt;Email Signature Request&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(10, 157, 35);&quot;&gt; with Case Number# {!Get_Case_Id.CaseNumber}  has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Logged_In_User_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaserecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
