force-app/main/default/flows/Innova_Hardware_Request_With_Approval_and_Task_II.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Request_Record_with_case_assignment_rule</name>
        <label>Create Request Record with case assignment rule</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>CaseCreationUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_Id_for_Case_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_path</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ruleName</name>
            <value>
                <stringValue>Innova Case Assignment Rule v2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CaseCreationUtil</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Home_Page</name>
        <label>Home Page</label>
        <locationX>176</locationX>
        <locationY>1838</locationY>
        <actionName>c:Homepage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:Homepage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Records_into_a_Collection</name>
        <label>Add Records into a Collection</label>
        <locationX>264</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_in_case_record_variable</name>
        <label>Assign value in case record variable</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware Request for {!VarName} - Details can be found in Service Request Details section</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware Request for - {!VarName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IT Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Brand1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBrandformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_On_Behalf_Of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestedFor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Shipping_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarShip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Category1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Desk</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Subcategory1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request_Record_with_case_assignment_rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_and_Request_Record</name>
        <label>Link File and Request Record</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Attachment_component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_a_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A1_Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accessories</name>
        <choiceText>Accessories</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accessories</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAC_India</name>
        <choiceText>APAC (India)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC (India)</stringValue>
        </value>
    </choices>
    <choices>
        <name>B1_Developer</name>
        <choiceText>Developer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Developer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Developer</name>
        <choiceText>Developer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Developer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Developer1</name>
        <choiceText>Developer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Developer</stringValue>
        </value>
    </choices>
    <choices>
        <name>E1_Executive</name>
        <choiceText>Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMEA_Europe</name>
        <choiceText>EMEA (Europe)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA (Europe)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Executive</name>
        <choiceText>Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive </stringValue>
        </value>
    </choices>
    <choices>
        <name>Executive1</name>
        <choiceText>Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive</stringValue>
        </value>
    </choices>
    <choices>
        <name>HireGenics</name>
        <choiceText>HireGenics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HireGenics</stringValue>
        </value>
    </choices>
    <choices>
        <name>India</name>
        <choiceText>India</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>India</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innova_Solutions</name>
        <choiceText>Innova Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mac</name>
        <choiceText>Mac</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mac</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mac1</name>
        <choiceText>Mac</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mac </stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico</name>
        <choiceText>Mexico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mexico</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New </stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Laptop</name>
        <choiceText>New Laptop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Laptop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office_based</name>
        <choiceText>Office based</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office based</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pickup_from_an_office</name>
        <choiceText>Pickup from an office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pickup from an office</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacement</name>
        <choiceText>Replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement </stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacement_Laptop</name>
        <choiceText>Replacement Laptop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement Laptop </stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to_home</name>
        <choiceText>Ship to home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard1</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uk</name>
        <choiceText>Uk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uk</stringValue>
        </value>
    </choices>
    <choices>
        <name>US</name>
        <choiceText>US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <description>confirmation message modified -JZ</description>
    <dynamicChoiceSets>
        <name>VarBrand</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarBrand1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand1__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarPic</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region1__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region1__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BR</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Formula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>NewLine</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>RegionSection</name>
        <dataType>String</dataType>
        <expression>IF({!Request_Type}=&quot;Accessories&quot;, &quot;&lt;strong&gt;Hardware Accessories&lt;/strong&gt;&quot; + {!NewLine}, &quot;&quot;) +
If({!Docking_Station} = TRUE,{!Space}+ &quot;Docking Station&quot;+{!NewLine},&quot; &quot;)+
If({!Docking_Station1} = TRUE,{!Space}+ &quot;Docking Station&quot;+{!NewLine},&quot; &quot;)+
If({!Docking_Station2} = TRUE,{!Space}+ &quot;Docking Station&quot;+{!NewLine},&quot; &quot;)+
If({!Headset_Wired}= TRUE, {!Space}+&quot;Headset Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Headset_Wired1}= TRUE,{!Space}+ &quot;Headset Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Headset_Wired3}= TRUE,{!Space}+ &quot;Headset Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Headset_Wired2}= TRUE,{!Space}+ &quot;Headset Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Keyboard_Wired}= TRUE,{!Space}+ &quot;Keyboard Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Laptop_Charger}= TRUE, {!Space}+&quot;Laptop Charger&quot;+{!NewLine},&quot; &quot;)+
If({!Laptop_Charger1}= TRUE, {!Space}+&quot;Laptop Charger&quot;+{!NewLine},&quot; &quot;)+
If({!Laptop_Charger2}= TRUE, {!Space}+&quot;Laptop Charger&quot;+{!NewLine},&quot; &quot;)+
If({!Laptop_Charger3}= TRUE, {!Space}+&quot;Laptop Charger&quot;+{!NewLine},&quot; &quot;)+
If({!Laptop_Charger4}= TRUE, {!Space}+&quot;Laptop Charger&quot;+{!NewLine},&quot; &quot;)+
If({!Monitor_Dual2}= TRUE, {!Space}+&quot;Monitors Dual&quot;+{!NewLine},&quot; &quot;)+
If({!Monitor_Dual1}= TRUE, {!Space}+&quot;Monitors Dual&quot;+{!NewLine},&quot; &quot;)+
If({!Monitor_Dual}= TRUE, {!Space}+&quot;Monitors Dual&quot;+{!NewLine},&quot; &quot;)+
If({!Monitor_Single1} = TRUE, {!Space}+&quot;Monitor Single&quot;+{!NewLine},&quot; &quot;)+
If({!Monitor_Single3} = TRUE, {!Space}+&quot;Monitor Single&quot;+{!NewLine},&quot; &quot;)+
If({!Monitor_Single2} = TRUE, {!Space}+&quot;Monitor Single&quot;+{!NewLine},&quot; &quot;)+
If({!Monitor_Single4} = TRUE, {!Space}+&quot;Monitor Single&quot;+{!NewLine},&quot; &quot;)+
If({!Monitor_Single} = TRUE, {!Space}+&quot;Monitor Single&quot;+{!NewLine},&quot; &quot;)+
If({!Mouse_Wired}= TRUE,{!Space}+ &quot;Mouse Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Other}= TRUE, {!Space}+&quot;Other&quot;+{!NewLine},&quot; &quot;)+ 
If({!Other1}= TRUE, {!Space}+&quot;Other&quot;+{!NewLine},&quot; &quot;)+ 
If({!Other2}= TRUE, {!Space}+&quot;Other&quot;+{!NewLine},&quot; &quot;)+ 
If({!Other4}= TRUE, {!Space}+&quot;Other&quot;+{!NewLine},&quot; &quot;)+ 
If({!Other3}= TRUE,{!Space}+ &quot;Other&quot;+{!NewLine},&quot; &quot;)+
If({!Printer1}= TRUE, {!Space}+&quot;Printer&quot;+{!NewLine},&quot; &quot;)+
If({!Printer2}= TRUE, {!Space}+&quot;Printer&quot;+{!NewLine},&quot; &quot;)+
If({!Printer3}= TRUE, {!Space}+&quot;Printer&quot;+{!NewLine},&quot; &quot;)+
If({!Desktop_Speaker_Jabra}= TRUE, {!Space}+&quot;Desktop Speaker (Jabra)&quot;+{!NewLine},&quot; &quot;)+
If({!Desktop_Speaker_Jabra2}= TRUE, {!Space}+&quot;Desktop Speaker (Jabra)&quot;+{!NewLine},&quot; &quot;)+
If({!External_Webcam_Wired}= TRUE,{!Space}+ &quot;External Webcam Wired&quot;+{!NewLine},&quot; &quot;)+
If({!External_Webcam_Wired2}= TRUE,{!Space}+ &quot;External Webcam Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Keyboard_Mouse_Combo_Wireless}= TRUE,{!Space}+ &quot;Keyboard Mouse Combo Wireless&quot;+{!NewLine},&quot; &quot;)+
If({!Keyboard_Mouse_Combo_Wireless2}= TRUE,{!Space}+ &quot;Keyboard Mouse Combo Wireless&quot;+{!NewLine},&quot; &quot;)+
If({!Keyboard_Wireless2}= TRUE,{!Space}+ &quot;Keyboard Wireless&quot;+{!NewLine},&quot; &quot;)+
If({!Mouse_Wireless2}= TRUE,{!Space}+ &quot;Mouse Wireless&quot;+{!NewLine},&quot; &quot;)+
If({!Headset3}= TRUE, {!Space}+&quot;Headset&quot;+{!NewLine},&quot; &quot;)+
If({!Keyboard3}= TRUE, {!Space}+&quot;Keyboard&quot;+{!NewLine},&quot; &quot;)+
If({!Mouse3}= TRUE, {!Space}+&quot;Mouse&quot;+{!NewLine},&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>RequestFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISNULL({!RequestedFor.recordName})) &amp;&amp; NOT(ISBLANK({!RequestedFor.recordName})),
&quot;&lt;strong&gt;Requested For  - &lt;/strong&gt;&quot; +{!RequestedFor.recordName} + {!NewLine} ,null)+
If(NOT(ISNULL({!Requested_By})) &amp;&amp; NOT(ISBLANK({!Requested_By})), {!Requested_By} + {!NewLine} ,null)+
If((NOT(ISNULL({!Region})) &amp;&amp; NOT(ISBLANK({!Region}))), &quot;&lt;strong&gt; Region  - &lt;/strong&gt; &quot; +{!Region} + {!NewLine},null)+
If((NOT(ISNULL({!Brand})) &amp;&amp; NOT(ISBLANK({!Brand}))), &quot;&lt;strong&gt; Brand  - &lt;/strong&gt; &quot; +{!Brand} + {!NewLine} ,null)+
If((NOT(ISNULL({!Brand3})) &amp;&amp; NOT(ISBLANK({!Brand3}))), &quot;&lt;strong&gt; Brand  - &lt;/strong&gt; &quot; +{!Brand3} + {!NewLine} ,null)+
If(NOT(ISNULL({!LocationOffice})) &amp;&amp; NOT(ISBLANK({!LocationOffice})), {!LocationOffice} + {!NewLine} ,null)+
If((NOT(ISNULL({!How_will_the_resource_receive_their_hardware})) &amp;&amp; NOT(ISBLANK({!How_will_the_resource_receive_their_hardware}))), &quot;&lt;strong&gt; How will the resource receive their hardware - &lt;/strong&gt; &quot; +{!How_will_the_resource_receive_their_hardware} + {!NewLine}  ,null)+
If((NOT(ISNULL({!Request_Type})) &amp;&amp; NOT(ISBLANK({!Request_Type}))), &quot;&lt;strong&gt; Request Type - &lt;/strong&gt; &quot; +{!Request_Type} + {!NewLine}  ,null)+
If((NOT(ISNULL({!Laptop_Type})) &amp;&amp; NOT(ISBLANK({!Laptop_Type}))), &quot;&lt;strong&gt; Laptop Type  - &lt;/strong&gt; &quot; +{!Laptop_Type} + {!NewLine}  ,null)+
If((NOT(ISNULL({!Laptop_Type1})) &amp;&amp; NOT(ISBLANK({!Laptop_Type1}))), &quot;&lt;strong&gt; Laptop Type - &lt;/strong&gt; &quot; +{!Laptop_Type1} + {!NewLine} ,null)+
If((NOT(ISNULL({!Laptop_Type3})) &amp;&amp; NOT(ISBLANK({!Laptop_Type3}))), &quot;&lt;strong&gt; Laptop Type - &lt;/strong&gt; &quot; +{!Laptop_Type3} + {!NewLine} ,null)+
{!VarRequest}+
{!RegionSection}+{!NewLine} +
If((NOT(ISNULL({!Additional_Information1})) &amp;&amp; NOT(ISBLANK({!Additional_Information1}))), &quot;&lt;strong&gt;Additional Information  - &lt;/strong&gt;&quot; +{!Additional_Information1} + {!NewLine} ,null)+
If((NOT(ISNULL({!Additional_information2})) &amp;&amp; NOT(ISBLANK({!Additional_information2}))), &quot;&lt;strong&gt;Additional Information  - &lt;/strong&gt;&quot; +{!Additional_information2} + {!NewLine} ,null)+
If((NOT(ISNULL({!Additional_Information})) &amp;&amp; NOT(ISBLANK({!Additional_Information}))), &quot;&lt;strong&gt;Additional Information  - &lt;/strong&gt;&quot; +{!Additional_Information} + {!NewLine} ,null)</expression>
    </formulas>
    <formulas>
        <name>Space</name>
        <dataType>String</dataType>
        <expression>&quot;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;</expression>
    </formulas>
    <formulas>
        <name>Space1</name>
        <dataType>String</dataType>
        <expression>&quot;&amp;nbsp;&amp;nbsp;&quot;</expression>
    </formulas>
    <formulas>
        <name>VarAdd</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISNULL({!Display1})) &amp;&amp; NOT(ISBLANK({!Display1})), {!Display1} + {!NewLine} ,null)+
If(NOT(ISNULL({!Display2})) &amp;&amp; NOT(ISBLANK({!Display2})), {!Display2} + {!NewLine} ,null)</expression>
    </formulas>
    <formulas>
        <name>VarAddress</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;strong&gt;Shipping Address&lt;/strong&gt;&apos;+  {!NewLine} +
If((NOT(ISNULL({!Address_1})) &amp;&amp; NOT(ISBLANK({!Address_1}))), {!Space}+ &quot;&lt;strong&gt;Address 1  -&lt;/strong&gt; &quot; +{!Address_1} +{!NewLine} ,null)+
If((NOT(ISNULL({!Address_2})) &amp;&amp; NOT(ISBLANK({!Address_2}))), {!Space}+ &quot;&lt;strong&gt;Address 2  -&lt;/strong&gt; &quot; +{!Address_2} +{!NewLine} ,null)+
If((NOT(ISNULL({!City})) &amp;&amp; NOT(ISBLANK({!City}))),  {!Space}+&quot;&lt;strong&gt;City  -&lt;/strong&gt; &quot; +{!City} +{!NewLine} ,null)+
If((NOT(ISNULL({!State_Province})) &amp;&amp; NOT(ISBLANK({!State_Province}))),  {!Space}+&quot;&lt;strong&gt;State Province  -&lt;/strong&gt; &quot; +{!State_Province} + {!NewLine} ,null)+
If((NOT(ISNULL({!Zip_Postal_Code})) &amp;&amp; NOT(ISBLANK({!Zip_Postal_Code}))),  {!Space}+&quot;&lt;strong&gt;Zip Postal Code  -&lt;/strong&gt; &quot; +{!Zip_Postal_Code} + {!NewLine} ,null)+
If((NOT(ISNULL({!Country})) &amp;&amp; NOT(ISBLANK({!Country}))),  {!Space}+&quot;&lt;strong&gt;Country  -&lt;/strong&gt; &quot; +{!Country}  ,null)
+{!VarDisAddress}</expression>
    </formulas>
    <formulas>
        <name>varBrandformula</name>
        <dataType>String</dataType>
        <expression>IF({!Brand}!=Null, {!Brand}, &quot;&quot;) + IF({!Brand3}!=Null, {!Brand3}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>VarCheckbox</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  OR({!Desktop_Speaker_Jabra},{!Desktop_Speaker_Jabra2}),  
  NOT(AND({!Desktop_Speaker_Jabra},{!Desktop_Speaker_Jabra2})) 
)</expression>
    </formulas>
    <formulas>
        <name>VarCheckbox1</name>
        <dataType>Number</dataType>
        <expression>IF({!Headset_Wired}, 1, 0) +
IF({!Other2}, 1, 0) +
IF({!Laptop_Charger}, 1, 0) +
IF({!Keyboard_Wired}, 1, 0) +
IF({!Docking_Station1}, 1, 0) +
IF({!Monitor_Dual}, 1, 0) +
IF({!Monitor_Single}, 1, 0) +
IF({!Mouse_Wired}, 1, 0) +
IF({!Printer2}, 1, 0) +
IF({!Desktop_Speaker_Jabra}, 1, 0) +
IF({!Docking_Station}, 1, 0) +
IF({!External_Webcam_Wired}, 1, 0) +
IF({!Headset_Wired1}, 1, 0) +
IF({!Keyboard_Mouse_Combo_Wireless}, 1, 0) +
IF({!Laptop_Charger1}, 1, 0) +
IF({!Monitor_Dual1}, 1, 0) +
IF({!Monitor_Single1}, 1, 0) +
IF({!Printer1}, 1, 0) +
IF({!Other1}, 1, 0) +
IF({!Headset_Wired2}, 1, 0) +
IF({!Keyboard_Wireless2}, 1, 0) +
IF({!Laptop_Charger2}, 1, 0) +
IF({!Monitor_Single3}, 1, 0) +
IF({!Mouse_Wireless2}, 1, 0) +
IF({!Other}, 1, 0) +

IF({!Headset3}, 1, 0) +
IF({!Keyboard3}, 1, 0) +
IF({!Laptop_Charger3}, 1, 0) +
IF({!Mouse3}, 1, 0) +
IF({!Monitor_Single4}, 1, 0) +
IF({!Other4}, 1, 0) +
IF({!Desktop_Speaker_Jabra2}, 1, 0) +
IF({!Docking_Station2}, 1, 0) +
IF({!External_Webcam_Wired2}, 1, 0) +
IF({!Headset_Wired3}, 1, 0) +
IF({!Keyboard_Mouse_Combo_Wireless2}, 1, 0) +
IF({!Laptop_Charger4}, 1, 0) +
IF({!Monitor_Dual2}, 1, 0) +
IF({!Monitor_Single2}, 1, 0) +
IF({!Other3}, 1, 0) +
IF({!Printer3}, 1, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VarDisAddress</name>
        <dataType>String</dataType>
        <expression>IF({!How_will_the_resource_receive_their_hardware}=&quot;Office based&quot;|| {!How_will_the_resource_receive_their_hardware}=&quot;Pickup from an office&quot;,{!Space}+ &quot;&lt;strong&gt;Address 1 - &lt;/strong&gt;&quot; +{!Get_All_Location.Innova_Street__c}+ {!NewLine}, &quot;&quot;)+
IF({!How_will_the_resource_receive_their_hardware}=&quot;Office based&quot;|| {!How_will_the_resource_receive_their_hardware}=&quot;Pickup from an office&quot;,{!Space}+ &quot;&lt;strong&gt;City  - &lt;/strong&gt;&quot; +{!Get_All_Location.Innova_City__c}+ {!NewLine}, &quot;&quot;)+
IF({!How_will_the_resource_receive_their_hardware}=&quot;Office based&quot;|| {!How_will_the_resource_receive_their_hardware}=&quot;Pickup from an office&quot;,{!Space}+ &quot;&lt;strong&gt;State/Province - &lt;/strong&gt;&quot; +{!Get_All_Location.Innova_State__c}+ {!NewLine}, &quot;&quot;)+
IF({!How_will_the_resource_receive_their_hardware}=&quot;Office based&quot;|| {!How_will_the_resource_receive_their_hardware}=&quot;Pickup from an office&quot;,{!Space}+ &quot;&lt;strong&gt;Zip/Postal Code - &lt;/strong&gt;&quot; +{!Get_All_Location.Zip_Postal_Code__c}+ {!NewLine}, &quot;&quot;)+
IF({!How_will_the_resource_receive_their_hardware}=&quot;Office based&quot;|| {!How_will_the_resource_receive_their_hardware}=&quot;Pickup from an office&quot;,{!Space}+ &quot;&lt;strong&gt;Country - &lt;/strong&gt;&quot; +{!Get_All_Location.Innova_Country__c}+ {!NewLine}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>VarName</name>
        <dataType>String</dataType>
        <expression>{!RequestedFor.recordName}</expression>
    </formulas>
    <formulas>
        <name>VarRequest</name>
        <dataType>String</dataType>
        <expression>IF({!Laptop_Type}=&quot;Developer&quot;, &quot;&quot; +{!Type_is_Laptop}+ {!NewLine}, &quot;&quot;) +
IF({!Laptop_Type}=&quot;Executive&quot;, &quot;&quot; +{!Type_is_Executive}+ {!NewLine}, &quot;&quot;)+
IF({!Laptop_Type}=&quot;Mac&quot;, &quot;&quot; +{!Laptop_Mac}+ {!NewLine}, &quot;&quot;)+
IF({!Laptop_Type1}=&quot;Developer&quot;, &quot;&quot; +{!Type_is_Laptop}+ {!NewLine}, &quot;&quot;) +
IF({!Laptop_Type1}=&quot;Executive&quot;, &quot;&quot; +{!Type_is_Executive}+ {!NewLine}, &quot;&quot;)
+IF({!Laptop_Type3}=&quot;Developer&quot;, &quot;&quot; +{!Type_is_Laptop}+ {!NewLine}, &quot;&quot;) +
IF({!Laptop_Type3}=&quot;Executive&quot;, &quot;&quot; +{!Type_is_Executive}+ {!NewLine}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>VarShip</name>
        <dataType>String</dataType>
        <expression>{!VarAddress}+{!NewLine}+
IF({!Personal_Email_Address}!=NULL, &quot;&lt;strong&gt;Personal Email Address  - &lt;/strong&gt;&quot; +{!Personal_Email_Address}+ {!NewLine}, &quot;&quot;) +
IF({!EmailAddress11}!=NULL, &quot;&lt;strong&gt; Email Address  - &lt;/strong&gt;&quot; +{!EmailAddress11}+ {!NewLine}, &quot;&quot;)+
If((NOT(ISNULL({!CellNumber11})) &amp;&amp; NOT(ISBLANK({!CellNumber11}))), &quot;&lt;strong&gt;Cell Number  -&lt;/strong&gt; &quot; +{!Country_Code_Canada.value}+{!Country_Code_India.value}+{!Country_Code_Mexico.value}+{!Country_Code_UK.value}+{!Country_Code_US.value}+({!Space1}+{!CellNumber11}) + {!NewLine} ,null)+
If((NOT(ISNULL({!Cell_Number})) &amp;&amp; NOT(ISBLANK({!Cell_Number}))), &quot;&lt;strong&gt;Personal Cell Number  -&lt;/strong&gt; &quot; +{!Country_Code_Canada.value}+{!Country_Code_India.value}+{!Country_Code_Mexico.value}+{!Country_Code_UK.value}+{!Country_Code_US.value}+ ( {!Space1}+ {!Cell_Number}) + {!NewLine}+ {!NewLine} ,null)</expression>
    </formulas>
    <interviewLabel>Innova-Hardware Request With Approval and Task II {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Hardware Request Form</label>
    <loops>
        <name>Loop_for_Attachment_component</name>
        <label>Loop for Attachment component</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <collectionReference>VarTContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_and_Request_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_from_Collection</name>
        <label>Create Records from Collection</label>
        <locationX>176</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Location</name>
        <label>Get All Location</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Component_for_Hardware_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location.recordName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Id_for_Case_Number</name>
        <label>Get Case Id for Case Number</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_From_Contact_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestedFor.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_in_User_Contact</name>
        <label>Get Logged in User Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_the_location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_From_Contact_Lookup</name>
        <label>Get User From Contact Lookup</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_value_in_case_record_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>176</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>label</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Innova_IsApproved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Fault_path</name>
        <label>Fault path</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Hardware Request was not &lt;/b&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;created&lt;/b&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; Please contact your salesforce &lt;/b&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;system administrator&lt;/b&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_all_the_location</name>
        <label>Get all the location</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Location</targetReference>
        </connector>
        <fields>
            <name>Get_all_the_location_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Get_all_the_location_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestedBy</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Requested By﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$User.FirstName}&amp;nbsp;{!$User.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Get_all_the_location_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestedFor1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested For</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Get_all_the_location_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Get_all_the_location_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region1</name>
                    <choiceReferences>VarPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Logged_in_User_Contact.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Get_all_the_location_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand1</name>
                    <choiceReferences>VarBrand1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Logged_in_User_Contact.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand2</name>
                    <choiceReferences>Innova_Solutions</choiceReferences>
                    <choiceReferences>HireGenics</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Logged_in_User_Contact.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Get_all_the_location_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Get_all_the_location_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Innova_Location__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office Location</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Location.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Get_all_the_location_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>label</name>
        <label>label</label>
        <locationX>176</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Home_Page</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(65, 205, 72);&quot;&gt;   &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(10, 157, 35);&quot;&gt;Case Number# {!Get_Case_Id_for_Case_Number.CaseNumber} has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Component_for_Hardware_Request</name>
        <label>Screen Component for Hardware Request</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_By</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Requested By﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$User.FirstName}&amp;nbsp;{!$User.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestedFor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested For</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>RequestedFor1.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region</name>
                    <choiceReferences>VarPic</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Region1</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand</name>
                    <choiceReferences>VarBrand</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Brand1</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand3</name>
                    <choiceReferences>Innova_Solutions</choiceReferences>
                    <choiceReferences>HireGenics</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Brand2</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>How_will_the_resource_receive_their_hardware</name>
            <choiceReferences>Office_based</choiceReferences>
            <choiceReferences>Pickup_from_an_office</choiceReferences>
            <choiceReferences>Ship_to_home</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How will the resource receive their hardware?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LocationOffice</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Office Location&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;- {!Location.recordName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pickup from an office</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Office based</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Accessories</choiceReferences>
            <choiceReferences>New_Laptop</choiceReferences>
            <choiceReferences>Replacement_Laptop</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Laptop_Type1</name>
            <choiceReferences>Standard1</choiceReferences>
            <choiceReferences>Developer1</choiceReferences>
            <choiceReferences>Executive1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Laptop Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND  (2 OR 3 )</conditionLogic>
                <conditions>
                    <leftValueReference>Brand</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Volt</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_Laptop</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Replacement_Laptop</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Laptop_Type</name>
            <choiceReferences>Standard</choiceReferences>
            <choiceReferences>Developer</choiceReferences>
            <choiceReferences>Executive</choiceReferences>
            <choiceReferences>Mac</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Laptop Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2)  AND 3 AND ( 4 OR 5 OR 6 OR 7)</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_Laptop</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Replacement_Laptop</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Brand</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Volt</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>APAC_India</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Canada</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>USA</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mexico</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Laptop_Type3</name>
            <choiceReferences>A1_Standard</choiceReferences>
            <choiceReferences>B1_Developer</choiceReferences>
            <choiceReferences>E1_Executive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Laptop Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EMEA_Europe</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_Laptop</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Replacement_Laptop</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_massage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(63, 82, 212); font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;color: rgb(244, 40, 40); font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;This request can only be used for existing Billable and Non-Billable resources.&amp;nbsp;If a laptop is needed for a New Hire, use the  &lt;/strong&gt;    &lt;a href=&quot;https://innovasolutionsitsc--partialsb.sandbox.my.site.com/ITSC/s/service-catalog-item?name=item_1684850547887_OnboardingRequest&amp;amp;category=category_1689759204688_All&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;New Hire Request Form.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_Laptop</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Replacement_Laptop</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_is_Laptop</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Approval Required &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 40, 40); font-size: 12px;&quot;&gt;This option is for Software Developers only and will require IT Approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Developer</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Developer1</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>B1_Developer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_is_Executive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Approval Required &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(244, 40, 40);&quot;&gt;This option is for VPs and above and will require IT Approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Executive</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Executive1</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>E1_Executive</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Laptop_Mac</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Approval Required &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(244, 40, 40);&quot;&gt;This option will require business justification or be a client requirement. IT Approval is required. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mac</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Hardware_Accessories11</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Hardware Accessories&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>6 AND (1 OR 2 OR 3 OR 4 OR 5 )</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>APAC_India</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Canada</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EMEA_Europe</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mexico</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>USA</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Docking_Station1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Docking Station</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Headset_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Laptop_Charger</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Laptop Charger</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Monitor_Dual</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitors: Dual</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monitor_Single</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitor: Single</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mouse_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mouse: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Printer2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Printer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND 6 AND ( 2 OR 3 OR 4 OR 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>APAC_India</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Canada</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>EMEA_Europe</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Mexico</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>USA</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Desktop_Speaker_Jabra</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Desktop Speaker (Jabra)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Docking_Station</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Docking Station</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>External_Webcam_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Webcam: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Headset_Wired1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Mouse_Combo_Wireless</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard/Mouse Combo: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Laptop_Charger1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Laptop Charger</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>USA</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Monitor_Dual1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitors: Dual</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Monitor_Single1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitor: Single</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Printer1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Printer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND 6 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>USA</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>APAC_India</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Canada</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>EMEA_Europe</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Mexico</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Headset_Wired2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Wireless2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Laptop_Charger2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Laptop Charger</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Mexico</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monitor_Single3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitor: Single</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mouse_Wireless2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mouse: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND 6 AND( 2 OR 3 OR 4 OR 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mexico</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>APAC_India</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Canada</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>EMEA_Europe</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>USA</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Headset3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Laptop_Charger3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Laptop Charger</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mouse3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mouse</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Monitor_Single4</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitor: Single</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other4</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND 6 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EMEA_Europe</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Canada</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>APAC_India</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Mexico</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>USA</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Desktop_Speaker_Jabra2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Desktop Speaker  (Jabra)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Docking_Station2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Docking Station</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>External_Webcam_Wired2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Webcam: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Headset_Wired3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Mouse_Combo_Wireless2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard/Mouse Combo: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Laptop_Charger4</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Laptop Charger</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Monitor_Dual2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitors: Dual</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Monitor_Single2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitor: Single</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Canada</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Printer3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Printer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Canada</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND 6 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Canada</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>APAC_India</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>EMEA_Europe</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Mexico</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>USA</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShippingAddress</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Shipping Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ship to home</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_1</name>
                    <dataType>String</dataType>
                    <fieldText>Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ship to home</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ship to home</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ship to home</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_2</name>
                    <dataType>String</dataType>
                    <fieldText>Address 2 (Apt or Unit #)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ship to home</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>State_Province</name>
                    <dataType>String</dataType>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ship to home</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ship to home</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ship to home</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShippingAddress11</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Shipping Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Office based</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pickup from an office</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Address 1 : &lt;/strong&gt;{!Get_All_Location.Innova_Street__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Office based</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pickup from an office</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;City :&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;{!Get_All_Location.Innova_City__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Office based</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pickup from an office</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Zip/Postal Code : &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_All_Location.Zip_Postal_Code__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Office based</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pickup from an office</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display6</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Address 2 (Apt or Unit #) : &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Office based</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pickup from an office</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;State :&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;{!Get_All_Location.Innova_State__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Office based</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pickup from an office</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Country :&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; &lt;/span&gt;{!Get_All_Location.Innova_Country__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Office based</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pickup from an office</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pickup from an office</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Office based</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Country Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_US</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_UK</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+44</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+44</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>UK</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_India</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+91</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+91</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_Canada</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Canada</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_Mexico</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+52</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+52</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CellNumber11</name>
                    <dataType>String</dataType>
                    <fieldText>Cell Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 80, 98); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Cell number must be Numeric. Should be between 7 -15 digit long.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(ISNUMBER({!CellNumber11}), LEN({!CellNumber11})&gt;=7, LEN({!CellNumber11}) &lt;=15,NOT(contains({!CellNumber11}, &apos;+&apos;)))</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pickup from an office</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Office based</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Cell_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Personal Cell Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(238, 80, 98);&quot;&gt;Cell number must be Numeric. Should be between 7 -15 digit long.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(ISNUMBER({!Cell_Number}), LEN({!Cell_Number})&gt;=7, LEN({!Cell_Number}) &lt;=15,NOT(contains({!Cell_Number}, &apos;+&apos;)))</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ship to home</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailAddress11</name>
                    <dataType>String</dataType>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 40, 40); background-color: rgb(255, 255, 255);&quot;&gt;Please enter the correct email address&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!EmailAddress11},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Pickup from an office</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Office based</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Personal_Email_Address</name>
                    <dataType>String</dataType>
                    <fieldText>Personal Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 40, 40);&quot;&gt;Please enter the correct email address&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Personal_Email_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Ship to home</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>How_will_the_resource_receive_their_hardware</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Information1</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Other</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mac</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayMassage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 83, 43);&quot;&gt;Justification is needed in Additional Comments section.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mac</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Mac</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_information2</name>
            <fieldText>Additional information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND 7 AND  (2 OR 3 OR 4 OR 5 OR 6 )</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Mac</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Attachment</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiple</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_renderFilesBelow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTContentDocumentIds</assignToReference>
                <name>contentDocumentIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Logged_in_User_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FinalREquest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!RequestFormula}&lt;/p&gt;&lt;p&gt;{!VarRequest}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ApprovedCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Count1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_All_Location.Innova_Street__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_All_Location.Innova_City__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_All_Location.Innova_Country__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarRequestedBy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_All_Location.Innova_State__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_All_Location.Zip__c</elementReference>
        </value>
    </variables>
</Flow>
