force-app/main/default/flows/Innova_Create_Employee_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>If_Employee_Number_Exist2</name>
        <label>If Employee Number Exist2</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmployeeNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Employee_with_Employee_number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmployeeNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Employee_number</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_the_Employee_record_exist</name>
        <label>If the Employee record exist</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employee.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Employee_Number_Exist2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Updateautonumber</name>
        <dataType>String</dataType>
        <expression>&quot;EPB-&quot;+{!$Record.Alias}</expression>
    </formulas>
    <formulas>
        <name>VarAutoNumber</name>
        <dataType>String</dataType>
        <expression>{!$Record.Unique_Auto_ID__c}</expression>
    </formulas>
    <interviewLabel>Innova Create Employee/Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova Create Employee/Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Employee</description>
        <name>Create_Employee_with_Employee_number</name>
        <label>Create Employee with Employee number</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Contact_with_Emp_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmployeeNumber</field>
            <value>
                <elementReference>$Record.EmployeeNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmployeeStatus</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Department__c</field>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_FederationId__c</field>
            <value>
                <elementReference>$Record.FederationIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Hire_date__c</field>
            <value>
                <elementReference>$Record.Hire_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Title__c</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Username__c</field>
            <value>
                <elementReference>$Record.Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagerId</field>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>$Record.CommunityNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusAsOf</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkPhone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkerType</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Employee</description>
        <name>Create_Employee_without_Emp_number</name>
        <label>Create Employee without Emp number</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Update_Contact_without_Emp_number</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmployeeNumber</field>
            <value>
                <elementReference>$Record.EmployeeNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmployeeStatus</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Department__c</field>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_FederationId__c</field>
            <value>
                <elementReference>$Record.FederationIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Hire_date__c</field>
            <value>
                <elementReference>$Record.Hire_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Title__c</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Username__c</field>
            <value>
                <elementReference>$Record.Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>$Record.CommunityNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusAsOf</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkPhone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkerType</field>
            <value>
                <stringValue>Contractor</stringValue>
            </value>
        </inputAssignments>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager</name>
        <label>Get Manager</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_the_Employee_record_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Manager.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_Emp_Number</name>
        <label>Update Contact with Emp Number</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Brand__c</field>
            <value>
                <elementReference>$Record.Innova_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Hiring_Manager__c</field>
            <value>
                <elementReference>Get_Manager.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Region__c</field>
            <value>
                <elementReference>$Record.Innova_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Unique_User_Id__c</field>
            <value>
                <elementReference>$Record.Unique_Auto_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_VIP__c</field>
            <value>
                <elementReference>$Record.Innova_VIP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>$Record.CommunityNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location__c</field>
            <value>
                <elementReference>$Record.Office_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusAsOf__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>$Record.Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkerType__c</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_without_Emp_number</name>
        <label>Update Contact without Emp number</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Brand__c</field>
            <value>
                <elementReference>$Record.Innova_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Hiring_Manager__c</field>
            <value>
                <elementReference>Get_Manager.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Region__c</field>
            <value>
                <elementReference>$Record.Innova_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Unique_User_Id__c</field>
            <value>
                <elementReference>$Record.Unique_Auto_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_VIP__c</field>
            <value>
                <elementReference>$Record.Innova_VIP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>$Record.CommunityNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location__c</field>
            <value>
                <elementReference>$Record.Office_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusAsOf__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username__c</field>
            <value>
                <elementReference>$Record.Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkerType__c</field>
            <value>
                <stringValue>Contractor</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Employee_number</name>
        <label>Update Employee number</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Create_Employee_without_Emp_number</targetReference>
        </connector>
        <inputAssignments>
            <field>EmployeeNumber</field>
            <value>
                <elementReference>VarAutoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Create_Employee_after_a_minute</name>
            <connector>
                <targetReference>Get_Employee</targetReference>
            </connector>
            <label>Create Employee after a minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
