force-app/main/default/flows/Innova_Create_Major_Incident_From_On_Incident.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Record_Type_major_incident</name>
        <label>Check Record Type major incident</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Major_Incident_Record</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VarMajorIncident</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.RecordType.Name}=&apos;Major Incident&apos;</expression>
    </formulas>
    <interviewLabel>Innova-Create Major Incident From Incident {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova-Create Major Incident From On Incident</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Association</name>
        <label>Create Association</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>wkitsm__CaseId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__RelatedCaseId__c</field>
            <value>
                <elementReference>Create_Major_Incident_Record</elementReference>
            </value>
        </inputAssignments>
        <object>wkitsm__CaseAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Major_Incident_Record</name>
        <label>Create Major Incident Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Association</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.major_icident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__Category__c</field>
            <value>
                <elementReference>$Record.Innova_Category1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__Diagnostics__c</field>
            <value>
                <elementReference>$Record.wkitsm__Diagnostics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__Impact__c</field>
            <value>
                <stringValue>Company</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__ManualPriority__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__ServiceProvider__c</field>
            <value>
                <elementReference>$Record.Innova_Service1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__Subcategory__c</field>
            <value>
                <elementReference>$Record.Innova_Subcategory1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__Urgency__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type_major_incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Innavo_Escalate_to_Major_Incident__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Innavo_Escalate_to_Major_Incident__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
