force-app/main/default/flows/Innova_hardware_Request_for_region.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Request_Record_with_case_assignment_rule</name>
        <label>Create Request Record with case assignment rule</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>CaseCreationUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_Id_for_Case_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_path</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ruleName</name>
            <value>
                <stringValue>Innova Case Assignment Rule</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CaseCreationUtil</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>If_Printer</name>
        <label>If Printer</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>If_Laptop_Type_is_standard</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Approval_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Innova_Hardware_Request_Approval211</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <outputParameters>
            <assignToReference>ApprovedCaseRecordId</assignToReference>
            <name>entityId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>If_yes</name>
        <label>If yes</label>
        <locationX>314</locationX>
        <locationY>3758</locationY>
        <actionName>c:Navigations</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:Navigations</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Records_into_a_Collection</name>
        <label>Add Records into a Collection</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_in_case_record_variable</name>
        <label>Assign value in case record variable</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware Request for New Hire - Details can be found in Service Request Details section</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware Request for - {!VarName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.wkitsm__ServiceProvider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>End User Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Brand1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_On_Behalf_Of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request_Record_with_case_assignment_rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_and_Request_Record</name>
        <label>Link File and Request Record</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Attachment_component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_a_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accessories</name>
        <choiceText>Accessories</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accessories</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAC_India</name>
        <choiceText>APAC (India)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC (India) </stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Developer</name>
        <choiceText>Developer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Developer</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMEA_Europe</name>
        <choiceText>EMEA(Europe)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA (Europe)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Executive</name>
        <choiceText>Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive </stringValue>
        </value>
    </choices>
    <choices>
        <name>India</name>
        <choiceText>India</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>India</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mac</name>
        <choiceText>Mac</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mac</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico</name>
        <choiceText>Mexico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mexico</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New </stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Laptop</name>
        <choiceText>New Laptop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Laptop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacement</name>
        <choiceText>Replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement </stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacement_Laptop</name>
        <choiceText>Replacement Laptop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement Laptop </stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uk</name>
        <choiceText>Uk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uk</stringValue>
        </value>
    </choices>
    <choices>
        <name>US</name>
        <choiceText>US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_for_Hardware_Accessories</name>
        <label>Approval for Hardware Accessories</label>
        <locationX>314</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hardware_Accessories</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>External Monitor Single</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>External Monitor Double</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Headset Wired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop Speaker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse Wireless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Power Adapter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Wireless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Docking Station</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Mouse Combo Wireless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>External Webcam Wired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse Wired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Wired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_task_for_Hardware_Accessories</targetReference>
            </connector>
            <label>Hardware Accessories</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Laptop_Type_is_Developer</name>
        <label>If Laptop Type is Developer</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>If_Laptop_Type_is_Executive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfDeveloper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This option is for Software Developers only and will require IT Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_task_for_Laptop_is_Developer</targetReference>
            </connector>
            <label>If Developer</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Laptop_Type_is_Executive</name>
        <label>If Laptop Type is Executive</label>
        <locationX>314</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Approval_for_Hardware_Accessories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Laptop_Type_is_Executive1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This option is for VPs and above and will require IT Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_task_for_Laptop_Type_is_Executive</targetReference>
            </connector>
            <label>If Laptop Type is Executive</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Laptop_Type_is_standard</name>
        <label>If Laptop Type is standard</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>If_Laptop_Type_is_Developer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_task_for_Laptop_is_standard</targetReference>
            </connector>
            <label>If standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_not_null</name>
        <label>Manager not null</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes11</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>Get_Manager_Record.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Printer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Printer1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Printer2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Printer3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Printer</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VarBrand</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BR</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Formula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>NewLine</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>RegionSection</name>
        <dataType>String</dataType>
        <expression>If({!Docking_Station} = TRUE,{!Space}+ &quot;Docking Station&quot;+{!NewLine},&quot; &quot;)+
If({!External_Monitor_Single1} = TRUE, {!Space}+&quot;External Monitor Single&quot;+{!NewLine},&quot; &quot;)+
If({!External_Monitor_Single2} = TRUE, {!Space}+&quot;External Monitor Single&quot;+{!NewLine},&quot; &quot;)+
If({!External_Monitor_Single} = TRUE, {!Space}+&quot;External Monitor Single&quot;+{!NewLine},&quot; &quot;)+
If({!External_Monitor_Double}= TRUE, {!Space}+&quot;External Monitor Double&quot;+{!NewLine},&quot; &quot;)+
If({!External_Monitor_Double1}= TRUE, {!Space}+&quot;External Monitor Double&quot;+{!NewLine},&quot; &quot;)+
If({!Headset_Wired}= TRUE, {!Space}+&quot;Headset Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Headset_Wired1}= TRUE,{!Space}+ &quot;Headset Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Headset_Wired2}= TRUE,{!Space}+ &quot;Headset Wired&quot;+{!NewLine},&quot; &quot;)+
If({!System_Speaker}= TRUE, {!Space}+&quot;Desktop Speaker&quot;+{!NewLine},&quot; &quot;)+
If({!Keyboard_Mouse_Combo_Wireless}= TRUE,{!Space}+ &quot;Keyboard Mouse Combo Wireless&quot;+{!NewLine},&quot; &quot;)+
If({!Keyboard_Wireless}= TRUE,{!Space}+ &quot;Keyboard Wireless&quot;+{!NewLine},&quot; &quot;)+
If({!Keyboard_Wireless2}= TRUE,{!Space}+ &quot;Keyboard Wireless&quot;+{!NewLine},&quot; &quot;)+
If({!Mouse_Wireless}= TRUE,{!Space}+ &quot;Mouse Wireless&quot;+{!NewLine},&quot; &quot;)+
If({!Mouse_Wireless2}= TRUE,{!Space}+ &quot;Mouse Wireless&quot;+{!NewLine},&quot; &quot;)+
If({!Keyboard_Wired}= TRUE,{!Space}+ &quot;Keyboard Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Mouse_Wired}= TRUE,{!Space}+ &quot;Mouse Wired&quot;+{!NewLine},&quot; &quot;)+
If({!External_Webcam_Wired}= TRUE,{!Space}+ &quot;External Webcam Wired&quot;+{!NewLine},&quot; &quot;)+
If({!Power_Adapter}= TRUE,{!Space}+ &quot;Power Adapter&quot;+{!NewLine},&quot; &quot;)+
If({!Power_Adapter1}= TRUE, {!Space}+&quot;Power Adapter&quot;+{!NewLine},&quot; &quot;)+
If({!Power_Adapter2}= TRUE,{!Space}+ &quot;Power Adapter&quot;+{!NewLine},&quot; &quot;)+
If({!Power_Adapter3}= TRUE, {!Space}+&quot;Power Adapter&quot;+{!NewLine},&quot; &quot;)+
If({!Printer}= TRUE, {!Space}+&quot;Printer&quot;+{!NewLine},&quot; &quot;)+
If({!Printer1}= TRUE, {!Space}+&quot;Printer&quot;+{!NewLine},&quot; &quot;)+
If({!Printer2}= TRUE, {!Space}+&quot;Printer&quot;+{!NewLine},&quot; &quot;)+
If({!Printer3}= TRUE, {!Space}+&quot;Printer&quot;+{!NewLine},&quot; &quot;)+
If({!Other}= TRUE, {!Space}+&quot;Other&quot;+{!NewLine},&quot; &quot;)+ 
If({!Other1}= TRUE, {!Space}+&quot;Other&quot;+{!NewLine},&quot; &quot;)+ 
If({!Other2}= TRUE, {!Space}+&quot;Other&quot;+{!NewLine},&quot; &quot;)+ 
If({!Other3}= TRUE,{!Space}+ &quot;Other&quot;+{!NewLine},&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>RequestFormula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISNULL({!RequestedFor.recordName})) &amp;&amp; NOT(ISBLANK({!RequestedFor.recordName})),
&quot;&lt;strong&gt;Requested For  - &lt;/strong&gt;&quot; +{!RequestedFor.recordName} + {!NewLine} ,null)+
If(NOT(ISNULL({!Requested_By})) &amp;&amp; NOT(ISBLANK({!Requested_By})),
&quot;&lt;strong&gt;. &lt;/strong&gt;&quot; + {!Requested_By} + {!NewLine} ,null)+
If((NOT(ISNULL({!Laptop_Type})) &amp;&amp; NOT(ISBLANK({!Laptop_Type}))), &quot;&lt;strong&gt; Laptop Type  - &lt;/strong&gt; &quot; +{!Laptop_Type} + {!NewLine}  ,null)+
If((NOT(ISNULL({!Request_Type})) &amp;&amp; NOT(ISBLANK({!Request_Type}))), &quot;&lt;strong&gt; Request Type - &lt;/strong&gt; &quot; +{!Request_Type} + {!NewLine}  ,null)+
{!VarRequest}+
&apos;&lt;strong&gt;Hardware Accessories&lt;/strong&gt;&apos;+  {!NewLine} +
{!RegionSection}+{!NewLine} +
&apos;&lt;strong&gt;Shipping Information&lt;/strong&gt;&apos;+  {!NewLine} +
If((NOT(ISNULL({!Region})) &amp;&amp; NOT(ISBLANK({!Region}))), &quot;&lt;strong&gt; Region  - &lt;/strong&gt; &quot; +{!Region} + {!NewLine},null)+
If((NOT(ISNULL({!Brand})) &amp;&amp; NOT(ISBLANK({!Brand}))), &quot;&lt;strong&gt; Brand  - &lt;/strong&gt; &quot; +{!Brand} + {!NewLine} ,null)+
If((NOT(ISNULL({!Additional_Information})) &amp;&amp; NOT(ISBLANK({!Additional_Information}))), &quot;&lt;strong&gt;Additional Information  - &lt;/strong&gt;&quot; +{!Additional_Information} + {!NewLine} ,null)+
If((NOT(ISNULL({!Additional_Information_1})) &amp;&amp; NOT(ISBLANK({!Additional_Information_1}))), &quot;&lt;strong&gt;Additional Information  - &lt;/strong&gt;&quot; +{!Additional_Information_1} + {!NewLine} ,null)+
If((NOT(ISNULL({!EmailAddress.value})) &amp;&amp; NOT(ISBLANK({!EmailAddress.value}))), &quot;&lt;strong&gt;Email Address  - &lt;/strong&gt;&quot; +{!EmailAddress.value} + {!NewLine},null)+
If((NOT(ISNULL({!EmailAddress1.value})) &amp;&amp; NOT(ISBLANK({!EmailAddress1.value}))), &quot;&lt;strong&gt;Email Address  - &lt;/strong&gt;&quot; +{!EmailAddress1.value} + {!NewLine} ,null)+
If((NOT(ISNULL({!CellNumber1.value})) &amp;&amp; NOT(ISBLANK({!CellNumber1.value}))), &quot;&lt;strong&gt;Cell Number  -&lt;/strong&gt; &quot; +{!Country_Code_Canada.value}+{!Country_Code_India.value}+{!Country_Code_Mexico.value}+{!Country_Code_UK.value}+{!Country_Code_US.value}+({!Space1}+{!CellNumber1.value}) + {!NewLine} ,null)+
If((NOT(ISNULL({!CellNumber.value})) &amp;&amp; NOT(ISBLANK({!CellNumber.value}))), &quot;&lt;strong&gt;Cell Number  -&lt;/strong&gt; &quot; +{!Country_Code_Canada.value}+{!Country_Code_India.value}+{!Country_Code_Mexico.value}+{!Country_Code_UK.value}+{!Country_Code_US.value}+ ( {!Space1}+ {!CellNumber.value}) + {!NewLine}+ {!NewLine} ,null)+
{!VarAddress}+{!NewLine}</expression>
    </formulas>
    <formulas>
        <name>Space</name>
        <dataType>String</dataType>
        <expression>&quot;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;</expression>
    </formulas>
    <formulas>
        <name>Space1</name>
        <dataType>String</dataType>
        <expression>&quot;&amp;nbsp;&amp;nbsp;&quot;</expression>
    </formulas>
    <formulas>
        <name>VarAddress</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;strong&gt;Shipping Address&lt;/strong&gt;&apos;+  {!NewLine} +
If((NOT(ISNULL({!Address_1})) &amp;&amp; NOT(ISBLANK({!Address_1}))), {!Space}+ &quot;&lt;strong&gt;Address 1  -&lt;/strong&gt; &quot; +{!Address_1} +{!NewLine} ,null)+
If((NOT(ISNULL({!Address_2})) &amp;&amp; NOT(ISBLANK({!Address_2}))), {!Space}+ &quot;&lt;strong&gt;Address 2  -&lt;/strong&gt; &quot; +{!Address_2} +{!NewLine} ,null)+
If((NOT(ISNULL({!City})) &amp;&amp; NOT(ISBLANK({!City}))),  {!Space}+&quot;&lt;strong&gt;City  -&lt;/strong&gt; &quot; +{!City} +{!NewLine} ,null)+
If((NOT(ISNULL({!State_Province})) &amp;&amp; NOT(ISBLANK({!State_Province}))),  {!Space}+&quot;&lt;strong&gt;State Province  -&lt;/strong&gt; &quot; +{!State_Province} + {!NewLine} ,null)+
If((NOT(ISNULL({!Zip_Postal_Code})) &amp;&amp; NOT(ISBLANK({!Zip_Postal_Code}))),  {!Space}+&quot;&lt;strong&gt;Zip Postal Code  -&lt;/strong&gt; &quot; +{!Zip_Postal_Code} + {!NewLine} ,null)+
If((NOT(ISNULL({!Country})) &amp;&amp; NOT(ISBLANK({!Country}))),  {!Space}+&quot;&lt;strong&gt;Country  -&lt;/strong&gt; &quot; +{!Country}  ,null)+
If((NOT(ISNULL({!Address_11})) &amp;&amp; NOT(ISBLANK({!Address_11}))), {!Space}+ &quot;&lt;strong&gt;Address 1  -&lt;/strong&gt; &quot; +{!Address_11} + {!NewLine},null)+
If((NOT(ISNULL({!Address_22})) &amp;&amp; NOT(ISBLANK({!Address_22}))), {!Space}+ &quot;&lt;strong&gt;Address 2  -&lt;/strong&gt; &quot; +{!Address_22} + {!NewLine},null)+
If((NOT(ISNULL({!City1})) &amp;&amp; NOT(ISBLANK({!City1}))),  {!Space}+&quot;&lt;strong&gt;City  -&lt;/strong&gt; &quot; +{!City1} + {!NewLine} ,null)+
If((NOT(ISNULL({!State_Province1})) &amp;&amp; NOT(ISBLANK({!State_Province1}))), {!Space}+&quot;&lt;strong&gt;State Province  -&lt;/strong&gt; &quot; +{!State_Province1} + {!NewLine} ,null)+
If((NOT(ISNULL({!Zip_Postal_Code1})) &amp;&amp; NOT(ISBLANK({!Zip_Postal_Code1}))),  {!Space}+&quot;&lt;strong&gt;Zip Postal Code  -&lt;/strong&gt; &quot; +{!Zip_Postal_Code1} + {!NewLine},null)+
If((NOT(ISNULL({!Country1})) &amp;&amp; NOT(ISBLANK({!Country1}))),  {!Space}+&quot;&lt;strong&gt;Country  -&lt;/strong&gt; &quot; +{!Country1} + {!NewLine},null)</expression>
    </formulas>
    <formulas>
        <name>VarName</name>
        <dataType>String</dataType>
        <expression>{!RequestedFor.recordName}</expression>
    </formulas>
    <formulas>
        <name>VarRequest</name>
        <dataType>String</dataType>
        <expression>IF({!Laptop_Type}=&quot;Developer&quot;, &quot;&quot; +{!Type_is_Laptop}+ {!NewLine}, &quot;&quot;) +
IF({!Laptop_Type}=&quot;Executive&quot;, &quot;&quot; +{!Type_is_Executive}+ {!NewLine}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Innova-hardware Request for region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova-hardware Request with approval and task</label>
    <loops>
        <name>Loop_for_Attachment_component</name>
        <label>Loop for Attachment component</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <collectionReference>VarTContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_and_Request_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_task_for_Hardware_Accessories</name>
        <label>Create a task for Hardware Accessories</label>
        <locationX>182</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>label</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for New Hire - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Hardware Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_task_for_Laptop_is_Developer</name>
        <label>Create a task for Laptop is Developer</label>
        <locationX>182</locationX>
        <locationY>2750</locationY>
        <connector>
            <targetReference>If_Laptop_Type_is_Executive</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for New Hire - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Laptop Type is Developer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_task_for_Laptop_is_standard</name>
        <label>Create a task for Laptop is standard</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>If_Laptop_Type_is_Developer</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for New Hire - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Laptop Type is Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_task_for_Laptop_Type_is_Executive</name>
        <label>Create a task for Laptop Type is Executive</label>
        <locationX>182</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Approval_for_Hardware_Accessories</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for New Hire - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Laptop Type is Executive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_from_Collection</name>
        <label>Create Records from Collection</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_the_ContactId</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Id_for_Case_Number</name>
        <label>Get Case Id for Case Number</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_value_in_case_record_variable</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestedFor.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_in_User_Contact</name>
        <label>Get Logged in User Contact</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Component_for_Hardware_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_Record</name>
        <label>Get Manager Record</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Contact.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>If_Laptop_Type_is_standard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Innova_IsApproved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_ContactId</name>
        <label>Update the ContactId</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Get_Manager_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approval_Error</name>
        <label>Approval Error</label>
        <locationX>314</locationX>
        <locationY>1934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_massage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Hardware Request was not submitted to &lt;/b&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Approval&lt;/b&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; Process Please contact your salesforce system administrator.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_path</name>
        <label>Fault path</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Hardware Request was not &lt;/b&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;created&lt;/b&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; Please contact your salesforce &lt;/b&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;system administrator&lt;/b&gt;&lt;b style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>label</name>
        <label>label</label>
        <locationX>314</locationX>
        <locationY>3638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_yes</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(65, 205, 72); background-color: rgb(255, 255, 255);&quot;&gt;          &lt;/strong&gt;&lt;strong style=&quot;color: rgb(10, 157, 35); background-color: rgb(255, 255, 255);&quot;&gt;             Hardware Request with Case Number# {!Get_Case_Id_for_Case_Number.CaseNumber} has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>View Ticket</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Component_for_Hardware_Request</name>
        <label>Screen Component for Hardware Request</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_By</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Requested By&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$User.FirstName}&amp;nbsp;{!$User.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestedFor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested For</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region</name>
                    <choiceReferences>USA</choiceReferences>
                    <choiceReferences>APAC_India</choiceReferences>
                    <choiceReferences>Canada</choiceReferences>
                    <choiceReferences>EMEA_Europe</choiceReferences>
                    <choiceReferences>Mexico</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Logged_in_User_Contact.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand</name>
                    <choiceReferences>VarBrand</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Logged_in_User_Contact.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Accessories</choiceReferences>
            <choiceReferences>New_Laptop</choiceReferences>
            <choiceReferences>Replacement_Laptop</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Laptop_Type</name>
            <choiceReferences>Standard</choiceReferences>
            <choiceReferences>Developer</choiceReferences>
            <choiceReferences>Executive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Laptop Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_Laptop</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Replacement_Laptop</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_massage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 80, 80); font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;This request can only be used for existing Billable and Non-Billable resources.&amp;nbsp;If a laptop is needed for a New Hire, use the&lt;/span&gt;&lt;u style=&quot;color: rgb(234, 80, 80); font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt; &lt;/u&gt;&lt;a href=&quot;https://innovasolutionsitsc.my.site.com/ITSC/s/service-catalog-item?name=item_1684850547887_OnboardingRequest&amp;amp;category=Featured&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(63, 82, 212); font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&lt;u&gt;New Hire Request Form&lt;/u&gt;&lt;/a&gt;&lt;u style=&quot;color: rgb(63, 82, 212); font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;.&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_Laptop</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 60, 60); font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;This request can only be used for existing Billable and Non-Billable resources.&amp;nbsp;If a laptop is needed for a New Hire, use the&lt;/span&gt;&lt;span style=&quot;color: rgb(123, 186, 215); font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://innovasolutionsitsc.my.site.com/ITSC/s/service-catalog-item?name=item_1684850547887_OnboardingRequest&amp;amp;category=Featured&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(63, 82, 212); font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;New Hire Request Form.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Replacement_Laptop</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_is_Laptop</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Approval Required &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This option is for Software Developers only and will require IT Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Developer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_is_Executive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Approval Required &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This option is for VPs and above and will require IT Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Executive</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Displaylabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Hardware Accessories&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>External_Monitor_Double</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Monitor: Double</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>External_Monitor_Single</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Monitor: Single</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Headset_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mouse_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mouse: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Power_Adapter2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Power Adapter</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Printer2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Printer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>System_Speaker</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Desktop Speaker</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Docking_Station</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Docking Station</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>External_Monitor_Double1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Monitor: Double</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>External_Monitor_Single1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Monitor: Single</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>External_Webcam_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Webcam: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Headset_Wired1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Keyboard_Mouse_Combo_Wireless</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard/Mouse Combo: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Wireless</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mouse_Wireless</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mouse: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Power_Adapter1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Power Adapter</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Printer1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Printer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>External_Monitor_Single2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Monitor: Single</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Headset_Wired2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Wireless2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mouse_Wireless2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mouse: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Power_Adapter</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Power Adapter</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Printer</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Printer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>2 AND (1 OR 3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Canada</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Power_Adapter3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Power Adapter</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>2 AND (1 OR 3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Canada</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Printer3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Printer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>2 AND (1 OR 3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Request_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accessories</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Canada</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Information_1</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Other</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Other</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other1</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other3</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Shipping_Address_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Shipping Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_1</name>
                    <dataType>String</dataType>
                    <fieldText>Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_2</name>
                    <dataType>String</dataType>
                    <fieldText>Address 2 (Apt or Unit #)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State_Province</name>
                    <dataType>String</dataType>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_11</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Street</elementReference>
                    </defaultValue>
                    <fieldText>Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_22</name>
                    <dataType>String</dataType>
                    <fieldText>Address 2 (Apt or Unit #)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State_Province1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.State</elementReference>
                    </defaultValue>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Zip_Postal_Code1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.PostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Country</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Hardware_Request_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Country Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EMEA_Europe</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_US</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_UK</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+44</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+44</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>UK</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_India</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+91</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+91</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>APAC_India</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_Canada</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Canada</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Code_Mexico</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+52</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+52</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CellNumber</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cell Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[0-9]{3}[0-9]{3}[0-9]{4}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>1234567890</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CellNumber1</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cell Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[0-9]{3}[0-9]{3}[0-9]{4}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>1234567890</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$User.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Hardware_Request_Section13_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailAddress</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EmailAddress1</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$User.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestedFor.recordId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Attachment</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachment</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Logged_in_User_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>FinalREquest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!RequestFormula}&lt;/p&gt;&lt;p&gt;{!VarRequest}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ApprovedCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarRequestedBy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
