force-app/main/default/flows/Innova_Termination_Request_Form_updated1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Request_Record_with_case_assignment_rule</name>
        <label>Create Request Record with case assignment rule</label>
        <locationX>336</locationX>
        <locationY>1214</locationY>
        <actionName>CaseCreationUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ruleName</name>
            <value>
                <stringValue>Innova Case Assignment Rule</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CaseCreationUtil</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>182</locationX>
        <locationY>3542</locationY>
        <actionName>c:Navigations</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:Navigations</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_record_Into_Collection</name>
        <label>Add record Into Collection</label>
        <locationX>424</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_attach_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_in_case_record_variable</name>
        <label>Assign value in case record variable</label>
        <locationX>336</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Termination Request for - {!varName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Termination Request  - Details can be found in Service Request Details section</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Termination Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.wkitsm__ServiceProvider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>End User Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Brand1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Termination_Effective_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Termination_Effective_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request_Record_with_case_assignment_rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_file_and_Req_Record</name>
        <label>Link file and Req Record</label>
        <locationX>424</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>VarContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_attach_File</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_Into_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ADT</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Atlantic Daylight Time (ADT)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Atlantic Daylight Time (ADT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>AKDT</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Alaska Daylight Time (AKDT)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alaska Daylight Time (AKDT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>BST</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;British Summer Time (BST)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>British Summer Time (BST)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CDT</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Central Daylight Time (CDT)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Central Daylight Time (CDT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CST</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(227, 243, 255);&quot;&gt;Central Standard Time (CST)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Central Standard Time (CST)</stringValue>
        </value>
    </choices>
    <choices>
        <name>EDT</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(247, 247, 247); font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: rgb(69, 69, 69);&quot;&gt;Eastern Daylight Time(EDT)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Eastern Daylight Time(EDT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>HAST</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Hawaii-Aleutian Standard Time (HAST)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hawaii-Aleutian Standard Time (HAST)</stringValue>
        </value>
    </choices>
    <choices>
        <name>HDT</name>
        <choiceText>&lt;span style=&quot;background-color: rgba(204, 204, 204, 0.4); font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: rgb(69, 69, 69);&quot;&gt;Hawaii-Aleutian Daylight Time (HDT)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hawaii-Aleutian Daylight Time (HDT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>HST</name>
        <choiceText>&lt;span style=&quot;background-color: rgba(204, 204, 204, 0.4); font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: rgb(69, 69, 69);&quot;&gt;Hawaii Standard Time (HST)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hawaii Standard Time (HST)</stringValue>
        </value>
    </choices>
    <choices>
        <name>IST</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;India Standard Time (IST)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>India Standard Time (IST)</stringValue>
        </value>
    </choices>
    <choices>
        <name>MDT</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Mountain Daylight Time (MDT)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mountain Daylight Time (MDT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>MST</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Mountain Standard Time (MST)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MST</elementReference>
        </value>
    </choices>
    <choices>
        <name>MT</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Mountain Time (MT)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mountain Time (MT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>NDT</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(227, 243, 255);&quot;&gt;Newfoundland Daylight Time (NDT)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Newfoundland Daylight Time (NDT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No</elementReference>
        </value>
    </choices>
    <choices>
        <name>PDT</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Pacific Daylight Time (PDT)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pacific Daylight Time (PDT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>336</locationX>
        <locationY>2054</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_task_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_id.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_Update_User_in_AD</targetReference>
            </connector>
            <label>Create task 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_Brand</name>
        <label>Decision to check Brand</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>lable_at_End1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Innova_Hiregenics</name>
            <conditionLogic>(1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_From_Contact_Lookup.Innova_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hiregenics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_From_Contact_Lookup.Innova_Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Innova</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>One_Drive_Access2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_One_Drive</targetReference>
            </connector>
            <label>For Innova &amp; Hiregenics</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>brandPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>regionPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm_TimeZone__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZone1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm_TimeZone__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>newLine</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>Requestdetails</name>
        <dataType>String</dataType>
        <expression>IF({!Address_is_incorrect}==FALSE, &quot;&lt;strong&gt;Address 1  -&lt;/strong&gt;&quot; +{!Address_3}+ {!newLine}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RequestedforUpdated</name>
        <dataType>String</dataType>
        <expression>{!varServicerequest2}+{!varServiceRequest}</expression>
    </formulas>
    <formulas>
        <name>varBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>varName</name>
        <dataType>String</dataType>
        <expression>{!Cousaltant.recordName}</expression>
    </formulas>
    <formulas>
        <name>varServiceRequest</name>
        <dataType>String</dataType>
        <expression>
If(!ISNULL({!Address_1}) &amp;&amp; !ISBLANK({!Address_1}), &apos;&lt;strong&gt;Address 1 - &lt;/strong&gt;&apos; + {!Address_1} + {!newLine}, Null) 
+IF({!Address_2}!=NULL, &quot;&lt;strong&gt; Address 2 (Apt or Unit#) - &lt;/strong&gt;&quot; +{!Address_2}+ {!newLine}, &quot;&quot;)
+If(!ISNULL({!City1}) &amp;&amp; !ISBLANK({!City1}), &apos;&lt;strong&gt;City -  &lt;/strong&gt;&apos; + {!City1} + {!newLine}, Null)
+If(!ISNULL({!State_Province}) &amp;&amp; !ISBLANK({!State_Province}), &apos;&lt;strong&gt;State/Province -  &lt;/strong&gt;&apos; + {!State_Province} + {!newLine}, Null) 
+If(!ISNULL({!Zip_Postal_Code}) &amp;&amp; !ISBLANK({!Zip_Postal_Code}), &apos;&lt;strong&gt;Zip/Postal Code -  &lt;/strong&gt;&apos; + {!Zip_Postal_Code} + {!newLine}, Null)
+If(!ISNULL({!Country}) &amp;&amp; !ISBLANK({!Country}), &apos;&lt;strong&gt;Country -  &lt;/strong&gt;&apos; + {!Country} + {!newLine}, Null)
+if((NOT(ISNULL({!Country_Code_Canada.value})) &amp;&amp; NOT(ISBLANK({!Country_Code_Canada.value}))), &quot;&lt;strong&gt;Country Code- &lt;/strong&gt;&quot; +{!Country_Code_Canada.value} + {!newLine} ,null)
+If(NOT(ISNULL({!Update_Existing_Direct_Reports.recordName})) &amp;&amp; NOT(ISBLANK({!Update_Existing_Direct_Reports.recordName})),
&quot;&lt;strong&gt;Update Existing Direct Reports  -  &lt;/strong&gt;&quot; + {!Update_Existing_Direct_Reports.recordName} + {!newLine},null)
+If({!Email_forwarding2}==TRUE,&quot;&lt;strong&gt;Email forwarding  -   &lt;/strong&gt;90 days default&quot; +{!newLine},null)+
If({!Phone_number_forwarding2}==TRUE,&quot;&lt;strong&gt;Phone number forwarding&lt;/strong&gt; - 90 days default &quot; +{!newLine},null)+
If({!Phone_number_forwarding2}==TRUE,&quot;&lt;strong&gt;Forward Phone number for 90 Days to&lt;/strong&gt; &quot;+{!VarUpdateExstiongPhone}  +{!newLine},null)+
If({!Mailbox_delegation2}==TRUE,&quot;&lt;strong&gt;Mailbox delegation - &lt;/strong&gt;90 days default &quot; +{!newLine},null)+
If({!One_Drive_Access2}==TRUE,&quot;&lt;strong&gt;One Drive Access - &lt;/strong&gt;90 days default &quot; +{!newLine},null)+If(!ISNULL({!Additional_Information}) &amp;&amp; !ISBLANK({!Additional_Information}), &apos;&lt;strong&gt;Additional Information -  &lt;/strong&gt;&apos; + {!Additional_Information} + {!newLine}, Null)</expression>
    </formulas>
    <formulas>
        <name>varServicerequest2</name>
        <dataType>String</dataType>
        <expression>if((NOT(ISNULL({!Region2})) &amp;&amp; NOT(ISBLANK({!Region2}))), &quot;&lt;strong&gt;Region - &lt;/strong&gt;&quot; +{!Region2} + {!newLine} ,null)+
if((NOT(ISNULL({!Brand2})) &amp;&amp; NOT(ISBLANK({!Brand2}))), &quot;&lt;strong&gt;Brand -  &lt;/strong&gt;&quot; +{!Brand2} + {!newLine} ,null)+
If({!Requested_By2}!=null,{!Requested_By2}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
If({!Requested_for1}!=null,{!Requested_for1}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
If({!Show_Manager}!=null, {!Show_Manager}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
If({!Show_Job_Description}!=null, {!Show_Job_Description}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
If({!Show_Department}!=null,{!Show_Department}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
If ((NOT(ISNULL(TEXT({!Termination_Effective_Date_Time}))) &amp;&amp; NOT(ISBLANK(TEXT({!Termination_Effective_Date_Time})))),&quot;&lt;strong&gt;Termination Effective Date Time - &lt;/strong&gt;&quot; +TEXT({!Termination_Effective_Date_Time})+{!newLine} ,null)+
if((NOT(ISNULL({!Time_Zone2})) &amp;&amp; NOT(ISBLANK({!Time_Zone2}))), &quot;&lt;strong&gt;Time Zone -  &lt;/strong&gt;&quot; +{!Time_Zone2} + {!newLine} ,null)+
IF({!Address_is_incorrect}==FALSE,{!varSpace}+ {!Display1}, &quot;&quot;)  +
IF({!Address_is_incorrect}==TRUE, {!varSpace} +{!Correct_Address}, &quot;&quot;) +
IF({!Address_is_incorrect}==FALSE,{!varSpace}+ &quot;&lt;strong&gt;Address 1  -  &lt;/strong&gt;&quot; +{!Address_3}+ {!newLine}, &quot;&quot;) +
IF({!Address_is_incorrect}==FALSE, {!varSpace}+&quot;&lt;strong&gt;City  -  &lt;/strong&gt;&quot; +{!City2}+ {!newLine}, &quot;&quot;) +
IF({!Address_is_incorrect}==FALSE, {!varSpace}+&quot;&lt;strong&gt;State/Province  -  &lt;/strong&gt;&quot; +{!State_Province1}+ {!newLine}, &quot;&quot;) +
IF({!Address_is_incorrect}==FALSE, {!varSpace}+&quot;&lt;strong&gt;Zip/Postal Code  -  &lt;/strong&gt;&quot; +{!Zip_Postal_Code1}+ {!newLine}, &quot;&quot;) +
IF({!Address_is_incorrect}==FALSE,{!varSpace}+ &quot;&lt;strong&gt;Country  -  &lt;/strong&gt;&quot; +{!Country1}+ {!newLine}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varSpace</name>
        <dataType>String</dataType>
        <expression>&quot;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;</expression>
    </formulas>
    <formulas>
        <name>VarUpdateExstiongPhone</name>
        <dataType>String</dataType>
        <expression>{!Update_Existing_Direct_Reports.recordName} +&quot;&lt;strong&gt; -  &lt;/strong&gt; &quot;+{!Get_Forward_mobile_number.Phone}</expression>
    </formulas>
    <interviewLabel>Innova-Termination Request Form updated1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova-Termination Request Form updated1</label>
    <loops>
        <name>Loop_to_attach_File</name>
        <label>Loop to attach File</label>
        <locationX>336</locationX>
        <locationY>1538</locationY>
        <collectionReference>VarContentDocID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_file_and_Req_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Record_From_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record_From_Collection</name>
        <label>Create Record From Collection</label>
        <locationX>336</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>task_365_Licensing</name>
        <label>task 365 Licensing</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Task_Collect_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Request -365 Licensing Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for 365 Licensing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_365_Retention_Policy</name>
        <label>Task 365 Retention Policy</label>
        <locationX>182</locationX>
        <locationY>2594</locationY>
        <connector>
            <targetReference>Task_Update_Mailbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Request - 365 Retention Policy Details can be found in Service Request Details section </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for 365 Retention Policy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Collect_Assets</name>
        <label>Task Collect Assets</label>
        <locationX>182</locationX>
        <locationY>2378</locationY>
        <connector>
            <targetReference>Task_Redirect_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Request -Collect Assets Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Collect Assets</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Disable_Door_Access</name>
        <label>Task Disable Door Access</label>
        <locationX>182</locationX>
        <locationY>2810</locationY>
        <connector>
            <targetReference>Task_Disable_WiFi_Access</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Request -Disable Door Access Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Disable Door Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Disable_Phone_Number</name>
        <label>Task Disable Phone Number</label>
        <locationX>182</locationX>
        <locationY>3026</locationY>
        <connector>
            <targetReference>Decision_to_check_Brand</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Request - Disable Phone Number Details can be found in Service Request Details section </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Disable Phone Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Disable_WiFi_Access</name>
        <label>Task Disable WiFi Access</label>
        <locationX>182</locationX>
        <locationY>2918</locationY>
        <connector>
            <targetReference>Task_Disable_Phone_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Request - Disable WiFi Access Details can be found in Service Request Details section </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Disable WiFi Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_One_Drive</name>
        <label>Task for One Drive</label>
        <locationX>50</locationX>
        <locationY>3242</locationY>
        <connector>
            <targetReference>lable_at_End1</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Task for forwarding One Drive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Task for One Drive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Redirect_Manager</name>
        <label>Task Redirect Manager</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Task_365_Retention_Policy</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Request -Redirect Manager Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Redirect Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Update_Mailbox</name>
        <label>Task Update Mailbox</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Task_Disable_Door_Access</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Request - Update Mailbox Details can be found in Service Request Details section </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for Updating Mailbox</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>task_Update_User_in_AD</name>
        <label>task Update User in AD</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>task_365_Licensing</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Termination Request -Update User in AD Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for Updating User in AD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_id</name>
        <label>Get Case id</label>
        <locationX>336</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_from_que</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_From_Contact_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_from_Selection</name>
        <label>Get Contact from Selection</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cousaltant.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forward_mobile_number</name>
        <label>Get Forward mobile number</label>
        <locationX>336</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requested_For</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Existing_Direct_Reports.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager</name>
        <label>Get Manager</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Second_Screen_To_Show_Adress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_From_Contact_Lookup.Manager.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_from_que</name>
        <label>Get Record from que</label>
        <locationX>336</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_attach_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_id.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requested_For</name>
        <label>Get Requested For</label>
        <locationX>336</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_value_in_case_record_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cousaltant.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_For_Region</name>
        <label>Get User For Region</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Termination_Request_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_From_Contact_Lookup</name>
        <label>Get User From Contact Lookup</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_from_Selection.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Termination Request was not submitted Please contact to Salesforce administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>lable_at_End1</name>
        <label>lable at End</label>
        <locationX>182</locationX>
        <locationY>3434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation</targetReference>
        </connector>
        <fields>
            <name>lable_at_End</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(11, 154, 35);&quot;&gt;Termination Request with Case Number# {!Get_Case_id.CaseNumber}&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(11, 154, 35);&quot;&gt; has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>View Ticket</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Second_Screen_To_Show_Adress</name>
        <label>Second Screen To Show Adress</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Forward_mobile_number</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Termination_Request_Form2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Termination Request Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region2</name>
                    <choiceReferences>regionPickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Requested_for1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;User being Terminated -  &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Contact_from_Selection.Name}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Show_Department</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Department -   &lt;/strong&gt;{!Get_User_From_Contact_Lookup.Department}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand2</name>
                    <choiceReferences>brandPickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Show_Manager</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Reporting Manager - &lt;/strong&gt;{!Get_Manager.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Show_Job_Description</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Description - &lt;/strong&gt;{!Get_User_From_Contact_Lookup.Title}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Termination_Effective_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Termination Effective Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Time_Zone2</name>
            <choiceReferences>CDT</choiceReferences>
            <choiceReferences>MT</choiceReferences>
            <choiceReferences>IST</choiceReferences>
            <choiceReferences>BST</choiceReferences>
            <choiceReferences>HST</choiceReferences>
            <choiceReferences>HDT</choiceReferences>
            <choiceReferences>AKDT</choiceReferences>
            <choiceReferences>PDT</choiceReferences>
            <choiceReferences>MDT</choiceReferences>
            <choiceReferences>EDT</choiceReferences>
            <choiceReferences>NDT</choiceReferences>
            <choiceReferences>ADT</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>None</stringValue>
            </defaultValue>
            <fieldText>Time Zone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Current Address of Employee&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.Street</elementReference>
                    </defaultValue>
                    <fieldText>Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>City2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Zip_Postal_Code1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.PostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_2_Apt_or_Unit</name>
                    <dataType>String</dataType>
                    <fieldText>Address 2 (Apt or Unit#)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>State_Province1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.State</elementReference>
                    </defaultValue>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.Country</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_is_incorrect</name>
            <dataType>Boolean</dataType>
            <fieldText>Address is incorrect</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(141, 141, 141); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Address 1 -&lt;/strong&gt;&lt;span style=&quot;color: rgb(141, 141, 141); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_User_From_Contact_Lookup.Street}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(141, 141, 141); font-size: 14px;&quot;&gt;City -&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(141, 141, 141); font-size: 14px;&quot;&gt;{!Get_User_From_Contact_Lookup.City}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display6</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(141, 141, 141); font-size: 14px;&quot;&gt;Zip/Postal Code - &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(141, 141, 141); font-size: 14px;&quot;&gt;{!Get_User_From_Contact_Lookup.PostalCode}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Address 2 (Apt or Unit#) -&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(141, 141, 141); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;State/Province -&lt;/strong&gt;&lt;span style=&quot;color: rgb(141, 141, 141); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_User_From_Contact_Lookup.State}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display7</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(141, 141, 141); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Country -&lt;/strong&gt;&lt;span style=&quot;color: rgb(141, 141, 141); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_User_From_Contact_Lookup.Country}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Address_is_incorrect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Correct_Address</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Correct Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Address_is_incorrect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_1</name>
                    <dataType>String</dataType>
                    <fieldText>Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_2</name>
                    <dataType>String</dataType>
                    <fieldText>Address 2 (Apt or Unit#)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City1</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State_Province</name>
                    <dataType>String</dataType>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Address_is_incorrect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Code_Canada</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>UKCountryCode</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+44</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{2}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+44</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>BST</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCodeIndia</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+91</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{2}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+91</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>IST</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>USTimeZoneCDT</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CDT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>USTimeZoneHST</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>HST</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>USTimeZoneADT</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ADT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>USTimeZoneHDT</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>HDT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>USTimeZoneAKDT</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AKDT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>USTimeZonePDT</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PDT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>USTimeZoneNDT</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>NDT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>USTimeZoneMDT</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MDT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>USTimeZoneEDT</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EDT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MAxicoTimeZone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+52</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{2}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+52</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Time_Zone2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Cell_Phone_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact_from_Selection.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Personal Cell Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter 10 numeric digits only&lt;/p&gt;</errorMessage>
                        <formulaExpression>(ISNUMBER({!Personal_Cell_Phone_Number}) &amp;&amp; (LEN({!Personal_Cell_Phone_Number}) =10))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Email_Address1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact_from_Selection.Email</elementReference>
                    </defaultValue>
                    <fieldText>Personal Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Update_Existing_Direct_Reports</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Update Existing Direct Reports</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_forwarding2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Email forwarding</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mailbox_delegation2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mailbox delegation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_number_forwarding2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Phone number forwarding</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>One_Drive_Access2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>One Drive Access</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Update_Existing_Contact1</name>
                    <fieldText>&lt;p&gt;{!VarUpdateExstiongPhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attachment</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>VarContentDocID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarContentDocID</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Termination_Request_Form</name>
        <label>Termination Request Form</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_from_Selection</targetReference>
        </connector>
        <fields>
            <name>Termination_Request_Form2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Termination Request Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Termination_Request_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Request_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_By2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Requested By &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName}             &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.LastName} &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Request_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cousaltant</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested For</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_For_Region</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dummyQueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarContentDocID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumberOfTimesLoopRuns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
