force-app/main/default/flows/Innova_Email_To_Case_Set_Category_From_To_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_count_to_countOfEmails</name>
        <label>Assign count to countOfEmails</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>countOfEmails</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Generic_Email_Map</name>
        <label>Assign Generic Email Map</label>
        <locationX>1194</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>varEmailCategoryMap</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Generic_Email_Category_Map_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Specific_Email_Map</name>
        <label>Assign Specific Email Map</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varEmailCategoryMap</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Category_Map_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Found_Records</name>
        <label>Copy 1 of Found Records</label>
        <locationX>1326</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Loop_Email_Relations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Records_Generic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Generic_Email_Category_Map_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Generic_Email_Map</targetReference>
            </connector>
            <label>Yes - Found Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records</label>
        <locationX>732</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Get_Generic_Email_Category_Map_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Category_Map_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Specific_Email_Map</targetReference>
            </connector>
            <label>Yes - Found Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_Email</name>
        <label>One Email?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Found Emails</defaultConnectorLabel>
        <rules>
            <name>No_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countOfEmails</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EmailRelations</targetReference>
            </connector>
            <label>No Emails</label>
        </rules>
    </decisions>
    <description>Include &quot;Create Contact from Email&quot; subflow</description>
    <environments>Default</environments>
    <formulas>
        <name>EmailToCaseRecipientName</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.Headers} , FIND(&apos;X-SFDC-Original-RCPT:&apos;, {!$Record.Headers}) + 22, 500)</expression>
    </formulas>
    <interviewLabel>Innova - Set Category From To Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova - Email-To-Case - Set Category From To Address v2</label>
    <loops>
        <name>Loop_Email_Relations</name>
        <label>Loop - Email Relations</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_EmailRelations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Email_Category_Map_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Parent_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Category_Map_Records</name>
        <label>Get Email Category Map Records</label>
        <locationX>732</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Org_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Email_Relations.RelationAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailToCase_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailToCaseRecipientName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Email_Category_Map__c</object>
        <sortField>Org_Email__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EmailRelations</name>
        <label>Get EmailRelations</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Email_Relations</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>EmailMessageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ToAddress</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CcAddress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Emails</name>
        <label>Get Emails</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_count_to_countOfEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_Email_Category_Map_Records</name>
        <label>Get Generic Email Category Map Records</label>
        <locationX>1326</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Found_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailToCase_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailToCaseRecipientName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Org_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Email_Category_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>138</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_From_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_ToAddress</name>
        <label>Set ToAddress</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>No_Notifications__c</field>
            <value>
                <elementReference>varEmailCategoryMap.No_Notifications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Address__c</field>
            <value>
                <elementReference>Loop_Email_Relations.RelationAddress</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Category</name>
        <label>Update Category</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Sub_Category</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ToAddress</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Innova_Category1__c</field>
            <value>
                <elementReference>varEmailCategoryMap.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service</name>
        <label>Update Service</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Update_Category</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ToAddress</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Innova_Service1__c</field>
            <value>
                <elementReference>varEmailCategoryMap.Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sub_Category</name>
        <label>Update Sub Category</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Set_ToAddress</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ToAddress</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Innova_Subcategory1__c</field>
            <value>
                <elementReference>varEmailCategoryMap.Subcategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_Contact_From_Email</name>
        <label>Create Contact From Email</label>
        <locationX>138</locationX>
        <locationY>1727</locationY>
        <flowName>Innova_Create_Contact_from_Email</flowName>
        <inputAssignments>
            <name>varCase</name>
            <value>
                <elementReference>Get_Parent_Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>countOfEmails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCaseCurrentQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailCategoryMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Email_Category_Map__c</objectType>
    </variables>
    <variables>
        <name>varEmailMessages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
