force-app/main/default/flows/Innova_ApplicationList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Request_Record_with_case_assignment_rule</name>
        <label>Create Request Record with case assignment rule</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>CaseCreationUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_to_assign_Subcategory_values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ruleName</name>
            <value>
                <stringValue>Innova Case Assignment Rule v2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CaseCreationUtil</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Home_Page</name>
        <label>Home Page</label>
        <locationX>314</locationX>
        <locationY>4160</locationY>
        <actionName>c:Homepage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:Homepage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>if_Approval</name>
        <label>if Approval</label>
        <locationX>402</locationX>
        <locationY>3578</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Loop_To_Create_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessages</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_task_for_each_selected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Innova_Software_Task_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Records_into_a_Collection</name>
        <label>Add Records into a Collection</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subcategory_to_each_software</name>
        <label>Assign Subcategory to each software</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.wkitsm__Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_assign_Subcategory_values.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_assign_Subcategory_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Related_Values</name>
        <label>Assign Task Related Values</label>
        <locationX>666</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>VarSoftwareName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Task.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDescriptionOfEachSoftware</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Task.Innova_Description_of_the_Request__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Task.Innova_Add__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Task.Innova_Edit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDelete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Task.Innova_Delete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccessLevel1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Task.Innova_Access_Level__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_task_for_each_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_in_case_record_variable</name>
        <label>Assign value in case record variable</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application-Software Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Software/Application Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application/Software Request for - {!VarName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.wkitsm__ServiceProvider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IT Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_On_Behalf_Of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.wkitsm__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Applications/Software</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Brand1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBrand</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_and_Request_Record</name>
        <label>Link File and Request Record</label>
        <locationX>402</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Attachment_component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_a_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>HireGenics</name>
        <choiceText>HireGenics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HireGenics</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innova_Solutions</name>
        <choiceText>Innova Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_for_Task</name>
        <label>Approval for Task</label>
        <locationX>666</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>Loop_To_Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requires_IT_Approval_checkbox_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_To_Create_Task.Innova_Requires_IT_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_To_Create_Task.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sharepoint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_Approval</targetReference>
            </connector>
            <label>Requires IT Approval checkbox True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Requested_for</name>
        <label>Check for Requested for</label>
        <locationX>666</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Approval_for_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestedFor.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Manager</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_on_Requested_by_on_record</name>
        <label>Check on Requested by on record</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Get_Contact1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestedFor.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_ContactId</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_how_many_software_are_selected</name>
        <label>Decision to check how many software are selected</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Id_for_Case_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Subcategory_value_as_Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountOfCommas</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subcategory_as_Multiple</targetReference>
            </connector>
            <label>Assign Subcategory value as Multiple</label>
        </rules>
        <rules>
            <name>Assign_Subcategory_value_as_Each_software_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountOfCommas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subcategory</targetReference>
            </connector>
            <label>Assign Subcategory value as Each software Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>test</name>
        <label>Check software is selected</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Error11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarSingleString</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Request_Record_with_case_assignment_rule</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>brandPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>regionPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BR</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>eachSoftwareDetailsForTask</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;strong&gt; Application Name &lt;/strong&gt; - &quot;+{!VarSoftwareName}+&quot;&lt;br/&gt;&lt;strong&gt; Action &lt;/strong&gt;-&quot;+{!varAction}+&quot;&lt;br/&gt;&quot;+{!varTaskDescription}+&quot;&lt;br/&gt;&quot;+{!varAccessLevel}</expression>
    </formulas>
    <formulas>
        <name>finalOutput</name>
        <dataType>String</dataType>
        <expression>{!requestedByformula}+{!RequestFormula}+If({!Justification}!=null ,&quot;&lt;strong&gt;Justification-&lt;/strong&gt;&quot; + &quot; &quot; + {!Justification} +{!NewLine}+ {!NewLine} , null)
+If({!Additional_Information}!=null ,&quot;&lt;strong&gt;Additional Information -&lt;/strong&gt;&quot; + &quot; &quot; + {!Additional_Information} +{!NewLine}+ {!NewLine} , null)</expression>
    </formulas>
    <formulas>
        <name>Formula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>NewLine</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>requestedByformula</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISNULL({!RequestedFor.recordName})) &amp;&amp; NOT(ISBLANK({!RequestedFor.recordName})),
&quot;&lt;strong&gt;Requested For  - &lt;/strong&gt;&quot; +{!RequestedFor.recordName} + {!NewLine} ,null)+
If(NOT(ISNULL({!Requested_By})) &amp;&amp; NOT(ISBLANK({!Requested_By})),
 {!Requested_By} + {!NewLine} ,null)</expression>
    </formulas>
    <formulas>
        <name>RequestFormula</name>
        <dataType>String</dataType>
        <expression>If({!Region}!=null ,&quot;&lt;strong&gt;Region - &lt;/strong&gt;&quot; + &quot; &quot; + {!Region} +{!NewLine} , null)
+If({!Brand}!=null ,&quot;&lt;strong&gt;Brand - &lt;/strong&gt;&quot; + &quot; &quot; + {!Brand} +{!NewLine} , null)+{!NewLine}
+If({!Brand1}!=null ,&quot;&lt;strong&gt;Brand - &lt;/strong&gt;&quot; + &quot; &quot; + {!Brand1} +{!NewLine} , null)+{!NewLine}
+ {!VarSingleString}+{!NewLine}</expression>
    </formulas>
    <formulas>
        <name>ServiceRequestDetails</name>
        <dataType>String</dataType>
        <expression>{!varNewString}</expression>
    </formulas>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>{!Loop_to_assign_Subcategory_values.Name}</expression>
    </formulas>
    <formulas>
        <name>varAccessLevel</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISNULL({!varAccessLevel1})) &amp;&amp; NOT(ISBLANK({!varAccessLevel1})),
&quot;&lt;strong&gt;Access Level- &lt;/strong&gt;&quot; +{!varAccessLevel1} + {!NewLine} ,null)</expression>
    </formulas>
    <formulas>
        <name>varAction</name>
        <dataType>String</dataType>
        <expression>IF({!varAdd}== true,&quot;Add&quot;,IF({!varEdit}== true, &quot;Edit&quot;, IF({!varDelete}== true, &quot;Delete&quot;, &quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>varBrand</name>
        <dataType>String</dataType>
        <expression>IF({!Brand}!=Null, {!Brand}, &quot;&quot;) + IF({!Brand1}!=Null, {!Brand1}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varCountOfCommas</name>
        <dataType>Number</dataType>
        <expression>LEN({!VarSubCategory} ) - LEN( SUBSTITUTE({!VarSubCategory} , &apos;,&apos;, &apos;&apos;) )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VarName</name>
        <dataType>String</dataType>
        <expression>{!RequestedFor.recordName}</expression>
    </formulas>
    <formulas>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISNULL({!VarDescriptionOfEachSoftware})) &amp;&amp; NOT(ISBLANK({!VarDescriptionOfEachSoftware})),
&quot;&lt;strong&gt;Description of the Request - &lt;/strong&gt;&quot; +{!VarDescriptionOfEachSoftware} + {!NewLine} ,null)</expression>
    </formulas>
    <interviewLabel>Innova_ApplicationList {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Applications/Software Form</label>
    <loops>
        <name>Loop_for_Attachment_component</name>
        <label>Loop for Attachment component</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <collectionReference>VarTContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_and_Request_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_assign_Subcategory_values</name>
        <label>Loop to assign Subcategory values</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <collectionReference>ApplicationRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Subcategory_to_each_software</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_to_check_how_many_software_are_selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_To_Create_Task</name>
        <label>Loop To Create Task</label>
        <locationX>314</locationX>
        <locationY>2846</locationY>
        <collectionReference>ApplicationRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Related_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DisplayText</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_from_Collection</name>
        <label>Create Records from Collection</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Check_on_Requested_by_on_record</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_task_for_each_selected</name>
        <label>Create task for each selected</label>
        <locationX>666</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Check_for_Requested_for</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Contact_Name_for_Task__c</field>
            <value>
                <elementReference>RequestedFor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <elementReference>Loop_To_Create_Task.Innova_Description_of_the_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IT_Approval__c</field>
            <value>
                <elementReference>Loop_To_Create_Task.Innova_Requires_IT_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>eachSoftwareDetailsForTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Application Request for - {!VarSoftwareName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Id_for_Case_Number.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Record</name>
        <label>Get Application Record</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Component_for_Software_Application_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Innova_Foundational_access__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Innova_Application_Software__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Id_for_Case_Number</name>
        <label>Get Case Id for Case Number</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_value_in_case_record_variable</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestedFor.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact1</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestedFor.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_in_User_Contact</name>
        <label>Get Logged in User Contact</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_Record</name>
        <label>Get Manager Record</label>
        <locationX>314</locationX>
        <locationY>2738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_To_Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact1.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_created_Case</name>
        <label>Rollback created Case</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Manager</name>
        <label>Update Manager</label>
        <locationX>534</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Approval_for_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_task_for_each_selected</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Innova_Manager__c</field>
            <value>
                <elementReference>Get_Manager_Record.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subcategory</name>
        <label>Update Subcategory</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_Case_Id_for_Case_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>wkitsm__Subcategory__c</field>
            <value>
                <elementReference>varCaseRecord.wkitsm__Subcategory__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subcategory_as_Multiple</name>
        <label>Update Subcategory as Multiple</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_Case_Id_for_Case_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>wkitsm__Subcategory__c</field>
            <value>
                <stringValue>Multiple</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_ContactId</name>
        <label>Update the ContactId</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Get_Contact1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Request_Record_with_case_assignment_rule</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RequestedFor.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DisplayText</name>
        <label>DisplayText</label>
        <locationX>314</locationX>
        <locationY>4052</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Home_Page</targetReference>
        </connector>
        <fields>
            <name>DisplayText0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(10, 157, 35);&quot;&gt;Software Request with Case Number# {!Get_Case_Id_for_Case_Number.CaseNumber} has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rollback_created_Case</targetReference>
        </connector>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Application Request was not created Please contact your salesforce system administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error11</name>
        <label>Error</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nocase</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please select atleast&amp;nbsp;one software to create service request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMessages</name>
        <label>ErrorMessages</label>
        <locationX>666</locationX>
        <locationY>3686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_created_Case</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Software Request was not submitted to&amp;nbsp;Approval&amp;nbsp;Process Please contact your salesforce system administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Component_for_Software_Application_Request</name>
        <label>Screen Component for Software/Application Request</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SoftwareAppliction</targetReference>
        </connector>
        <fields>
            <name>Screen_Component_for_Software_Application_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Software_Application_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_By</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Requested By﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$User.FirstName}&amp;nbsp;{!$User.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Software_Application_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestedFor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested For</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Logged_in_User_Contact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Component_for_Software_Application_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Component_for_Software_Application_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region</name>
                    <choiceReferences>regionPickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Logged_in_User_Contact.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Component_for_Software_Application_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand</name>
                    <choiceReferences>brandPickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Logged_in_User_Contact.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand1</name>
                    <choiceReferences>Innova_Solutions</choiceReferences>
                    <choiceReferences>HireGenics</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Logged_in_User_Contact.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SoftwareAppliction</name>
        <label>SoftwareAppliction</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_SoftwareAppliction</targetReference>
        </connector>
        <fields>
            <name>SofwtareList</name>
            <extensionName>c:applicationRequest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedBrand</name>
                <value>
                    <elementReference>Brand</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRegion</name>
                <value>
                    <elementReference>Region</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedBrand1</name>
                <value>
                    <elementReference>Brand1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ApplicationRecord</assignToReference>
                <name>OutList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarSingleString</assignToReference>
                <name>OutString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VarSubCategory</assignToReference>
                <name>OutStringSub</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_SoftwareAppliction</name>
        <label>Submit SoftwareAppliction</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>SelectedSoftware</name>
            <fieldText>&lt;p&gt;{!RequestFormula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Justification</name>
            <fieldText>Justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attachment</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Logged_in_User_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Innova_Application_Software__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Innova_Application_Software__c</objectType>
    </variables>
    <variables>
        <name>varAccessLevel1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAdd</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varDelete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDescriptionOfEachSoftware</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEdit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarSingleString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarSoftwareName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSubCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
