force-app/main/default/flows/Innova_Get_Org_Wide_Email_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Default</name>
        <label>Default</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultOrgWideAddress</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Dynamic_Org_Wide_Email_Address</name>
        <label>Dynamic Org Wide Email Address</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Sender.Org_Email__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found_Queue_Email_Record</name>
        <label>Found Queue Email Record?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Sender.Org_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dynamic_Org_Wide_Email_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Get Org Wide Email Address for Current Queue</description>
    <environments>Default</environments>
    <interviewLabel>Innova - Get Org Wide Email Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova - Get Org Wide Email Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Sender</name>
        <label>Get Email Sender</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Queue_Email_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Current_Queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Queue_Email_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Sender</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>DefaultOrgWideAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>servicedesk.it@innovasolutions.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>OrgWideEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
