force-app/main/default/flows/Innova_Task_Creation_For_hardware_Request_on_task_object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_manager</name>
        <label>Check manager</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_manager</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Laptop Charger</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monitors Dual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monitor Single</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Headset Wired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Wired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Docking Station</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse Wired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Printer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop Speaker (Jabra)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Headset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>External Webcam Wired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard/Mouse Combo Wireless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Wireless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse Wireless</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_for_Monitors_Dual</targetReference>
            </connector>
            <label>if manager</label>
        </rules>
        <rules>
            <name>If_laptop_is_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This option will require business justification or be a client requirement. IT Approval is required.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This option is for VPs and above and will require IT Approval.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This option is for Software Developers only and will require IT Approval.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_for_Laptop_type_is_MAc</targetReference>
            </connector>
            <label>If laptop is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Desktop_Speaker_Jabra</name>
        <label>Decision for Desktop Speaker (Jabra)</label>
        <locationX>182</locationX>
        <locationY>3347</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Headset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Desktop_Speaker_Jabra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop Speaker (Jabra)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Desktop_Speaker_Jabra</targetReference>
            </connector>
            <label>If Desktop Speaker (Jabra)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Docking_Station</name>
        <label>Decision for Docking Station</label>
        <locationX>182</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Mouse_Wired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Docking_Station</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Docking Station</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Docking_Station</targetReference>
            </connector>
            <label>If Docking Station</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_External_Webcam_Wired</name>
        <label>Decision for External Webcam Wired</label>
        <locationX>182</locationX>
        <locationY>3947</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Mouse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_External_Webcam_Wired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>External Webcam Wired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_External_Webcam_Wired</targetReference>
            </connector>
            <label>If External Webcam Wired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Headset</name>
        <label>Decision for Headset</label>
        <locationX>182</locationX>
        <locationY>3647</locationY>
        <defaultConnector>
            <targetReference>Decision_for_External_Webcam_Wired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Headset</name>
            <conditionLogic>1 AND NOT (2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Headset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Headset Wired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Headset</targetReference>
            </connector>
            <label>If Headset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Headset_Wired</name>
        <label>Decision for Headset Wired</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Keyboard_Wired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Headset_Wired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Headset Wired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Headset_Wired</targetReference>
            </connector>
            <label>If Headset Wired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Keyboard</name>
        <label>Decision for Keyboard</label>
        <locationX>182</locationX>
        <locationY>4547</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Keyboard_Wireless</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Keyboard</name>
            <conditionLogic>1 AND NOT (2) AND NOT (3) AND NOT (4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Wireless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Mouse Combo Wireless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Wired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Keyboard</targetReference>
            </connector>
            <label>If Keyboard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Keyboard_Mouse_Combo_Wireless</name>
        <label>Decision for Keyboard/Mouse Combo Wireless</label>
        <locationX>182</locationX>
        <locationY>5147</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Mouse_Wireless</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Keyboard_Mouse_Combo_Wireless</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Mouse Combo Wireless</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Keyboard_Mouse_Combo_Wireless</targetReference>
            </connector>
            <label>If Keyboard/Mouse Combo Wireless</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Keyboard_Wired</name>
        <label>Decision for Keyboard Wired</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Docking_Station</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Keyboard_Wired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Wired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Keyboard_Wired</targetReference>
            </connector>
            <label>If Keyboard Wired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Keyboard_Wireless</name>
        <label>Decision for Keyboard Wireless</label>
        <locationX>182</locationX>
        <locationY>4847</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Keyboard_Mouse_Combo_Wireless</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Keyboard_Wireless</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Wireless</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Keyboard_Wireless</targetReference>
            </connector>
            <label>If Keyboard Wireless</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Laptop_Charger</name>
        <label>Decision for Laptop Charger</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Monitor_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Laptop_Charger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Laptop Charger</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Laptop_Charger</targetReference>
            </connector>
            <label>If Laptop Charger</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Laptop_type_is_Developer</name>
        <label>Decision for Laptop type is Developer</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Laptop_type_is_Developer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This option is for Software Developers only and will require IT Approval.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Itsc_task_for_laptop_type_Developer</targetReference>
            </connector>
            <label>Laptop type is Developer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Laptop_type_is_Executive</name>
        <label>Decision for Laptop type is Executive</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Laptop_type_is_Developer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Laptop_type_is_Excutive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This option is for VPs and above and will require IT Approval.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Itsc_task_for_laptop_type_Excutive</targetReference>
            </connector>
            <label>Laptop type is Excutive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Laptop_type_is_MAc</name>
        <label>Decision for Laptop type is MAc</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Laptop_type_is_Executive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Laptop_type_is_MAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This option will require business justification or be a client requirement. IT Approval is required.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Itsc_task_for_laptop_type_Mac</targetReference>
            </connector>
            <label>Laptop type is MAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Monitor_Single</name>
        <label>Decision for Monitor Single</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Headset_Wired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Monitor_Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monitor Single</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Monitor_Single</targetReference>
            </connector>
            <label>If Monitor Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Monitors_Dual</name>
        <label>Decision for Monitors Dual</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Laptop_Charger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Monitors_Dual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monitors Dual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Itsc_task_for_hardware_request</targetReference>
            </connector>
            <label>If Monitors Dual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Mouse</name>
        <label>Decision for Mouse</label>
        <locationX>182</locationX>
        <locationY>4247</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Keyboard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Mouse</name>
            <conditionLogic>1 AND NOT (2) AND NOT (3) AND NOT (4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse Wireless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse Wired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyboard Mouse Combo Wireless</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Mouse</targetReference>
            </connector>
            <label>If Mouse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Mouse_Wired</name>
        <label>Decision for Mouse Wired</label>
        <locationX>182</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Mouse_Wired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse Wired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Mouse_Wired</targetReference>
            </connector>
            <label>If Mouse Wired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Mouse_Wireless</name>
        <label>Decision for Mouse Wireless</label>
        <locationX>182</locationX>
        <locationY>5447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Mouse_Wireless</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mouse Wireless</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Mouse_Wireless</targetReference>
            </connector>
            <label>If Mouse Wireless</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Other</name>
        <label>Decision for Other</label>
        <locationX>182</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Printer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Other</targetReference>
            </connector>
            <label>If Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Printer</name>
        <label>Decision for Printer</label>
        <locationX>182</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Desktop_Speaker_Jabra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Printer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Printer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_task_for_Printer</targetReference>
            </connector>
            <label>If Printer</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_status_is_approved</name>
        <label>if status is approved</label>
        <locationX>1007</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_IsApproved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case_record.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_manager</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <description>Update: Version to try Onboarding and Hardware - Ritesh Comment</description>
    <environments>Default</environments>
    <interviewLabel>Innova-Task Creation For hardware Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova-Task Creation For hardware Request on task object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Created_Itsc_task_for_hardware_request</name>
        <label>Created Itsc task for hardware request</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Decision_for_Laptop_Charger</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Monitors Dual Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_Itsc_task_for_laptop_type_Developer</name>
        <label>Created Itsc task for laptop type Developer</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for developer - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Laptop type is developer.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_Itsc_task_for_laptop_type_Excutive</name>
        <label>Created Itsc task for laptop type Excutive</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Decision_for_Laptop_type_is_Developer</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Executive - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Laptop type is Executive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_Itsc_task_for_laptop_type_Mac</name>
        <label>Created Itsc task for laptop type Mac</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Decision_for_Laptop_type_is_Executive</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Mac - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Laptop type is Mac</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Desktop_Speaker_Jabra</name>
        <label>Created task for Desktop Speaker (Jabra)</label>
        <locationX>50</locationX>
        <locationY>3455</locationY>
        <connector>
            <targetReference>Decision_for_Headset</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Desktop Speaker (Jabra) Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Docking_Station</name>
        <label>Created task for Docking Station</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Decision_for_Mouse_Wired</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for New Hire - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Docking Station Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_External_Webcam_Wired</name>
        <label>Created task for External Webcam Wired</label>
        <locationX>50</locationX>
        <locationY>4055</locationY>
        <connector>
            <targetReference>Decision_for_Mouse</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for External Webcam Wired Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Headset</name>
        <label>Created task for Headset</label>
        <locationX>50</locationX>
        <locationY>3755</locationY>
        <connector>
            <targetReference>Decision_for_External_Webcam_Wired</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Headset Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Headset_Wired</name>
        <label>Created task for Headset Wired</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Decision_for_Keyboard_Wired</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Headset Wired Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Keyboard</name>
        <label>Created task for Keyboard</label>
        <locationX>50</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Decision_for_Keyboard_Wireless</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Keyboard Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Keyboard_Mouse_Combo_Wireless</name>
        <label>Created task for Keyboard/Mouse Combo Wireless</label>
        <locationX>50</locationX>
        <locationY>5255</locationY>
        <connector>
            <targetReference>Decision_for_Mouse_Wireless</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Keyboard/Mouse Combo Wireless Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Keyboard_Wired</name>
        <label>Created task for Keyboard Wired</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Decision_for_Docking_Station</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Keyboard Wired Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Keyboard_Wireless</name>
        <label>Created task for Keyboard Wireless</label>
        <locationX>50</locationX>
        <locationY>4955</locationY>
        <connector>
            <targetReference>Decision_for_Keyboard_Mouse_Combo_Wireless</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Keyboard Wireless Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Laptop_Charger</name>
        <label>Created task  for Laptop Charger</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Decision_for_Monitor_Single</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Laptop Charger Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Monitor_Single</name>
        <label>Created task for Monitor Single</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Decision_for_Headset_Wired</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Monitor Single Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Mouse</name>
        <label>Created task for Mouse</label>
        <locationX>50</locationX>
        <locationY>4355</locationY>
        <connector>
            <targetReference>Decision_for_Keyboard</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Mouse Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Mouse_Wired</name>
        <label>Created task for Mouse Wired</label>
        <locationX>50</locationX>
        <locationY>2555</locationY>
        <connector>
            <targetReference>Decision_for_Other</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Mouse Wired Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Mouse_Wireless</name>
        <label>Created task for Mouse Wireless</label>
        <locationX>50</locationX>
        <locationY>5555</locationY>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Mouse Wireless Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Other</name>
        <label>Created task for Other</label>
        <locationX>50</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Decision_for_Printer</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Other Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_task_for_Printer</name>
        <label>Created task for Printer</label>
        <locationX>50</locationX>
        <locationY>3155</locationY>
        <connector>
            <targetReference>Decision_for_Desktop_Speaker_Jabra</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>Hardware Request for Accessories - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_IsApproved_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Hardware Request for Printer Accessories</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_case_record</name>
        <label>get case record</label>
        <locationX>1007</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_status_is_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_case_record</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>Innova_Service_Request_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hardware Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Innova_IsApproved__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Innova_Service_Request_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding Request</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DetailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varrecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
