force-app/main/default/flows/Innova_Share_Case_with_Case_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_If_Record_is_not_shared</name>
        <label>Copy 1 of If Record is not shared</label>
        <locationX>1033</locationX>
        <locationY>695</locationY>
        <actionName>Case.Innova_Fault_path_Email_Template</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Innova_Fault_path_Email_Template</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Share_Case_with_Creater</name>
        <label>Copy 1 of Share Case with Creater</label>
        <locationX>769</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>Caseshare.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseshare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseshare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Caseshare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Case_Sharing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is user creates the record, but isn&apos;t the case owner, share the record.</description>
        <name>Manual_Share_Required</name>
        <label>Manual Share Required?</label>
        <locationX>505</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Share_Case_with_Creater</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Creator_is_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedBy.Email</elementReference>
                </rightValue>
            </conditions>
            <label>No - Creator is Owner</label>
        </rules>
        <rules>
            <name>Yes_Creator_IS_NOT_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedBy.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - Creator IS NOT Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Innova - Sharing with Case Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova - Share Case with Case Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Case_Sharing</name>
        <label>Copy 1 of Create Case Sharing</label>
        <locationX>769</locationX>
        <locationY>587</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_If_Record_is_not_shared</targetReference>
        </faultConnector>
        <inputReference>Caseshare</inputReference>
    </recordCreates>
    <start>
        <locationX>379</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Manual_Share_Required</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Innova_On_Behalf_Of__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Caseshare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>UserCaseCreator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
