force-app/main/default/flows/Innova_Priority_Matrix_for_Incident_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Impact_and_urgency</name>
        <label>Check Impact and urgency</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.wkitsm__Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__Urgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Priority_for_global</targetReference>
            </connector>
            <label>Global</label>
        </rules>
        <rules>
            <name>Business_unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.wkitsm__Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__Urgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Priority_for_business_unit</targetReference>
            </connector>
            <label>Business unit</label>
        </rules>
        <rules>
            <name>Department</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.wkitsm__Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Department</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__Urgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Priority_for_department</targetReference>
            </connector>
            <label>Department</label>
        </rules>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.wkitsm__Impact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__Urgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Priority_for_Individual</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
        <rules>
            <name>If_Impact_and_Priority_changed</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.wkitsm__ManualPriority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__Impact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__Urgency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_manual_priority</targetReference>
            </connector>
            <label>If Impact and Priority changed</label>
        </rules>
    </decisions>
    <description>Priority Matrix for Incident process on very high urgency</description>
    <environments>Default</environments>
    <interviewLabel>Innova - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova-Priority Matrix for Incident process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_manual_priority</name>
        <label>Update manual priority</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>wkitsm__ManualPriority__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Priority_for_business_unit</name>
        <label>Update Priority for business unit</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__ManualPriority__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Priority_for_department</name>
        <label>Update Priority for department</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__ManualPriority__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Priority_for_global</name>
        <label>Update Priority for global</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Very High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__ManualPriority__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Priority_for_Individual</name>
        <label>Update Priority for Individual</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__ManualPriority__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Impact_and_urgency</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Incident&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
