force-app/main/default/flows/Innova_Approval_Process_for_onboading_request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Full_Desktop_Access</name>
        <label>Check Full Desktop Access</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>SalesforceAdmintoreview1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Desktop_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hiring Manager approval required if Full Desktop Access is selected.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Full Desktop Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_Ticket_is_New_and_SR_is_Onboarding</name>
        <label>Check is Ticket is New and SR is Onboarding</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Full_Desktop_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Ticket_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Task_For_Add_User_in_AD_on_Onboarding_Request</targetReference>
            </connector>
            <label>If Ticket is new</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesforceAdmintoreview1</name>
        <label>Salesforce Admin to review</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesforce_Admin_to_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Innova_Office_Location</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Office_Location_is_Other</targetReference>
            </connector>
            <label>Salesforce Admin to review</label>
        </rules>
    </decisions>
    <description>Removed various decisions to remove duplicate task creation - DJ - 1/4/2024
Update 8/15 - Removed Hardware Accessories bundle task and added New Hire task condition to get created on Creation of ticket</description>
    <environments>Default</environments>
    <formulas>
        <name>varName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Innova_New_Hire_Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>varNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Innova-Approval Process for onboading request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - New Hire Tasks - Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>SalesforceAdmintoreview1</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>New Hire Request - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Manager__c</field>
            <value>
                <elementReference>$Record.Innova_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>New Hire Request for Full Desktop Access {!varName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_Task_For_Add_365_Licensing_on_Onboarding_Request</name>
        <label>Created Task For Add 365 Licensing on Onboarding Request</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Employee_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>New Hire Request - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Add 365 Licensing, Add Cloud Groups, Add TAP {!varName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_Task_For_Add_User_in_AD_on_Onboarding_Request</name>
        <label>Created Task For Add User in AD on Onboarding Request</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Created_Task_For_Add_365_Licensing_on_Onboarding_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>New Hire Request - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Add User in AD {!varName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Employee_Id</name>
        <label>Employee Id</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Laptop_Provisioning</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>New Hire Request - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>New Hire Request for Generate Employee ID {!varName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Laptop_Provisioning</name>
        <label>Laptop Provisioning</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Welcome_email</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>New Hire Request - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>New Hire Request for Laptop Provisioning {!varName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GDn000000Sh0b</stringValue>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Office_Location_is_Other</name>
        <label>Office Location is Other</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>New Hire Request - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Salesforce Admin to review for Office Location - Other {!varName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Welcome_email</name>
        <label>Welcome email</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Full_Desktop_Access</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Description__c</field>
            <value>
                <stringValue>New Hire Request - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>$Record.Innova_Service_Request_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>New Hire Request for Welcome Email {!varName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GDn000000Sh0b</stringValue>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_is_Ticket_is_New_and_SR_is_Onboarding</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}=&apos;Request&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
