force-app/main/default/flows/Innova_Notifications_Notify_Agent_Queue_New_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>In_App_Notification_Agent</name>
        <label>In App Notification - Agent</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_Org_Wide_Email_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.Innova_Custom_Notification_TypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AgentOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New {!Case.RecordType.DeveloperName} has been created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New {!Case.RecordType.DeveloperName} {!Case.CaseNumber} has been created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Agent</name>
        <label>Send Email to Agent</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varOrgWideEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Case.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>varEmailTemplateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Agent_Owner</name>
        <label>Set Agent Owner</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>AgentOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>In_App_Notification_Agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_Id</name>
        <label>Set Email Template Id</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varEmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Agent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Email_Template</name>
        <label>Found Email Template</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No - Did Not Find Template</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Template_Id</targetReference>
            </connector>
            <label>Yes - Found Template</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Innova - Notifications - Notify Contact - New Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova - Notifications - Notify Agent - New Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Agent_Owner</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <flowName>Innova_Get_Org_Wide_Email_Address</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOrgWideEmailAddress</assignToReference>
            <name>OrgWideEmailAddress</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AgentOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varEmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Innova - Email to Queue - New Case Created</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOrgWideEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
