force-app/main/default/flows/Innova_Inapp_Notification_of_Entitlement_Response_Violation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Response_Violated</name>
        <label>Response Violated</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.Innova_Custom_Notification_TypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varResponseViolation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Response Violated for Priority Critical</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.CaseNumber} Response Violated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_In_app_upon_Resolution_Violation_for_Service_Request</name>
        <label>Send In-app upon Resolution Violation for Service Request</label>
        <locationX>3130</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Copy_4_of_Update_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.Innova_Custom_Notification_TypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varResponseViolation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Response Violation For Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.CaseNumber} Response Violation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Inapp_upon_resolution_Violation</name>
        <label>Send Inapp upon resolution Violation for Queue Manager</label>
        <locationX>1722</locationX>
        <locationY>839</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Copy_2_of_Update_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.Innova_Custom_Notification_TypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varResponseViolation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Violation of Priority Medium</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.CaseNumber} Response SLA is Violated queue manager</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Inapp_upon_resolution_Violation00</name>
        <label>Send Inapp upon resolution Violation</label>
        <locationX>2426</locationX>
        <locationY>839</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Copy_3_of_Update_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.Innova_Custom_Notification_TypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varResponseViolation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Violation of Priority Low</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.CaseNumber} Response SLA is Violated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Inapp_upon_resolution_warning_High</name>
        <label>Send Inapp upon resolution warning (High)</label>
        <locationX>1018</locationX>
        <locationY>839</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.Innova_Custom_Notification_TypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varResponseViolation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Response Violated of Priority High</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.CaseNumber} Response Violated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment_for_service_Request_Violation</name>
        <label>Assignment for service Request Violation</label>
        <locationX>3130</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_manager_for_Service_Request_Violation_owner_is_user.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_In_app_upon_Resolution_Violation_for_Service_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Violation_assignment_for_Priority_Low_as_owner_is_Queue</name>
        <label>Violation assignment for Priority Low as owner is Queue</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_Manager_for_Low_priority_for_Queue_violation.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Inapp_upon_resolution_Violation00</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Violation_assignment_for_priority_Low_as_owner_is_user</name>
        <label>Violation assignment for priority Low as owner is user</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_manager_for_user_for_Low_priority_violation.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Inapp_upon_resolution_Violation00</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Violation_assignment_for_priority_Medium_as_owner_is_queue</name>
        <label>Violation assignment for priority Medium as owner is queue</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_Manager_for_medium_priority_for_Queue_violation.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Inapp_upon_resolution_Violation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Violation_assignment_for_priority_medium_as_owner_is_user</name>
        <label>Violation assignment for priority medium as owner is user</label>
        <locationX>1722</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_manager_for_user_for_medium_priority_violation.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Inapp_upon_resolution_Violation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Violation_Assignment_for_service_request_as_owner_is_Queue</name>
        <label>Violation Assignment for  service request as owner is Queue</label>
        <locationX>2866</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_Manager_for_service_request_for_Violation.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_In_app_upon_Resolution_Violation_for_Service_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warning_assignment_for_priority_high_as_owner_is_queue</name>
        <label>Warning assignment for priority high as owner is queue</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_Manager_for_high_Priority_warning.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Inapp_upon_resolution_warning_High</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warning_assignment_for_priority_high_as_owner_is_user</name>
        <label>Warning assignment for priority high as owner is user</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_manager_for_user_for_high_priority.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Inapp_upon_resolution_warning_High</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warning_assignment_for_priority_very_high_as_owner_is_user</name>
        <label>Warning assignment for priority very high as owner is user</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_manager_for_user_for_Very_high_priority.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Response_Violated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warning_assignment_for_priority_VH_as_owner_is_queue</name>
        <label>Warning assignment for priority VH as owner is queue</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varResponseViolation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Queue_Manager1.Queue_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Response_Violated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Owner11</name>
        <label>Check for Owner</label>
        <locationX>3130</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Send_In_app_upon_Resolution_Violation_for_Service_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Owner_is_Queue0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Manager_for_service_request_for_Violation</targetReference>
            </connector>
            <label>If Owner is Queue</label>
        </rules>
        <rules>
            <name>If_Owner_is_User0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__PreviousQueue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_manager_for_Service_Request_Violation_owner_is_user</targetReference>
            </connector>
            <label>If Owner is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Previous_Queue</name>
        <label>Check for Previous Queue</label>
        <locationX>1722</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Inapp_upon_resolution_Violation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Manager_for_medium_priority_for_Queue_violation</targetReference>
            </connector>
            <label>If Owner is Queue</label>
        </rules>
        <rules>
            <name>If_Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__PreviousQueue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_manager_for_user_for_medium_priority_violation</targetReference>
            </connector>
            <label>If Owner is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Previous_Queue1</name>
        <label>Check for Previous Queue</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Inapp_upon_resolution_Violation00</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Owner_is_Queue1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Manager_for_Low_priority_for_Queue_violation</targetReference>
            </connector>
            <label>If Owner is Queue</label>
        </rules>
        <rules>
            <name>If_Owner_is_User1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__PreviousQueue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_manager_for_user_for_Low_priority_violation</targetReference>
            </connector>
            <label>If Owner is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Service_Request</name>
        <label>Check for Service Request</label>
        <locationX>3350</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Selected_Service_Request_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Hire Application /Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software/Application Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Hire w/ Bundles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signature Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Owner11</targetReference>
            </connector>
            <label>Check Selected Service Request Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_Priority</name>
        <label>Decision to check Priority</label>
        <locationX>2074</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Priority_Very_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Manager_for_Very_High_Priority</targetReference>
            </connector>
            <label>Is Priority Very High</label>
        </rules>
        <rules>
            <name>Is_Priority_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Manager_for_High_Priority</targetReference>
            </connector>
            <label>Is Priority High</label>
        </rules>
        <rules>
            <name>Is_Priority_Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Previous_Queue</targetReference>
            </connector>
            <label>Is Priority Medium</label>
        </rules>
        <rules>
            <name>Is_Priority_Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Previous_Queue1</targetReference>
            </connector>
            <label>Is Priority Low</label>
        </rules>
        <rules>
            <name>For_Service_Request</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 ) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Service_Request</targetReference>
            </connector>
            <label>For Service Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Manager_for_High_Priority</name>
        <label>Queue Manager for High Priority</label>
        <locationX>1018</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Inapp_upon_resolution_warning_High</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_owner_is_Queue_If_1_hr1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Manager_for_high_Priority_warning</targetReference>
            </connector>
            <label>If owner is Queue If 1 hr</label>
        </rules>
        <rules>
            <name>If_Owner_is_User_and_1_hr_Left1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__PreviousQueue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner:Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_manager_for_user_for_high_priority</targetReference>
            </connector>
            <label>If Owner is User and 1 hr Left</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Manager_for_Very_High_Priority</name>
        <label>Queue Manager for Very High Priority</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Response_Violated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_owner_is_Queue_If_1_hr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Manager1</targetReference>
            </connector>
            <label>If owner is Queue If 1 hr</label>
        </rules>
        <rules>
            <name>If_Owner_is_User_and_1_hr_Left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wkitsm__PreviousQueue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Owner:Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_manager_for_user_for_Very_high_priority</targetReference>
            </connector>
            <label>If Owner is User and 1 hr Left</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Innova-Inapp Notification of Entitlement Response Violation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova-Inapp Notification of Entitlement Response Violation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue_Manager1</name>
        <label>Get Queue Manager</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warning_assignment_for_priority_VH_as_owner_is_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Manager_for_high_Priority_warning</name>
        <label>Get Queue Manager for high Priority warning</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warning_assignment_for_priority_high_as_owner_is_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Manager_for_Low_priority_for_Queue_violation</name>
        <label>Get Queue Manager for Low priority for Queue -violation</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Violation_assignment_for_Priority_Low_as_owner_is_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Manager_for_medium_priority_for_Queue_violation</name>
        <label>Get Queue Manager for medium priority for Queue -violation</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Violation_assignment_for_priority_Medium_as_owner_is_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Manager_for_service_request_for_Violation</name>
        <label>Get Queue Manager for service request for Violation</label>
        <locationX>2866</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Violation_Assignment_for_service_request_as_owner_is_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_manager_for_Service_Request_Violation_owner_is_user</name>
        <label>Get Queue manager for Service Request Violation owner is user</label>
        <locationX>3130</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_for_service_Request_Violation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.wkitsm__PreviousQueue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_manager_for_user_for_high_priority</name>
        <label>Get Queue manager for user for high priority</label>
        <locationX>1018</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warning_assignment_for_priority_high_as_owner_is_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.wkitsm__PreviousQueue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_manager_for_user_for_Low_priority_violation</name>
        <label>Get Queue manager for user for Low priority violation</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Violation_assignment_for_priority_Low_as_owner_is_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.wkitsm__PreviousQueue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_manager_for_user_for_medium_priority_violation</name>
        <label>Get Queue manager for user for medium priority violation</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Violation_assignment_for_priority_medium_as_owner_is_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.wkitsm__PreviousQueue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_manager_for_user_for_Very_high_priority</name>
        <label>Get Queue manager for user for Very high priority</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warning_assignment_for_priority_very_high_as_owner_is_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.wkitsm__PreviousQueue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Innova_Queue_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>1018</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Innova_Response_Violated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>1722</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Innova_Response_Violated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>2426</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Innova_Response_Violated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>3130</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Innova_Response_Violated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Checkbox</name>
        <label>Update Checkbox</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Innova_Response_Violated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1948</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_to_check_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Innova_Response_Violated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varResponseViolation</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varViolation</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWarning</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
