force-app/main/default/flows/Innova_Termination_Request_With_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_record_Into_Collection</name>
        <label>Add record Into Collection</label>
        <locationX>264</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_attach_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_in_case_record_variable</name>
        <label>Assign value in case record variable</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Termination Request for - {!varName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Termination Request  - Details can be found in Service Request Details section</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestedforUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Termination Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Brand1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBrand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Termination_Effective_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Termination_Effective_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IT Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Category1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Desk</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Subcategory1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Termination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_attach_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_file_and_Req_Record</name>
        <label>Link file and Req Record</label>
        <locationX>264</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>VarContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_attach_File</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_Into_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Canada_Atlantic</name>
        <choiceText>Canada - Atlantic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada - Atlantic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada_Central</name>
        <choiceText>Canada - Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada - Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada_Eastern</name>
        <choiceText>Canada - Eastern</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada - Eastern</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada_Mountain</name>
        <choiceText>Canada - Mountain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada - Mountain</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada_Pacific</name>
        <choiceText>Canada - Pacific</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada - Pacific</stringValue>
        </value>
    </choices>
    <choices>
        <name>Europe_Central</name>
        <choiceText>Europe - Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe - Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>Europe_Eastern</name>
        <choiceText>Europe - Eastern</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe - Eastern</stringValue>
        </value>
    </choices>
    <choices>
        <name>Europe_Further_Eastern</name>
        <choiceText>Europe - Further-Eastern</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe - Further-Eastern</stringValue>
        </value>
    </choices>
    <choices>
        <name>Europe_GMT</name>
        <choiceText>Europe - GMT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe - GMT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Europe_Western</name>
        <choiceText>Europe - Western</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe - Western</stringValue>
        </value>
    </choices>
    <choices>
        <name>EuropeCentralBElgiumFrance</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Europe - Central (Belgium,France)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe - Central (Belgium,France)</stringValue>
        </value>
    </choices>
    <choices>
        <name>EuropeGMTBST</name>
        <choiceText>Europe - GMT (UK)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe - GMT (UK)</stringValue>
        </value>
    </choices>
    <choices>
        <name>HireGenics</name>
        <choiceText>HireGenics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HireGenics</stringValue>
        </value>
    </choices>
    <choices>
        <name>India_Standard</name>
        <choiceText>India - Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>India - Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innova_Solutions</name>
        <choiceText>Innova Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico_Central</name>
        <choiceText>Mexico - Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mexico - Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico_Eastern</name>
        <choiceText>Mexico - Eastern</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mexico - Eastern</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico_Mountain</name>
        <choiceText>Mexico - Mountain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mexico - Mountain</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico_Pacific</name>
        <choiceText>Mexico - Pacific</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mexico - Pacific</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA_Alaska</name>
        <choiceText>USA - Alaska</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA - Alaska</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA_Central</name>
        <choiceText>USA - Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA - Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA_Eastern</name>
        <choiceText>USA - Eastern</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA - Eastern</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA_Hawaii</name>
        <choiceText>USA - Hawaii</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA - Hawaii</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA_Mountain</name>
        <choiceText>USA - Mountain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA - Mountain</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA_Pacific</name>
        <choiceText>USA - Pacific</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA - Pacific</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA_Phoenix</name>
        <choiceText>USA - Phoenix</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA - Phoenix</stringValue>
        </value>
    </choices>
    <description>Confirmation message modified-JZ</description>
    <dynamicChoiceSets>
        <name>brandPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>regionPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm_TimeZone__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZone1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm_TimeZone__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>newLine</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>RequestedforUpdated</name>
        <dataType>String</dataType>
        <expression>{!varServicerequest2}+{!varServiceRequest}</expression>
    </formulas>
    <formulas>
        <name>varBrand</name>
        <dataType>String</dataType>
        <expression>IF({!Brand2}!=Null, {!Brand2}, &quot;&quot;) + IF({!Brand3}!=Null, {!Brand3}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>varName</name>
        <dataType>String</dataType>
        <expression>{!Cousaltant.recordName}</expression>
    </formulas>
    <formulas>
        <name>varServiceRequest</name>
        <dataType>String</dataType>
        <expression>IF({!Personal_Cell_Phone_Number}!=NULL, &quot;&lt;strong&gt;Personal Cell Phone Number  -  &lt;/strong&gt;&quot; +{!Personal_Cell_Phone_Number}+{!newLine} , &quot;&quot;) +
IF({!Personal_Email_Address1}!=NULL, &quot;&lt;strong&gt;Personal Email Address  -  &lt;/strong&gt;&quot; +{!Personal_Email_Address1}+{!newLine} , &quot;&quot;) +If(NOT(ISNULL({!Update_Existing_Direct_Reports.recordName})) &amp;&amp; NOT(ISBLANK({!Update_Existing_Direct_Reports.recordName})),
&quot;&lt;strong&gt;Move Existing Direct Reports to  -  &lt;/strong&gt;&quot; + {!Update_Existing_Direct_Reports.recordName} + {!newLine},null)+{!newLine}+
&quot;&lt;strong&gt;Requested Delegation&lt;/strong&gt;&quot;+{!newLine}
+If({!Email_forwarding2}==TRUE,&quot;&lt;strong&gt;Email forwarding  -   &lt;/strong&gt;90 days default&quot; +{!newLine},null)+
If({!Phone_number_forwarding2}==TRUE,&quot;&lt;strong&gt;Phone number forwarding&lt;/strong&gt; - 90 days default &quot; +{!newLine},null)+
If({!Phone_number_forwarding2}==TRUE,&quot;&lt;strong&gt;Forward Phone number for 90 Days to &lt;/strong&gt; &quot;+{!VarUpdateExstiongPhone}+ {!newLine},null)+
If({!Mailbox_delegation2}==TRUE,&quot;&lt;strong&gt;Mailbox delegation - &lt;/strong&gt;90 days default &quot; +{!newLine},null)+
If({!One_Drive_Access2}==TRUE,&quot;&lt;strong&gt;One Drive Access - &lt;/strong&gt;90 days default &quot; +{!newLine},null)+
If({!eDiscovery_hold}==TRUE,&quot;&lt;strong&gt;eDiscovery hold  -  &lt;/strong&gt;90 days default&quot; +{!newLine},null)+
IF({!Requested_Delegation_to1.recordName}!=NULL, &quot;&lt;strong&gt;Requested Delegation to  -  &lt;/strong&gt;&quot; +{!Requested_Delegation_to1.recordName}+ {!newLine}, &quot;&quot;) +{!newLine}+
If(!ISNULL({!Additional_Information}) &amp;&amp; !ISBLANK({!Additional_Information}), &apos;&lt;strong&gt;Additional Information -  &lt;/strong&gt;&apos; + {!Additional_Information} + {!newLine}, Null)</expression>
    </formulas>
    <formulas>
        <name>varServicerequest2</name>
        <dataType>String</dataType>
        <expression>If({!Requested_By2}!=null,{!Requested_By2}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
IF({!Cousaltant.recordName}!=NULL, &quot;&lt;strong&gt;Requested For  -  &lt;/strong&gt;&quot; +{!Cousaltant.recordName}+{!newLine} , &quot;&quot;) +{!newLine}+
if((NOT(ISNULL({!Region2})) &amp;&amp; NOT(ISBLANK({!Region2}))), &quot;&lt;strong&gt;Region - &lt;/strong&gt;&quot; +{!Region2} + {!newLine} ,null)+
if((NOT(ISNULL({!Brand2})) &amp;&amp; NOT(ISBLANK({!Brand2}))), &quot;&lt;strong&gt;Brand -  &lt;/strong&gt;&quot; +{!Brand2} + {!newLine} ,null)+
IF({!Brand3}!=NULL, &quot;&lt;strong&gt;Brand   - &lt;/strong&gt;&quot; +{!Brand3}+ {!newLine}, &quot;&quot;)+
If({!Requested_for1}!=null,{!Requested_for1}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
If({!Show_Manager}!=null, {!Show_Manager}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
If({!Show_Job_Description}!=null, {!Show_Job_Description}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
If({!Show_Department}!=null,{!Show_Department}+&quot;&quot;, &quot; &quot;)+{!varBreak}+
If ((NOT(ISNULL(TEXT({!Termination_Effective_Date_Time}))) &amp;&amp; NOT(ISBLANK(TEXT({!Termination_Effective_Date_Time})))),&quot;&lt;strong&gt;Termination Effective Date Time - &lt;/strong&gt;&quot; +TEXT({!Termination_Effective_Date_Time})+{!newLine} ,null)+
if((NOT(ISNULL({!Time_Zone2})) &amp;&amp; NOT(ISBLANK({!Time_Zone2}))), &quot;&lt;strong&gt;Time Zone -  &lt;/strong&gt;&quot; +{!Time_Zone2} + {!newLine} ,null)+{!newLine}+
&quot;&lt;strong&gt;Address of Employee&lt;/strong&gt;&quot;+{!newLine}+
If(!ISNULL({!Address_1}) &amp;&amp; !ISBLANK({!Address_1}), &apos;&lt;strong&gt;Address 1 - &lt;/strong&gt;&apos; + {!Address_1} + {!newLine}, Null) 
+IF({!Address_2}!=NULL, &quot;&lt;strong&gt; Address 2 (Apt or Unit#) - &lt;/strong&gt;&quot; +{!Address_2}+ {!newLine}, &quot;&quot;)
+If(!ISNULL({!City1}) &amp;&amp; !ISBLANK({!City1}), &apos;&lt;strong&gt;City -  &lt;/strong&gt;&apos; + {!City1} + {!newLine}, Null)
+If(!ISNULL({!State_Province}) &amp;&amp; !ISBLANK({!State_Province}), &apos;&lt;strong&gt;State/Province -  &lt;/strong&gt;&apos; + {!State_Province} + {!newLine}, Null) 
+If(!ISNULL({!Zip_Postal_Code}) &amp;&amp; !ISBLANK({!Zip_Postal_Code}), &apos;&lt;strong&gt;Zip/Postal Code -  &lt;/strong&gt;&apos; + {!Zip_Postal_Code} + {!newLine}, Null)
+If(!ISNULL({!Country}) &amp;&amp; !ISBLANK({!Country}), &apos;&lt;strong&gt;Country -  &lt;/strong&gt;&apos; + {!Country} + {!newLine}, Null)+{!newLine}</expression>
    </formulas>
    <formulas>
        <name>varSpace</name>
        <dataType>String</dataType>
        <expression>&quot;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;</expression>
    </formulas>
    <formulas>
        <name>VarUpdateExstiongPhone</name>
        <dataType>String</dataType>
        <expression>{!Update_Existing_Direct_Reports.recordName} +&quot;&lt;strong&gt; -  &lt;/strong&gt; &quot;+{!Get_Forward_mobile_number.Phone}</expression>
    </formulas>
    <interviewLabel>Innova-Termination Request With Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Termination Request Form</label>
    <loops>
        <name>Loop_to_attach_File</name>
        <label>Loop to attach File</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <collectionReference>VarContentDocID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_file_and_Req_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Record_From_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record_From_Collection</name>
        <label>Create Record From Collection</label>
        <locationX>176</locationX>
        <locationY>1622</locationY>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_From_Contact_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_from_Selection</name>
        <label>Get Contact from Selection</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cousaltant.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forward_mobile_number</name>
        <label>Get Forward mobile number</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requested_For</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Existing_Direct_Reports.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager</name>
        <label>Get Manager</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Second_Screen_To_Show_Adress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_From_Contact_Lookup.Manager.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requested_For</name>
        <label>Get Requested For</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_value_in_case_record_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cousaltant.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_For_Region</name>
        <label>Get User For Region</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Termination_Request_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_From_Contact_Lookup</name>
        <label>Get User From Contact Lookup</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_from_Selection.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Second_Screen_To_Show_Adress</name>
        <label>Second Screen To Show Address</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Forward_mobile_number</targetReference>
        </connector>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region2</name>
                    <choiceReferences>regionPickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand2</name>
                    <choiceReferences>brandPickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand3</name>
                    <choiceReferences>Innova_Solutions</choiceReferences>
                    <choiceReferences>HireGenics</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User_From_Contact_Lookup.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_for1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;User being Terminated -  &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Contact_from_Selection.Name}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Show_Department</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Department -   &lt;/strong&gt;{!Get_User_From_Contact_Lookup.Department}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Show_Manager</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Reporting Manager - &lt;/strong&gt;{!Get_Manager.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Show_Job_Description</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Description - &lt;/strong&gt;{!Get_User_From_Contact_Lookup.Title}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Time_Zone2</name>
                    <choiceReferences>Canada_Atlantic</choiceReferences>
                    <choiceReferences>Canada_Central</choiceReferences>
                    <choiceReferences>Canada_Eastern</choiceReferences>
                    <choiceReferences>Canada_Mountain</choiceReferences>
                    <choiceReferences>Canada_Pacific</choiceReferences>
                    <choiceReferences>Europe_Central</choiceReferences>
                    <choiceReferences>EuropeCentralBElgiumFrance</choiceReferences>
                    <choiceReferences>Europe_Further_Eastern</choiceReferences>
                    <choiceReferences>Europe_GMT</choiceReferences>
                    <choiceReferences>EuropeGMTBST</choiceReferences>
                    <choiceReferences>Europe_Western</choiceReferences>
                    <choiceReferences>India_Standard</choiceReferences>
                    <choiceReferences>Mexico_Central</choiceReferences>
                    <choiceReferences>Mexico_Eastern</choiceReferences>
                    <choiceReferences>Mexico_Mountain</choiceReferences>
                    <choiceReferences>Mexico_Pacific</choiceReferences>
                    <choiceReferences>USA_Alaska</choiceReferences>
                    <choiceReferences>USA_Central</choiceReferences>
                    <choiceReferences>USA_Eastern</choiceReferences>
                    <choiceReferences>USA_Hawaii</choiceReferences>
                    <choiceReferences>USA_Mountain</choiceReferences>
                    <choiceReferences>USA_Pacific</choiceReferences>
                    <choiceReferences>USA_Phoenix</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>None</stringValue>
                    </defaultValue>
                    <fieldText>Time Zone</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Termination_Effective_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Termination Effective Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Show_Address</name>
            <dataType>Boolean</dataType>
            <fieldText>Show Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region2</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(15, 14, 14); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Address of Employee&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_1</name>
                    <dataType>String</dataType>
                    <fieldText>Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>City1</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_2</name>
                    <dataType>String</dataType>
                    <fieldText>Address 2 (Apt or Unit#)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>State_Province</name>
                    <dataType>String</dataType>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>countryCode5</name>
                    <dataType>String</dataType>
                    <fieldText>Country Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>	EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCodeIndia11</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>+91</stringValue>
                    </defaultValue>
                    <fieldText>Country Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>APAC (India)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCode7</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>+1</stringValue>
                    </defaultValue>
                    <fieldText>Country Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>	Canada</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>	USA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_code7</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>+52</stringValue>
                    </defaultValue>
                    <fieldText>Country Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>	Mexico</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Cell_Phone_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Personal Cell Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(238, 80, 98);&quot;&gt;Contact Phone number must be Numeric. Should be between 7 -15 digit long.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(ISNUMBER({!Personal_Cell_Phone_Number}), LEN({!Personal_Cell_Phone_Number})&gt;=7, LEN({!Personal_Cell_Phone_Number}) &lt;=15,NOT(contains({!Personal_Cell_Phone_Number}, &apos;+&apos;)))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Email_Address1</name>
                    <dataType>String</dataType>
                    <fieldText>Personal Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Existing_Direct_Reports</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Move Existing Direct Reports to</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Update_Existing_Direct_Reports.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(15, 14, 14);&quot;&gt;Requested Delegation&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_forwarding2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Email forwarding</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mailbox_delegation2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mailbox delegation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>eDiscovery_hold</name>
                    <dataType>Boolean</dataType>
                    <fieldText>eDiscovery hold</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_number_forwarding2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Phone number forwarding</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>One_Drive_Access2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>One Drive Access</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Second_Screen_To_Show_Adress_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_Delegation_to1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested Delegation to</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Requested_Delegation_to1.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_forwarding2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Phone_number_forwarding2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Mailbox_delegation2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>One_Drive_Access2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>eDiscovery_hold</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Second_Screen_To_Show_Adress_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Termination_Request_Form</name>
        <label>Termination Request Form</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_from_Selection</targetReference>
        </connector>
        <fields>
            <name>Termination_Request_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Request_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_By2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Requested By &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName}             &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.LastName} &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Request_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cousaltant</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested For</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_For_Region</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dummyQueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarContentDocID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumberOfTimesLoopRuns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
