force-app/main/default/flows/Innova_Onboarding_Request_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval</name>
        <label>Approval</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>screen2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Innova_Onboarding_Request_Approval16</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>GetCaseId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_record_into_collection01</name>
        <label>Add record into collection01</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinkso1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Attachment1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_attachment01</name>
        <label>Link attachment01</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink01.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Attachment1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink01.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_into_collection01</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Billable</name>
        <choiceText>Billable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brand1</name>
        <choiceText>Brand1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brand1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brand2</name>
        <choiceText>Brand2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brand2</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleA1</name>
        <choiceText>Bundle A1: One (1) standard laptop, two (2) monitors, one (1) keyboard/mouse combo, one (1) headset, and (1) dock, (1) DisplayPort to HDMI Adapter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle A1: One (1) standard laptop, two (2) monitors, one (1) keyboard/mouse combo, one (1) headset, and (1) dock, (1) DisplayPort to HDMI Adapter</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleA2</name>
        <choiceText>Bundle A2: One (1) standard laptop, one (1) monitor, one (1) keyboard/mouse combo, and one (1) headset.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle A2: One (1) standard laptop, one (1) monitor, one (1) keyboard/mouse combo, and one (1) headset.</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleA3</name>
        <choiceText>Bundle A3: One (1) one (1) standard laptop,  one (1) keyboard/mouse combo, one (1) headset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle A3: One (1) one (1) standard laptop,  one (1) keyboard/mouse combo, one (1) headset</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleA4</name>
        <choiceText>Bundle A4: One (1) standard laptop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle A4: One (1) standard laptop</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleA5</name>
        <choiceText>Bundle A5: One (1)  standard laptop, one(1) dock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle A5: One (1)  standard laptop, one(1) dock</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleB1</name>
        <choiceText>Bundle B1: One (1) developer laptop, two (2) monitors, one (1) keyboard/mouse combo, one (1) headset, and (1) dock, (1) DisplayPort to HDMI Adapter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle B1: One (1) developer laptop, two (2) monitors, one (1) keyboard/mouse combo, one (1) headset, and (1) dock, (1) DisplayPort to HDMI Adapter</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleB2</name>
        <choiceText>Bundle B2: One (1) developer laptop, one (1) monitor, one (1) keyboard/mouse combo, and one (1) headset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle B2: One (1) developer laptop, one (1) monitor, one (1) keyboard/mouse combo, and one (1) headset.</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleB3</name>
        <choiceText>Bundle B3: One (1) developer laptop,  one (1) keyboard/mouse combo, one (1) headset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle B3: One (1) developer laptop,  one (1) keyboard/mouse combo, one (1) headset</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleB4</name>
        <choiceText>Bundle B4: One (1) developer laptop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle B4: One (1) developer laptop</stringValue>
        </value>
    </choices>
    <choices>
        <name>BundleB5</name>
        <choiceText>Bundle B5: One (1) developer laptop, one(1) dock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle B5: One (1) developer laptop, one(1) dock</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department1</name>
        <choiceText>Department1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department2</name>
        <choiceText>Department2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Developer</name>
        <choiceText>Developer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Developer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Executive</name>
        <choiceText>Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finance</name>
        <choiceText>Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Full_Desktop_Access</name>
        <choiceText>Full Desktop Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Desktop Access</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hiregenics</name>
        <choiceText>Hiregenics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hiregenics</stringValue>
        </value>
    </choices>
    <choices>
        <name>hiregenics_com</name>
        <choiceText>hiregenics.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>hiregenics.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Human_Resources</name>
        <choiceText>Human Resources</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Human Resources</stringValue>
        </value>
    </choices>
    <choices>
        <name>India</name>
        <choiceText>India</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>India</stringValue>
        </value>
    </choices>
    <choices>
        <name>Information_Technology_IT</name>
        <choiceText>Information Technology (IT)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Technology (IT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innova</name>
        <choiceText>Innova</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova</stringValue>
        </value>
    </choices>
    <choices>
        <name>innovasolutions_com</name>
        <choiceText>innovasolutions.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>innovasolutions.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Learning_Development_L_OD</name>
        <choiceText>Learning &amp; Development (L&amp;OD)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Learning &amp; Development (L&amp;OD)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal</name>
        <choiceText>Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mac</name>
        <choiceText>Mac</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mac</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico</name>
        <choiceText>Mexico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mexico</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>no_email_required</name>
        <choiceText>no email required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no email required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Billable</name>
        <choiceText>Non-Billable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Billable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office_Location1</name>
        <choiceText>Office Location1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office Location1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office_Location2</name>
        <choiceText>Office Location2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office Location2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Operations</name>
        <choiceText>Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recruiting</name>
        <choiceText>Recruiting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recruiting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacement</name>
        <choiceText>Replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Role1</name>
        <choiceText>Role1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Role1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Role2</name>
        <choiceText>Role2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Role2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solutions_Delivery</name>
        <choiceText>Solutions Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solutions Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Talent_Solutions</name>
        <choiceText>Talent Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Talent Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>UK</name>
        <choiceText>UK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UK</stringValue>
        </value>
    </choices>
    <choices>
        <name>US</name>
        <choiceText>US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <choices>
        <name>Volt</name>
        <choiceText>Volt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Volt</stringValue>
        </value>
    </choices>
    <choices>
        <name>volt_com</name>
        <choiceText>volt.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>volt.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web_Only</name>
        <choiceText>Web Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web Only </stringValue>
        </value>
    </choices>
    <choices>
        <name>X146_VCG_Client_Services</name>
        <choiceText>146-VCG Client Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>146-VCG Client Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>X146_VCG_Onsite</name>
        <choiceText>146-VCG Onsite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>146-VCG Onsite</stringValue>
        </value>
    </choices>
    <choices>
        <name>X146_VCG_Operational_Efficiency</name>
        <choiceText>146-VCG Operational Efficiency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>146-VCG Operational Efficiency</stringValue>
        </value>
    </choices>
    <choices>
        <name>X146_VCG_Payroll_Support</name>
        <choiceText>146-VCG Payroll Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>146-VCG Payroll Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>X146_VCG_PMO</name>
        <choiceText>146-VCG PMO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>146-VCG PMO</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Corp_CEO_Executive</name>
        <choiceText>1-Corp CEO Executive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Corp CEO Executive</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Corp_Fin_Rprtg_Consol</name>
        <choiceText>1-Corp Fin Rprtg &amp; Consol</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Corp Fin Rprtg &amp; Consol</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Corp_Finance_Accounting</name>
        <choiceText>1-Corp Finance &amp; Accounting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Corp Finance &amp; Accounting</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Corp_Legal</name>
        <choiceText>1-Corp Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Corp Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Corp_Risk_Mgt_Insurance</name>
        <choiceText>1-Corp Risk Mgt &amp; Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Corp Risk Mgt &amp; Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Corp_Tax</name>
        <choiceText>1-Corp Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Corp Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Corp_Treasury</name>
        <choiceText>1-Corp Treasury</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Corp Treasury</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Tech_Acctg_TAG</name>
        <choiceText>1-Tech Acctg-TAG</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-Tech Acctg-TAG</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_CFO_BU</name>
        <choiceText>3-Corp CFO BU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp CFO BU</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_Cntrcts_VWS</name>
        <choiceText>3-Corp Cntrcts-VWS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp Cntrcts-VWS</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_Facilities</name>
        <choiceText>3-Corp Facilities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp Facilities</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_Fin_Planning_Analysis</name>
        <choiceText>3-Corp Fin Planning &amp; Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp Fin Planning &amp; Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_Financial_Accounting_CA</name>
        <choiceText>3-Corp Financial Accounting-CA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp Financial Accounting-CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_Group_Fin_Acctg</name>
        <choiceText>3-Corp Group Fin &amp; Acctg</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp Group Fin &amp; Acctg</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_HR</name>
        <choiceText>3-Corp HR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp HR</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_HR_Benefits</name>
        <choiceText>3-Corp HR-Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp HR-Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_IT_ERP</name>
        <choiceText>3-Corp IT-ERP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp IT-ERP</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_IT_Quality_Compliance</name>
        <choiceText>3-Corp IT-Quality &amp; Compliance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp IT-Quality &amp; Compliance</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_IT_VWS_Front_Office</name>
        <choiceText>3-Corp IT-VWS Front Office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp IT-VWS Front Office</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_Leasing</name>
        <choiceText>3-Corp Leasing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp Leasing</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Corp_VWS_VCG_Reporting</name>
        <choiceText>3-Corp VWS &amp; VCG Reporting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-Corp VWS &amp; VCG Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_SAS_AR_Billing_Recon</name>
        <choiceText>3-SAS AR-Billing &amp; Recon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-SAS AR-Billing &amp; Recon</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_SAS_AR_Customer_Accounting</name>
        <choiceText>3-SAS AR-Customer Accounting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-SAS AR-Customer Accounting</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_SAS_Payroll</name>
        <choiceText>3-SAS Payroll</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-SAS Payroll</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_SAS_PMO</name>
        <choiceText>3-SAS-PMO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-SAS-PMO</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_SAS_T_E_Manual_Processing</name>
        <choiceText>3-SAS T&amp;E Manual Processing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-SAS T&amp;E Manual Processing</stringValue>
        </value>
    </choices>
    <choices>
        <name>X87_DTS_Management</name>
        <choiceText>87-DTS Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>87-DTS Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>X87_Strategic_Accounts_SVP</name>
        <choiceText>87-Strategic Accounts SVP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>87-Strategic Accounts SVP</stringValue>
        </value>
    </choices>
    <choices>
        <name>X87_VWS_Business_Operations</name>
        <choiceText>87-VWS Business Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>87-VWS Business Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>X87_VWS_Executive_VP</name>
        <choiceText>87-VWS Executive VP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>87-VWS Executive VP</stringValue>
        </value>
    </choices>
    <choices>
        <name>X87_VWS_Mgt_Adm_Delivery</name>
        <choiceText>87-VWS Mgt, Adm &amp; Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>87-VWS Mgt, Adm &amp; Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>X87_VWS_PP_P</name>
        <choiceText>87-VWS PP&amp;P</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>87-VWS PP&amp;P</stringValue>
        </value>
    </choices>
    <choices>
        <name>X87_VWS_Sales_Marketing</name>
        <choiceText>87-VWS Sales &amp; Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>87-VWS Sales &amp; Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>X87_VWS_Staffng</name>
        <choiceText>87-VWS Staffng</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>87-VWS Staffng</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_Manager_is_null</name>
        <label>If Manager is null</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hiring_Manager.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval</targetReference>
            </connector>
            <label>check manager</label>
        </rules>
    </decisions>
    <description>Onbording request form</description>
    <environments>Default</environments>
    <formulas>
        <name>Newline</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>Requestdetail1</name>
        <dataType>String</dataType>
        <expression>{!ServiceRequestdetails}+{!Servicedetailrequest1}+{!ServiceRequest}+{!Servicerequest2}</expression>
    </formulas>
    <formulas>
        <name>Servicedetailrequest1</name>
        <dataType>String</dataType>
        <expression>IF({!Phone_Number_Required}!=NULL, &quot;&lt;strong&gt;Phone Number Required  -&lt;/strong&gt;&quot; +{!Phone_Number_Required}+ {!Newline}, &quot;&quot;) +
IF({!Region_Requested}!=NULL, &quot;&lt;strong&gt;Region Requested  -&lt;/strong&gt;&quot; +{!Region_Requested}+ {!Newline}, &quot;&quot;) +
IF({!Area_Code_Requested}!=NULL, &quot;&lt;strong&gt;Area Code Requested  -&lt;/strong&gt;&quot; +{!Area_Code_Requested}+ {!Newline}, &quot;&quot;)+
IF({!Teams_Phone_Access}!=NULL, &quot;&lt;strong&gt;Team Phone Access -  -&lt;/strong&gt;&quot; +{!Teams_Phone_Access}+ {!Newline}, &quot;&quot;) +
IF({!Teams_Phone_Access1}!=NULL, &quot;&lt;strong&gt;Team Phone Access -  -&lt;/strong&gt;&quot; +{!Teams_Phone_Access1}+ {!Newline}, &quot;&quot;) +
IF({!Teams_Phone_Access2}!=NULL, &quot;&lt;strong&gt;Team Phone Access -  -&lt;/strong&gt;&quot; +{!Teams_Phone_Access2}+ {!Newline}, &quot;&quot;) +
IF({!Employee_Type}=&quot;Billable&quot; &amp;&amp; {!Teams_Phone_Access1}=&quot;Yes&quot; &amp;&amp; {!Hiring_Manager.recordId}&lt;&gt;{!Get_Logged_In_User.Id}, {!Label} + {!Newline}, &quot;&quot;) +
{!Newline}</expression>
    </formulas>
    <formulas>
        <name>ServiceRequest</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;strong&gt;Hardware Information :- &lt;/strong&gt;&quot;+ {!Newline}+
IF({!Laptop_Type}!=NULL, &quot;&lt;strong&gt;Bundle -&lt;/strong&gt;&quot; +{!Laptop_Type}+ {!Newline}, &quot;&quot;) +
IF({!Laptop_Type}=&quot;Bundle B1: One (1) developer laptop, two (2) monitors, one (1) keyboard/mouse combo, one (1) headset, and (1) dock, (1) DisplayPort to HDMI Adapter&quot;, {!Approval4}+ {!Newline}, &quot;&quot;) +
IF({!Laptop_Type}=&quot;Bundle B2: One (1) developer laptop, one (1) monitor, one (1) keyboard/mouse combo, and one (1) headset&quot;, {!Approval4}+ {!Newline}, &quot;&quot;) +
IF({!Laptop_Type}=&quot;Bundle B3: One (1) developer laptop,  one (1) keyboard/mouse combo, one (1) headset&quot;, {!Approval4}+ {!Newline}, &quot;&quot;) +
IF({!Laptop_Type}=&quot;Bundle B4: One (1) developer laptop&quot;, {!Approval4}+ {!Newline}, &quot;&quot;) +
IF({!Laptop_Type}=&quot;Bundle B5: One (1) developer laptop, one(1) dock&quot;, {!Approval4}+ {!Newline}, &quot;&quot;) +
IF({!Laptop_Type1}=&quot;Developer&quot;, &quot;&quot; +{!approval1}+ {!Newline}, &quot;&quot;) +
IF({!Laptop_Type1}=&quot;Executive&quot;, &quot;&quot; +{!approval1}+ {!Newline}, &quot;&quot;) +
IF({!Laptop_Type1}=&quot;Mac&quot;, &quot;&quot; +{!approval1}+ {!Newline}, &quot;&quot;) +
IF({!Laptop_Type1}!=NULL, &quot;&lt;strong&gt;Hardware Accessories&lt;/strong&gt;&quot; + {!Newline}, &quot;&quot;) +
If({!Docking_Station}==TRUE,&quot;Docking Station&quot; +{!Newline},null)+
If({!External_Monitor_Single}==TRUE,&quot;External Monitor: Single&quot; +{!Newline},null)+
If({!External_Monitor_Double}==TRUE,&quot;External Monitor: Double&quot; +{!Newline},null)+
If({!Headset_Wired}==TRUE,&quot;Headset: Wired&quot; +{!Newline},null)+
If({!Speaker}==TRUE,&quot;System Speaker&quot; +{!Newline},null)+
If({!Keyboard_Mouse_Combo_Wireless}==TRUE,&quot;Keyboard/Mouse Combo: Wireless&quot; +{!Newline},null)+
If({!Keyboard_Wireless}==TRUE,&quot;Keyboard: Wireless&quot; +{!Newline},null)+
If({!Mouse_Wireless}==TRUE,&quot;Mouse: Wireless&quot; +{!Newline},null)+
If({!Keyboard_Wired}==TRUE,&quot;Keyboard: Wired&quot; +{!Newline},null)+
If({!Mouse_Wired}==TRUE,&quot;Mouse: Wired&quot; +{!Newline},null)+
If({!External_Webcam_Wired}==TRUE,&quot;External Webcam: Wired&quot; +{!Newline},null)+
If({!Power_Adapter}==TRUE,&quot;Power Adapter&quot; +{!Newline},null)+
If({!Printer}==TRUE,&quot;Printer&quot; +{!Newline},null)+
If({!Other}==TRUE,&quot;Other&quot; +{!Newline},null)+
IF({!Additional_Information1}!=NULL, &quot;&lt;strong&gt;Additional Information  -&lt;/strong&gt;&quot; +{!Additional_Information1}+ {!Newline}, &quot;&quot;) +
IF({!Additional_Information}!=NULL, &quot;&lt;strong&gt;Additional Information  -&lt;/strong&gt;&quot; +{!Additional_Information}+ {!Newline}, &quot;&quot;) +
IF({!Shipping_Information}!=NULL, &quot;&lt;strong&gt;Shipping Information  -&lt;/strong&gt;&quot; +{!Shipping_Information}+ {!Newline}, &quot;&quot;) +
&quot;&lt;strong&gt;ShippingAddress&lt;/strong&gt;&quot;+ {!Newline}+
IF({!Address_10}!=NULL, &quot;&lt;strong&gt; Address 1 - &lt;/strong&gt;&quot; +{!Address_10}+ {!Newline}, &quot;&quot;)+
IF({!Address_20}!=NULL, &quot;&lt;strong&gt; Address 2 - &lt;/strong&gt;&quot; +{!Address_20}+ {!Newline}, &quot;&quot;)+
IF({!City}!=NULL, &quot;&lt;strong&gt;City -&lt;/strong&gt;&quot; +{!City}+ {!Newline}, &quot;&quot;)+
IF({!State_Province}!=NULL, &quot;&lt;strong&gt;State/Province -&lt;/strong&gt;&quot; +{!State_Province}+ {!Newline}, &quot;&quot;)+
IF({!Zip_Postal_Code}!=NULL, &quot;&lt;strong&gt;Zip/Postal Code -&lt;/strong&gt;&quot; +{!Zip_Postal_Code}+ {!Newline}, &quot;&quot;)+
IF({!Country}!=NULL, &quot;&lt;strong&gt;Country -&lt;/strong&gt;&quot; +{!Country}+ {!Newline}, &quot;&quot;)+
IF({!Email_Address.value}!=NULL, &quot;&lt;strong&gt;Email Address  -&lt;/strong&gt;&quot; +{!Email_Address.value}+ {!Newline}, &quot;&quot;) +
IF({!CountryCode5.value}!=NULL, &quot;&lt;strong&gt;Country Code  -&lt;/strong&gt;&quot; +{!CountryCode5.value}+ {!Newline}, &quot;&quot;) +IF({!CountryCode6.value}!=NULL, &quot;&lt;strong&gt;Country Code  -&lt;/strong&gt;&quot; +{!CountryCode6.value}+ {!Newline}, &quot;&quot;) +
IF({!CountryCode7.value}!=NULL, &quot;&lt;strong&gt;Country Code  -&lt;/strong&gt;&quot; +{!CountryCode7.value}+ {!Newline}, &quot;&quot;) +
IF({!CountryCode8.value}!=NULL, &quot;&lt;strong&gt;Country Code  -&lt;/strong&gt;&quot; +{!CountryCode8.value}+ {!Newline}, &quot;&quot;) +
IF({!Cell_Number.value}!=NULL, &quot;&lt;strong&gt;Cell Number -&lt;/strong&gt;&quot; +{!Cell_Number.value}+ {!Newline}, &quot;&quot;)+
 {!Newline}</expression>
    </formulas>
    <formulas>
        <name>Servicerequest2</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;strong&gt;Application/Software Information :- &lt;/strong&gt;&quot;+ {!Newline}+
If({!Bullhorn_HR}==TRUE,&quot;Bullhorn HR&quot; +{!Newline},null)+
IF({!Bullhorn_Role}!=NULL, &quot;&lt;strong&gt;Bullhorn Role  -&lt;/strong&gt;&quot; +{!Bullhorn_Role}+ {!Newline}, &quot;&quot;) +
IF({!Additional_Bullhorn_Details}!=NULL, &quot;&lt;strong&gt;Additional Bullhorn Details  -&lt;/strong&gt;&quot; +{!Additional_Bullhorn_Details}+ {!Newline}, &quot;&quot;) +
If({!Visio}==TRUE,&quot;Visio&quot; +{!Newline},null)+
If({!Visio}==TRUE,{!Display3} +{!Newline},null)+
If({!Zoom}==TRUE,&quot;Zoom&quot; +{!Newline},null)+
If({!WebEx}==TRUE,&quot;WebEx&quot; +{!Newline},null)+
If({!Skype}==TRUE,&quot;Skype&quot; +{!Newline},null)+
If({!Nitro_PDF}==TRUE,&quot;Nitro PDF&quot; +{!Newline},null)+
If({!Nitro_PDF}==TRUE,{!Display1}+{!Newline},null)+
If({!Power_BI_Free}==TRUE,&quot;Power BI Free&quot; +{!Newline},null)+
If({!Power_BI_Pro}==TRUE,&quot;Power BI Pro&quot; +{!Newline},null)+
If({!Power_BI_Pro}==TRUE,{!Display2} +{!Newline},null)+
If({!Cloud_Call_Communicator}==TRUE,&quot;Cloud Call Communicator&quot; +{!Newline},null)+
IF({!Region_Requested1}!=NULL, &quot;&lt;strong&gt;Region Requested  -&lt;/strong&gt;&quot; +{!Region_Requested1}+ {!Newline}, &quot;&quot;) +
IF({!Area_Code_Requested1}!=NULL, &quot;&lt;strong&gt;Area Code Requested  -&lt;/strong&gt;&quot; +{!Area_Code_Requested1}+ {!Newline}, &quot;&quot;) +
If({!DocuSign}==TRUE,&quot;DocuSign&quot; +{!Newline},null)+
If({!CareerBuilder}==TRUE,&quot;CareerBuilder&quot; +{!Newline},null)+
If({!Oracle_HCM}==TRUE,&quot;Oracle HCM&quot; +{!Newline},null)+
If({!Oracle_ERP}==TRUE,&quot;Oracle ERP&quot; +{!Newline},null)+
If({!Salesforce}==TRUE,&quot;Salesforce&quot; +{!Newline},null)+
If({!QuickBooks}==TRUE,&quot;QuickBooks&quot; +{!Newline},null)+
If({!ZoomInfo}==TRUE,&quot;ZoomInfo&quot; +{!Newline},null)+
If({!Monster}==TRUE,&quot;Monster&quot; +{!Newline},null)+
If({!Ascent_DICE}==TRUE,&quot;Ascent DICE&quot; +{!Newline},null)+
If({!Daxtra}==TRUE,&quot;Daxtra&quot; +{!Newline},null)+
If({!Broadbean}==TRUE,&quot;Broadbean&quot; +{!Newline},null)+
If({!LinkedIn_Recruiter}==TRUE,&quot;LinkedIn Recruiter&quot; +{!Newline},null)+
If({!LinkedIn_Recruiter}==TRUE,&quot;LinkedIn Recruiter&quot; +{!Newline},null)+
If({!ACS_DICE}==TRUE,&quot;ACS DICE&quot; +{!Newline},null)+
If({!Sales_Navigator}==TRUE,&quot;Sales Navigator&quot; +{!Newline},null)+
If({!Egencia}==TRUE,&quot;Egencia&quot; +{!Newline},null)+
If({!Concur}==TRUE,&quot;Concur&quot; +{!Newline},null)+
If({!LMS}==TRUE,&quot;LMS&quot; +{!Newline},null)</expression>
    </formulas>
    <formulas>
        <name>ServiceRequestdetails</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;strong&gt;User Information :- &lt;/strong&gt;&quot;+ {!Newline}+
IF({!Region}!=NULL, &quot;&lt;strong&gt;Region  -&lt;/strong&gt;&quot; +{!Region}+ {!Newline}, &quot;&quot;) +
IF({!Brand}!=NULL, &quot;&lt;strong&gt;Brand  -&lt;/strong&gt;&quot; +{!Brand}+ {!Newline}, &quot;&quot;) +
IF({!Department}!=NULL, &quot;&lt;strong&gt;Department  -&lt;/strong&gt;&quot; +{!Department}+ {!Newline}, &quot;&quot;) +
IF({!Department12}!=NULL, &quot;&lt;strong&gt;Department  -&lt;/strong&gt;&quot; +{!Department12}+ {!Newline}, &quot;&quot;) +
IF({!Department13}!=NULL, &quot;&lt;strong&gt;Department  -&lt;/strong&gt;&quot; +{!Department13}+ {!Newline}, &quot;&quot;) +
IF({!Employee_Type}!=NULL, &quot;&lt;strong&gt;Employee Type  -&lt;/strong&gt;&quot; +{!Employee_Type} + {!Newline}, &quot;&quot;) +
IF({!First_Name}!=NULL, &quot;&lt;strong&gt;First Name  -&lt;/strong&gt;&quot; +{!First_Name}+ {!Newline}, &quot;&quot;) +
IF({!Middle_Name}!=NULL, &quot;&lt;strong&gt;Middle Name  -&lt;/strong&gt;&quot; +{!Middle_Name}+ {!Newline}, &quot;&quot;) +
IF({!Last_Name}!=NULL, &quot;&lt;strong&gt;Last Name  -&lt;/strong&gt;&quot; +{!Last_Name}+ {!Newline}, &quot;&quot;) +
IF({!Preferred_Name}!=NULL, &quot;&lt;strong&gt;Preferred Name  -&lt;/strong&gt;&quot; +{!Preferred_Name}+ {!Newline}, &quot;&quot;) +
IF(TEXT({!Start_Date})!=NULL, &quot;&lt;strong&gt;Start Date  -&lt;/strong&gt;&quot; +TEXT({!Start_Date})+ {!Newline}, &quot;&quot;) +
IF({!Job_Title}!=NULL, &quot;&lt;strong&gt;Job Title  -&lt;/strong&gt;&quot; +{!Job_Title}+ {!Newline}, &quot;&quot;) +
IF({!CountryCode1.value}!=NULL, &quot;&lt;strong&gt;Country Code  -&lt;/strong&gt;&quot; +{!CountryCode1.value}+ {!Newline}, &quot;&quot;) +
IF({!CountryCode2.value}!=NULL, &quot;&lt;strong&gt;Country Code  -&lt;/strong&gt;&quot; +{!CountryCode2.value}+ {!Newline}, &quot;&quot;) +
IF({!CountryCode3.value}!=NULL, &quot;&lt;strong&gt;Country Code  -&lt;/strong&gt;&quot; +{!CountryCode3.value}+ {!Newline}, &quot;&quot;) +
IF({!CountryCode4.value}!=NULL, &quot;&lt;strong&gt;Country Code  -&lt;/strong&gt;&quot; +{!CountryCode4.value}+ {!Newline}, &quot;&quot;) +
IF({!Personal_Phone_Number.value}!=NULL, &quot;&lt;strong&gt;Personal Phone Number  -&lt;/strong&gt;&quot; +{!Personal_Phone_Number.value}+ {!Newline}, &quot;&quot;) +
IF({!Personal_Email_Address.value}!=NULL, &quot;&lt;strong&gt;Personal Email Address -&lt;/strong&gt;&quot; +{!Personal_Email_Address.value}+ {!Newline}, &quot;&quot;) +
&quot;&lt;strong&gt;HomeAddress&lt;/strong&gt;&quot;+ {!Newline}+
IF({!Address_01}!=NULL, &quot;&lt;strong&gt;Address 1 -&lt;/strong&gt;&quot; +{!Address_01}+ {!Newline}, &quot;&quot;)+
IF({!Address_02}!=NULL, &quot;&lt;strong&gt;Address 2 -&lt;/strong&gt;&quot; +{!Address_02}+ {!Newline}, &quot;&quot;)+
IF({!City}!=NULL, &quot;&lt;strong&gt;City -&lt;/strong&gt;&quot; +{!City1}+ {!Newline}, &quot;&quot;)+
IF({!State_Province1}!=NULL, &quot;&lt;strong&gt;State/Province -&lt;/strong&gt;&quot; +{!State_Province1}+ {!Newline}, &quot;&quot;)+
IF({!Zip_Postal_Code1}!=NULL, &quot;&lt;strong&gt;Zip/Postal Code -&lt;/strong&gt;&quot; +{!Zip_Postal_Code1}+ {!Newline}, &quot;&quot;)+
IF({!Country1}!=NULL, &quot;&lt;strong&gt;Country -&lt;/strong&gt;&quot; +{!Country1}+ {!Newline}, &quot;&quot;)+
IF({!Hiring_Manager.recordName}!=NULL, &quot;&lt;strong&gt;Hiring manager  -&lt;/strong&gt;&quot; +{!Hiring_Manager.recordName}+ {!Newline}, &quot;&quot;) +
IF({!Model_After_User.recordName}!=NULL, &quot;&lt;strong&gt;Model After User  -&lt;/strong&gt;&quot; +{!Model_After_User.recordName}+ {!Newline}, &quot;&quot;) +
IF({!Email_Domain_Requested}!=NULL, &quot;&lt;strong&gt;Email Domain Requested  -&lt;/strong&gt;&quot; +{!Email_Domain_Requested}+ {!Newline}, &quot;&quot;) +
IF({!Office_License_Type}!=NULL, &quot;&lt;strong&gt;Microsoft Office License Type  -&lt;/strong&gt;&quot; +{!Office_License_Type}+ {!Newline}, &quot;&quot;) +
IF({!Office_License_Type1}!=NULL, &quot;&lt;strong&gt;Microsoft Office License Type  -&lt;/strong&gt;&quot; +{!Office_License_Type1}+ {!Newline}, &quot;&quot;) +
IF({!Employee_Type}=&quot;Billable&quot; &amp;&amp; {!Office_License_Type}=&quot;Full Desktop Access&quot; &amp;&amp; {!Hiring_Manager.recordId}&lt;&gt;{!Get_Logged_In_User.Id}, {!Label} + {!Newline}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varStartdate</name>
        <dataType>Boolean</dataType>
        <expression>{!Start_Date}&gt;=TODAY()</expression>
    </formulas>
    <formulas>
        <name>varzipcode</name>
        <dataType>Boolean</dataType>
        <expression>{!Zip_Postal_Code1}= &quot;[0-9]*{6}&quot;</expression>
    </formulas>
    <interviewLabel>Innova- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Innova-Onboarding Request Form</label>
    <loops>
        <name>Extract_Attachment1</name>
        <label>Extract Attachment1</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <collectionReference>VarTContentDocumentIds01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_attachment01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection01</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_case_record</name>
        <label>Create case record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>GetCaseId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contact_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Onboarding Request for New Hire - Details can be found in Service Request Details section</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Manager__c</field>
            <value>
                <elementReference>Hiring_Manager.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Details__c</field>
            <value>
                <elementReference>Requestdetail1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Service_Request_Trigger__c</field>
            <value>
                <stringValue>Onboarding Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shared_Service__c</field>
            <value>
                <stringValue>IT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Onboarding Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__Category__c</field>
            <value>
                <stringValue>Network</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_from_Collection01</name>
        <label>Create Records from Collection01</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Final_screen</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinkso1</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_contact_Id</name>
        <label>Get contact Id</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_case_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_In_User</name>
        <label>Get Logged In User</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseId</name>
        <label>GetCaseId</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Attachment1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Application_Software_Information</name>
        <label>Application/Software Information</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_contact_Id</targetReference>
        </connector>
        <fields>
            <name>text3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Application/Software Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DFP3</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Application/Software Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStepPercentage</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Application_Software_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Software_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACS_DICE</name>
                    <dataType>Boolean</dataType>
                    <fieldText>ACS DICE</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ascent_DICE</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Ascent DICE</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Broadbean</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Broadbean</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Software_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Software_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bullhorn_HR</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Bullhorn HR</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CareerBuilder</name>
                    <dataType>Boolean</dataType>
                    <fieldText>CareerBuilder</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cloud_Call_Communicator</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Cloud Call Communicator</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Bullhorn_Role</name>
            <choiceReferences>Role1</choiceReferences>
            <choiceReferences>Role2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bullhorn Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Bullhorn_HR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Bullhorn_Details</name>
            <fieldText>Additional Bullhorn Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Bullhorn_HR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Region_Requested1</name>
            <choiceReferences>US</choiceReferences>
            <choiceReferences>Canada</choiceReferences>
            <choiceReferences>Mexico</choiceReferences>
            <choiceReferences>India</choiceReferences>
            <choiceReferences>UK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Region Requested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cloud_Call_Communicator</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Area_Code_Requested1</name>
            <dataType>String</dataType>
            <fieldText>Area Code Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cloud_Call_Communicator</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Application_Software_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Software_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Concur</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Concur</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Daxtra</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Daxtra</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DocuSign</name>
                    <dataType>Boolean</dataType>
                    <fieldText>DocuSign</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Software_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Software_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Egencia</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Egencia</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LinkedIn_Recruiter</name>
                    <dataType>Boolean</dataType>
                    <fieldText>LinkedIn Recruiter</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LMS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>LMS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Software_Information_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Software_Information_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monster</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monster</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nitro_PDF</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Nitro PDF</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Display1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Approval Required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This option will require&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(238, 17, 17);&quot;&gt;approval from Hiring Manger.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Nitro_PDF</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oracle_ERP</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Oracle ERP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Software_Information_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Software_Information_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oracle_HCM</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Oracle HCM</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Power_BI_Free</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Power BI Free</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Power_BI_Pro</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Power BI Pro</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Display2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Approval Required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This option will require&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(238, 17, 17);&quot;&gt;approval from Hiring Manger.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Power_BI_Pro</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Software_Information_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Software_Information_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QuickBooks</name>
                    <dataType>Boolean</dataType>
                    <fieldText>QuickBooks</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Navigator</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Sales Navigator</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salesforce</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Salesforce</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Software_Information_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Software_Information_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Skype</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Skype</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Visio</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Visio</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Display3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Approval Required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This option will require&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(238, 17, 17);&quot;&gt;approval from Hiring Manger.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Visio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WebEx</name>
                    <dataType>Boolean</dataType>
                    <fieldText>WebEx</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Application_Software_Information_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Software_Information_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Zoom</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Zoom</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ZoomInfo</name>
                    <dataType>Boolean</dataType>
                    <fieldText>ZoomInfo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Application_Software_Information_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Attachment03</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>VarTContentDocumentIds01</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTContentDocumentIds01</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_screen</name>
        <label>Final screen</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_Manager_is_null</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(10, 157, 35);&quot;&gt;Onboarding Request {!GetCaseId.CaseNumber} has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hardware_Request_Form</name>
        <label>Hardware Request Form</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Application_Software_Information</targetReference>
        </connector>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Hardware Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DFP2</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Hardware Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStepPercentage</name>
                <value>
                    <numberValue>66.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Laptop_Type1</name>
            <choiceReferences>Standard</choiceReferences>
            <choiceReferences>Developer</choiceReferences>
            <choiceReferences>Executive</choiceReferences>
            <choiceReferences>Mac</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Laptop Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>US</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>approval1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 21, 21);&quot;&gt;Approvals Required-&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(250, 11, 11);&quot;&gt;This option is for software developers only and will require IT Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Developer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approval2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 17, 17); background-color: rgb(255, 255, 255);&quot;&gt;Approvals Required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 11, 11);&quot;&gt;This option is for VPs and above and will require IT Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Executive</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approval3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(21, 21, 21);&quot;&gt;Approvals Required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;This option will require Direct Manager Approval, IT Approval, and CIO Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mac</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HardwareAccessories</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Hardware Accessories&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>US</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Hardware_Request_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Docking_Station</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Docking Station</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>External_Monitor_Single</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Monitor: Single</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Headset_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mouse_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mouse: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Printer</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Printer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>External_Monitor_Double</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Monitor: Double</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>External_Webcam_Wired</name>
                    <dataType>Boolean</dataType>
                    <fieldText>External Webcam: Wired</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Mouse_Combo_Wireless</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard/Mouse Combo: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Keyboard_Wireless</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mouse_Wireless</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mouse: Wireless</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Power_Adapter</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Power Adapter</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Speaker</name>
                    <dataType>Boolean</dataType>
                    <fieldText>System Speaker</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Laptop_Type</name>
            <choiceReferences>BundleA1</choiceReferences>
            <choiceReferences>BundleA2</choiceReferences>
            <choiceReferences>BundleA3</choiceReferences>
            <choiceReferences>BundleA4</choiceReferences>
            <choiceReferences>BundleA5</choiceReferences>
            <choiceReferences>BundleB1</choiceReferences>
            <choiceReferences>BundleB2</choiceReferences>
            <choiceReferences>BundleB3</choiceReferences>
            <choiceReferences>BundleB4</choiceReferences>
            <choiceReferences>BundleB5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bundle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>US</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approval4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 21, 21);&quot;&gt;Approvals Required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(250, 11, 11);&quot;&gt;This option is for software developers only and will require IT Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BundleB1</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BundleB2</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BundleB3</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BundleB4</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BundleB5</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Information1</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Other</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Other</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Shipping_Information</name>
            <choiceReferences>US</choiceReferences>
            <choiceReferences>Canada</choiceReferences>
            <choiceReferences>Mexico</choiceReferences>
            <choiceReferences>India</choiceReferences>
            <choiceReferences>UK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shipping Information</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShippingAddress</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(51, 51, 51); font-family: Lato; background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; Shipping Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hardware_Request_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_10</name>
                    <dataType>String</dataType>
                    <fieldText>Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_20</name>
                    <dataType>String</dataType>
                    <fieldText>Address 2 (Apt or Unit #)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hardware_Request_Form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Form_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State_Province</name>
                    <dataType>String</dataType>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hardware_Request_Form_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Form_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Form_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hardware_Request_Form_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Form_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Countrycode9</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Shipping_Information</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCode5</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Shipping_Information</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Shipping_Information</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCode6</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{2}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+91</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Shipping_Information</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>India</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCode7</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{2}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+52</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Shipping_Information</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Mexico</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCode8</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{2}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+44</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Shipping_Information</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>UK</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Form_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cell_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cell Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[0-9]{3}[0-9]{3}[0-9]{4}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>1234567890</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Form_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Address</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Onboarding Request was not submitted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Onboarding Request was not submitted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Information</name>
        <label>User Information</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Hardware_Request_Form</targetReference>
        </connector>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;User Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DFP1</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStepPercentage</name>
                <value>
                    <numberValue>33.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>User_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region</name>
                    <choiceReferences>US</choiceReferences>
                    <choiceReferences>Canada</choiceReferences>
                    <choiceReferences>Mexico</choiceReferences>
                    <choiceReferences>India</choiceReferences>
                    <choiceReferences>UK</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand</name>
                    <choiceReferences>Volt</choiceReferences>
                    <choiceReferences>Innova</choiceReferences>
                    <choiceReferences>Hiregenics</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Type</name>
                    <choiceReferences>Billable</choiceReferences>
                    <choiceReferences>Non_Billable</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Employee Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Department</name>
                    <choiceReferences>Finance</choiceReferences>
                    <choiceReferences>Human_Resources</choiceReferences>
                    <choiceReferences>Information_Technology_IT</choiceReferences>
                    <choiceReferences>Operations</choiceReferences>
                    <choiceReferences>Legal</choiceReferences>
                    <choiceReferences>Learning_Development_L_OD</choiceReferences>
                    <choiceReferences>Marketing</choiceReferences>
                    <choiceReferences>Sales</choiceReferences>
                    <choiceReferences>Recruiting</choiceReferences>
                    <choiceReferences>Talent_Solutions</choiceReferences>
                    <choiceReferences>Solutions_Delivery</choiceReferences>
                    <choiceReferences>Executive</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Department</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Brand</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Volt</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Brand</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Hiregenics</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Department12</name>
                    <choiceReferences>X1_Corp_CEO_Executive</choiceReferences>
                    <choiceReferences>X1_Corp_Fin_Rprtg_Consol</choiceReferences>
                    <choiceReferences>X1_Corp_Finance_Accounting</choiceReferences>
                    <choiceReferences>X1_Corp_Legal</choiceReferences>
                    <choiceReferences>X1_Corp_Risk_Mgt_Insurance</choiceReferences>
                    <choiceReferences>X1_Corp_Tax</choiceReferences>
                    <choiceReferences>X1_Corp_Treasury</choiceReferences>
                    <choiceReferences>X1_Tech_Acctg_TAG</choiceReferences>
                    <choiceReferences>X3_Corp_CFO_BU</choiceReferences>
                    <choiceReferences>X3_Corp_Cntrcts_VWS</choiceReferences>
                    <choiceReferences>X3_Corp_Facilities</choiceReferences>
                    <choiceReferences>X3_Corp_Fin_Planning_Analysis</choiceReferences>
                    <choiceReferences>X3_Corp_Financial_Accounting_CA</choiceReferences>
                    <choiceReferences>X3_Corp_Group_Fin_Acctg</choiceReferences>
                    <choiceReferences>X3_Corp_HR</choiceReferences>
                    <choiceReferences>X3_Corp_HR_Benefits</choiceReferences>
                    <choiceReferences>X3_Corp_IT_ERP</choiceReferences>
                    <choiceReferences>X3_Corp_IT_Quality_Compliance</choiceReferences>
                    <choiceReferences>X3_Corp_IT_VWS_Front_Office</choiceReferences>
                    <choiceReferences>X3_Corp_Leasing</choiceReferences>
                    <choiceReferences>X3_Corp_VWS_VCG_Reporting</choiceReferences>
                    <choiceReferences>X3_SAS_AR_Billing_Recon</choiceReferences>
                    <choiceReferences>X3_SAS_AR_Customer_Accounting</choiceReferences>
                    <choiceReferences>X3_SAS_Payroll</choiceReferences>
                    <choiceReferences>X3_SAS_T_E_Manual_Processing</choiceReferences>
                    <choiceReferences>X3_SAS_PMO</choiceReferences>
                    <choiceReferences>X87_DTS_Management</choiceReferences>
                    <choiceReferences>X87_Strategic_Accounts_SVP</choiceReferences>
                    <choiceReferences>X87_VWS_Business_Operations</choiceReferences>
                    <choiceReferences>X87_VWS_Executive_VP</choiceReferences>
                    <choiceReferences>X87_VWS_Mgt_Adm_Delivery</choiceReferences>
                    <choiceReferences>X87_VWS_PP_P</choiceReferences>
                    <choiceReferences>X87_VWS_Sales_Marketing</choiceReferences>
                    <choiceReferences>X87_VWS_Staffng</choiceReferences>
                    <choiceReferences>X146_VCG_Client_Services</choiceReferences>
                    <choiceReferences>X146_VCG_Onsite</choiceReferences>
                    <choiceReferences>X146_VCG_Operational_Efficiency</choiceReferences>
                    <choiceReferences>X146_VCG_Payroll_Support</choiceReferences>
                    <choiceReferences>X146_VCG_PMO</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Department</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Brand</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Volt</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Department13</name>
                    <choiceReferences>Human_Resources</choiceReferences>
                    <choiceReferences>Sales</choiceReferences>
                    <choiceReferences>Recruiting</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Department</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Brand</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Hiregenics</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Brand</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Innova</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Middle_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Preferred_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Preferred Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!varError}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!varStartdate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>User_Information_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Countrycode0</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCode1</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{1}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>US</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canada</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCode2</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{2}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+91</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>India</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCode3</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{2}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+44</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>UK</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryCode4</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Country Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[+][0-9]{2}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+52</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Mexico</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Phone_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Personal Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>[0-9]{3}[0-9]{3}[0-9]{4}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>1234567890</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Email_Address</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Personal Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>HomeAddress</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: MuseoSans700; color: rgb(0, 0, 0);&quot;&gt;Home Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_Information_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_01</name>
                    <dataType>String</dataType>
                    <fieldText>Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_02</name>
                    <dataType>String</dataType>
                    <fieldText>Address 2 (Apt or Unit #)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Information_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City1</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State_Province1</name>
                    <dataType>String</dataType>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Information_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Zip_Postal_Code1</name>
                    <dataType>String</dataType>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country1</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Employee_Id</name>
            <dataType>String</dataType>
            <fieldText>Employee Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>User_Information_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hiring_Manager</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Hiring Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Innova_Manager__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Model_After_User</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Model After User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Innova_Manager__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Information_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Domain_Requested</name>
                    <choiceReferences>innovasolutions_com</choiceReferences>
                    <choiceReferences>volt_com</choiceReferences>
                    <choiceReferences>hiregenics_com</choiceReferences>
                    <choiceReferences>no_email_required</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Email Domain Requested</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Office_License_Type</name>
                    <choiceReferences>Full_Desktop_Access</choiceReferences>
                    <choiceReferences>Web_Only</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Web_Only</defaultSelectedChoiceReference>
                    <fieldText>Microsoft Office License Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Employee_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Billable</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Office_License_Type1</name>
                    <choiceReferences>Full_Desktop_Access</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Full_Desktop_Access</defaultSelectedChoiceReference>
                    <fieldText>Microsoft Office License Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Employee_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Non_Billable</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Label</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 5, 5);&quot;&gt;Hiring Manager approval required if Full Desktop Access is selected.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Employee_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Billable</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Office_License_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Full_Desktop_Access</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Hiring_Manager.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_In_User.Id</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Information_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_Number_Required</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Phone Number Required</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Teams_Phone_Access</name>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Teams Phone Access</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Brand</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Volt</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Teams_Phone_Access1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Teams Phone Access</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Employee_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Billable</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Brand</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Volt</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Teams_Phone_Access2</name>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
                    <fieldText>Teams Phone Access</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Employee_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Non_Billable</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Brand</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Volt</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Label2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 3, 3);&quot;&gt;Hiring Manager approval required if Teams Phone Access is requested.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Employee_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Billable</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Hiring_Manager.recordId</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Logged_In_User.Id</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Teams_Phone_Access1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Information_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Information_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region_Requested</name>
                    <choiceReferences>US</choiceReferences>
                    <choiceReferences>Canada</choiceReferences>
                    <choiceReferences>Mexico</choiceReferences>
                    <choiceReferences>India</choiceReferences>
                    <choiceReferences>UK</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region Requested</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Phone_Number_Required</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Information_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Area_Code_Requested</name>
                    <dataType>String</dataType>
                    <fieldText>Area Code Requested</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Phone_Number_Required</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Logged_In_User</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Requestdetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!ServiceRequestdetails}&lt;/p&gt;&lt;p&gt;{!ServiceRequest}&lt;/p&gt;&lt;p&gt;{!Servicerequest2}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varAddInError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Additional Information field is required.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Start Date is equal and greater than today.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varZipcodeError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Zip Code must be six number.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>constantPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>User Information,Hardware Information,Application/Software Information</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRContentDocumentLink01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinkso1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarTContentDocumentIds01</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
