force-app/main/default/flows/ITSCRP_Assign_Permission_Sets_to_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>User decision to find ITSC Agent/ITSC Employee</description>
        <name>User_Decision</name>
        <label>User Decision</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ITSC_Agent</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>ITSCAgent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ITSCEmployee</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00eDn000000J36dIAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Agent_Permission_set_License_Employee_Workspace_and_Concierge</targetReference>
            </connector>
            <label>ITSC Agent</label>
        </rules>
        <rules>
            <name>ITSC_Employee</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>ITSCAgent</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ITSCEmployee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00eDn000000IQcFIAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Company_Community_for_Force_com_License_Employee</targetReference>
            </connector>
            <label>ITSC Employee</label>
        </rules>
        <rules>
            <name>ITSC_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>00eDn000002MVTiIAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Admin_Permission_Set_License_Employee_Experience</targetReference>
            </connector>
            <label>ITSC Administrator</label>
        </rules>
    </decisions>
    <description>Updated profile Id with contains</description>
    <environments>Default</environments>
    <interviewLabel>ITSCRP - Assign Permission Sets to User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ITSCRP - Assign Permission Sets to User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Add Admin Permission Set License - Employee Experience</description>
        <name>Add_Admin_Permission_Set_License_Employee_Experience</name>
        <label>Add Admin Permission Set License - Employee Experience</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Add_Admin_Permission_Set_License_Employee_Workspace_and_Concierge</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarEmployeeExperiencePslId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Add Admin Permission Set License - Employee Workspace and Concierge</description>
        <name>Add_Admin_Permission_Set_License_Employee_Workspace_and_Concierge</name>
        <label>Add Admin Permission Set License - Employee Workspace and Concierge</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Add_Admin_Permission_Set_License_Service_Catalog_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarEmployee360_EmployeeConciergePslId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Assign Permission Set License - Service Catalog User To Admin</description>
        <name>Add_Admin_Permission_Set_License_Service_Catalog_User</name>
        <label>Add Admin Permission Set License - Service Catalog User</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assign_Permission_set_Group_Permission_Set_Group_Admin</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarServiceCatalogUserPsl</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Agent_Permission_set_License_Employee_Experience</name>
        <label>Add Agent Permission set License - Employee Experience</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Add_Agent_Permission_Set_License_Service_Catalog_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarEmployeeExperiencePslId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Agent_Permission_set_License_Employee_Workspace_and_Concierge</name>
        <label>Add Agent Permission set License - Employee Workspace and Concierge</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Add_Agent_Permission_set_License_Employee_Experience</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarEmployee360_EmployeeConciergePslId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Assign Permission Set License - Service Catalog User To Agent</description>
        <name>Add_Agent_Permission_Set_License_Service_Catalog_User</name>
        <label>Add Agent Permission Set License - Service Catalog User</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assign_Agent_Permission_set_Group_Permission_Set_Group_Agents</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarServiceCatalogUserPsl</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Agent_Permission_set_Group_Permission_Set_Group_Agents</name>
        <label>Assign Agent Permission set Group - Permission_Set_Group_Agents</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Update_Agent_with_Service_Cloud_and_Knowledge_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>VarPermission_Set_Group_Agents</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Employee_Permission_set_Group_Permission_Set_Group_Employees</name>
        <label>Assign Employee Permission set Group - Permission_Set_Group_Employees</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>VarPermission_Set_Group_Employees</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_Permission_set_Group_Permission_Set_Group_Admin</name>
        <label>Assign Permission set Group - Permission_Set_Group_Admin</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Update_Admin_with_Service_Cloud_and_Knowledge_User1</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>VarPermission_set_Group_Admin</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Assign Permission Set License - Company Community for Force.com</description>
        <name>Company_Community_for_Force_com_License_Employee</name>
        <label>Company Community for Force.com - License Employee</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Employee_Experience_License_Employee</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarCompanyCommunityPslId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Assign Permission Set License - Employee Experience</description>
        <name>Employee_Experience_License_Employee</name>
        <label>Employee Experience - License Employee</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Employee_Workspace_and_Concierge_License_Employee</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarEmployeeExperiencePslId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Assign Permission Set License - Employee Workspace and Concierge</description>
        <name>Employee_Workspace_and_Concierge_License_Employee</name>
        <label>Employee Workspace and Concierge - License Employee</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Service_Catalog_User_License_Employee</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarEmployee360_EmployeeConciergePslId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Assign Permission Set License - Service Catalog User</description>
        <name>Service_Catalog_User_License_Employee</name>
        <label>Service Catalog User - License Employee</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Assign_Employee_Permission_set_Group_Permission_Set_Group_Employees</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>VarServiceCatalogUserPsl</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Permission Set License Employee Experience</description>
        <name>Get_Permission_Set_License</name>
        <label>Get Permission Set License Employee Experience</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_License_Service_Catalog_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmployeeExperiencePsl</stringValue>
            </value>
        </filters>
        <object>PermissionSetLicense</object>
        <outputAssignments>
            <assignToReference>VarEmployeeExperiencePslId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Permission Set License Company Community for Force.com</description>
        <name>Get_Permission_Set_License_Company_Community_for_Force_com</name>
        <label>Get Permission Set License Company Community for Force.com</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CompanyCommunityPsl</stringValue>
            </value>
        </filters>
        <object>PermissionSetLicense</object>
        <outputAssignments>
            <assignToReference>VarCompanyCommunityPslId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Permission Set License Employee Workspace and Concierge</description>
        <name>Get_Permission_Set_License_Employee_Workspace_and_Concierge</name>
        <label>Get Permission Set License - Employee Workspace and Concierge</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_set_Group_Admin_Get_Group_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee360_EmployeeConciergePsl</stringValue>
            </value>
        </filters>
        <object>PermissionSetLicense</object>
        <outputAssignments>
            <assignToReference>VarEmployee360_EmployeeConciergePslId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_License_Service_Catalog_User</name>
        <label>Get Permission Set License - Service Catalog User</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_License_Employee_Workspace_and_Concierge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceCatalogUserPsl</stringValue>
            </value>
        </filters>
        <object>PermissionSetLicense</object>
        <outputAssignments>
            <assignToReference>VarServiceCatalogUserPsl</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Permission_set_Group_Admin</description>
        <name>Permission_set_Group_Admin_Get_Group_Record</name>
        <label>Permission_set_Group_Admin Get Group Record</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Group_Agents_Get_Permission_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permission_set_Group_Admin</stringValue>
            </value>
        </filters>
        <object>PermissionSetGroup</object>
        <outputAssignments>
            <assignToReference>VarPermission_set_Group_Admin</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Permission_Set_Group_Agents</description>
        <name>Permission_Set_Group_Agents_Get_Permission_Group</name>
        <label>Permission_Set_Group_Agents Get Permission Group</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Group_Employees_Get_Permission_Set_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permission_Set_Group_Agents</stringValue>
            </value>
        </filters>
        <object>PermissionSetGroup</object>
        <outputAssignments>
            <assignToReference>VarPermission_Set_Group_Agents</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Permission_Set_Group_Employees</description>
        <name>Permission_Set_Group_Employees_Get_Permission_Set_Group</name>
        <label>Permission_Set_Group_Employees Get Permission Set Group</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permission_Set_Group_Employees</stringValue>
            </value>
        </filters>
        <object>PermissionSetGroup</object>
        <outputAssignments>
            <assignToReference>VarPermission_Set_Group_Employees</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Admin with Service Cloud and Knowledge User</description>
        <name>Update_Admin_with_Service_Cloud_and_Knowledge_User1</name>
        <label>Update Admin with Service Cloud and Knowledge User</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserPermissionsSupportUser</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserPermissionsKnowledgeUser</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>UserPermissionsKnowledgeUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsSupportUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Agent with Service Cloud and Knowledge User</description>
        <name>Update_Agent_with_Service_Cloud_and_Knowledge_User</name>
        <label>Update Agent with Service Cloud and Knowledge User</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserPermissionsSupportUser</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserPermissionsKnowledgeUser</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>UserPermissionsKnowledgeUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsSupportUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permission_Set_License_Company_Community_for_Force_com</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ITSCAgent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ITSCEmployee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PermissionSetRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>var_UserID</description>
        <name>var_UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarCompanyCommunityPslId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarEmployee360_EmployeeConciergePslId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarEmployeeExperiencePslId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPermission_set_Group_Admin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPermission_Set_Group_Agents</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPermission_Set_Group_Employees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarServiceCatalogUserPsl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
