force-app/main/default/flows/ITSCRP_Assign_Permission_Set_on_Profile_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_PSAL_List</name>
        <label>Copy 1 of PSAL List</label>
        <locationX>710</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>PSGAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Match_of_PSG_Assigned</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Match_of_PSG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PermssionSetAssignedRecord</name>
        <label>PermssionSetAssignedRecord</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>PermssionSetAssignedRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Assigned_Permission_Set_Match</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Permission_set_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PSAL_List</name>
        <label>PSAL List</label>
        <locationX>710</locationX>
        <locationY>3623</locationY>
        <assignmentItems>
            <assignToReference>PSLAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Match_of_PSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Match_of_PSL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Macth</name>
        <label>Check Macth</label>
        <locationX>842</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Check_Match_of_PSL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Match_of_PSA.PermissionSetLicense.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Check_Match_of_PSL.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSAL_List</targetReference>
            </connector>
            <label>If matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Match_of_groups</name>
        <label>Check Match of groups</label>
        <locationX>842</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Check_Match_of_PSG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_matches1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Match_of_PSG_Assigned.PermissionSetGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Check_Match_of_PSG.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_PSAL_List</targetReference>
            </connector>
            <label>If matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Active</name>
        <label>If Active</label>
        <locationX>182</locationX>
        <locationY>4367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Permission_Sets_to_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_of_assigned_Permission_set</name>
        <label>Match of assigned Permission set</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_Permission_set_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Permission_set_Match.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Check_Assigned_Permission_Set_Match.PermissionSet.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PermssionSetAssignedRecord</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check</name>
        <label>Null check</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Get_Permission_set_group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Var_Null_CHeck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermssionSetAssignedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_assigned_permission_set_first</targetReference>
            </connector>
            <label>Var Null CHeck</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check0</name>
        <label>Null check</label>
        <locationX>182</locationX>
        <locationY>4031</locationY>
        <defaultConnector>
            <targetReference>If_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Var_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSLAList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PSLA</targetReference>
            </connector>
            <label>If Var not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSGList_Null_check</name>
        <label>PSGList Null check</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Geta_PSL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Var_not_null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSGAList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PSGA</targetReference>
            </connector>
            <label>If Var not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ITSCRP - Assign Permission Set on Profile Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ITSCRP - Assign Permission Set on Profile Update</label>
    <loops>
        <name>Check_Assigned_Permission_Set_Match</name>
        <label>Check Assigned Permission Set Match</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Assigned_Permission_Set</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Permission_set_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_Match_of_PSA</name>
        <label>Check Match of PSA</label>
        <locationX>182</locationX>
        <locationY>3263</locationY>
        <collectionReference>Get_assigned_License</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Match_of_PSL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_check0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_Match_of_PSG</name>
        <label>Check Match of PSG</label>
        <locationX>622</locationX>
        <locationY>2039</locationY>
        <collectionReference>Get_Permission_set_group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Match_of_groups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Match_of_PSG_Assigned</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_Match_of_PSG_Assigned</name>
        <label>Check Match of PSG Assigned</label>
        <locationX>182</locationX>
        <locationY>1919</locationY>
        <collectionReference>Get_assigned_groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Match_of_PSG</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PSGList_Null_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_Match_of_PSL</name>
        <label>Check Match of PSL</label>
        <locationX>622</locationX>
        <locationY>3383</locationY>
        <collectionReference>Geta_PSL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Macth</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Match_of_PSA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_Permission_set_Match</name>
        <label>Check Permission set Match</label>
        <locationX>622</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_ITSC_Permission_Set</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_of_assigned_Permission_set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Assigned_Permission_Set_Match</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_assigned_permission_set_first</name>
        <label>Delete assigned permission set first</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Get_Permission_set_group</targetReference>
        </connector>
        <inputReference>PermssionSetAssignedRecordId</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_PSGA</name>
        <label>Delete PSGA</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <connector>
            <targetReference>Geta_PSL</targetReference>
        </connector>
        <inputReference>PSGAList</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_PSLA</name>
        <label>Delete PSLA</label>
        <locationX>50</locationX>
        <locationY>4151</locationY>
        <connector>
            <targetReference>If_Active</targetReference>
        </connector>
        <inputReference>PSLAList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_assigned_groups</name>
        <label>Get assigned groups</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Match_of_PSG_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_assigned_License</name>
        <label>Get assigned License</label>
        <locationX>182</locationX>
        <locationY>3143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Match_of_PSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_Permission_Set</name>
        <label>Get Assigned Permission Set</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assigned_Permission_Set_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ITSC_Permission_Set</name>
        <label>Get ITSC Permission Set</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Permission_Set</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 32 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 31 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30)</filterLogic>
        <filters>
            <field>IsOwnedByProfile</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChangeCalendarAdmin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChangeCalendarBasic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChangeCalendarWrite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_App_User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Case_Record_Type_Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Config_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Configuration_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Employee_Requester</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Knowledge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Request_Menu_Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Request_Menu_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Request_Menu_Requester</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Requester</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Standard_Field_Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Knowledge_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceCatalogBuilder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceCatalogUser</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmployeeConciergeAccess</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmployeeConciergeAccessGroup</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee_Concierge_User_Data_Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee_Knowledge_User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee_Workspace_Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee_Workspace_User_Data_Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AnnouncementsAdmin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Standard_Field_Access</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceUserPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>workplace_user</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Catalog_Concierge_access</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_set_group</name>
        <label>Get Permission set group</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_assigned_groups</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) AND 10</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permission_Set_Group_Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permission_Set_Group_Employees</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permission_Set_Group_Agents</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Request_Menu_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmployeeConciergeAccessGroup</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_User</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Employee_Requester</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Config_Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT_Service_Center_Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Geta_PSL</name>
        <label>Get  PSL</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_assigned_License</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ServiceCatalogUserPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee360_EmployeeServiceAgentPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceUserPsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmployeeExperiencePsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee360_EmployeeConciergePsl</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CompanyCommunityPsl</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ITSC_Permission_Set</targetReference>
        </connector>
        <filterLogic>(1 AND 2)  OR (2 AND 3)</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Permission_Sets_to_User</name>
        <label>Assign Permission Sets to User</label>
        <locationX>50</locationX>
        <locationY>4487</locationY>
        <flowName>ITSCRP_Assign_Permission_Sets_to_User</flowName>
        <inputAssignments>
            <name>ITSCAgent</name>
            <value>
                <elementReference>$Record.ITSC_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ITSCEmployee</name>
            <value>
                <elementReference>$Record.ITSC_Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProfileName</name>
            <value>
                <elementReference>$Record.ProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_UserID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>PermssionSetAssignedRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PSGAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PSLAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetLicenseAssign</objectType>
    </variables>
</Flow>
