force-app/main/default/flows/Notification_Group_Create_Add_Default_Entries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_to_varNotificationEntries</name>
        <label>Assign to varNotificationEntries</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varNotificationEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Notification_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Notification_Types</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Notification Group - Create - Add Default Entries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification Group - Create - Add Default Entries</label>
    <loops>
        <name>Loop_Notification_Types</name>
        <label>Loop Notification Types</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Notification_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Notification_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Entries</name>
        <label>Create Entries</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>varNotificationEntries</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification_Types</name>
        <label>Get Notification Types</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Notification_Types</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ISC_Notification_Type__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification_Types</targetReference>
        </connector>
        <object>ISC_Notification_Group__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_Notification_Entry</name>
        <label>Create Notification Entry</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assign_to_varNotificationEntries</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>ISC_Notification_Entry__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Notification_Types.Label</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Notification_Group__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>varNotificationEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ISC_Notification_Entry__c</objectType>
    </variables>
</Flow>
