force-app/main/default/flows/Portal_Create_a_Case_V1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Incident_Record_with_Case_Assignment_Rule</name>
        <label>Create Incident Record with Case Assignment Rule</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <actionName>CaseCreationUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_case_record_for_case_number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>varCaseRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ruleName</name>
            <value>
                <stringValue>Innova Case Assignment Rule v2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CaseCreationUtil</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Home_page</name>
        <label>Home page</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <actionName>c:Homepage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:Homepage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Records_into_a_Collection</name>
        <label>Add Records into a Collection</label>
        <locationX>270</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_in_Case_record_Variable</name>
        <label>Assign values in Case record Variable</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_For_Requested_by.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Preferred_contact_method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_contact_method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.IncidentRecordIDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.wkitsm__Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Impact1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Brand1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBrand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Preferred_contact_method_Email1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_On_Behalf_Of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_For.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Preferred_contact_method_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contactphonenumber1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.wkitsm__Urgency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SharedService.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Category1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SharedService.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Subcategory1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SharedService.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Incident_Record_with_Case_Assignment_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_and_Request_Record</name>
        <label>Link File and Request Record</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Attachment_component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Incident_Record_with_Case_Assignment_Rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_a_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>APAC_India</name>
        <choiceText>APAC (India)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC (India)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Unit</name>
        <choiceText>Business Unit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Unit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chat</name>
        <choiceText>Chat (Teams)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChatTeams</name>
        <choiceText>Chat (Teams)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat (Teams)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company</name>
        <choiceText>Global</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Company</elementReference>
        </value>
    </choices>
    <choices>
        <name>Department</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>HireGenics</name>
        <choiceText>HireGenics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HireGenics</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incident</name>
        <choiceText>Incident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incident</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innova_Solutions</name>
        <choiceText>Innova Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Createdby_is_End_User</name>
        <label>Check if Createdby is End User</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>confirmation_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_End_User_is_Standard_Platform_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Createdby_End_User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Platform User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Share_Record_with_Created_by_End_User</targetReference>
            </connector>
            <label>If End User is Standard Platform User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_on_Requested_by_on_record</name>
        <label>Check on Requested by on record</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Get_Createdby_End_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Requested_For.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_ContactId</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Brand12</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region11</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarImpact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm__Impact__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Preferred_contact_method__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Sub_Subcategory__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarUrgency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm__Urgency__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varBrand</name>
        <dataType>String</dataType>
        <expression>IF({!Brand1}!=Null, {!Brand1}, &quot;&quot;) + IF({!Brand2}!=Null, {!Brand2}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Portal - Create a Case - V1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Create a Case - V1</label>
    <loops>
        <name>Loop_for_Attachment_component</name>
        <label>Loop for Attachment component</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <collectionReference>VarTContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_and_Request_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_from_Collection</name>
        <label>Create Records from Collection</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Check_on_Requested_by_on_record</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Share_Record_with_Created_by_End_User</name>
        <label>Create Share Record with Created by End User</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>confirmation_message</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_case_record_for_case_number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_case_record_for_case_number.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_case_record_for_case_number</name>
        <label>Get case record for case number</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Incident_Record_with_Case_Assignment_Rule</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_My_Support_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_For_Requested_by</name>
        <label>Get Contact For Requested by</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requested_For</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Createdby_End_User</name>
        <label>Get Createdby End User</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Createdby_is_End_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_case_record_for_case_number.CreatedBy.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requested_For</name>
        <label>Get Requested For</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_in_Case_record_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requested_For.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_ContactId</name>
        <label>Update the ContactId</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_Createdby_End_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Incident_Record_with_Case_Assignment_Rule</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Requested_For.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>confirmation_message</name>
        <label>Confirmation Message</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Home_page</targetReference>
        </connector>
        <fields>
            <name>Massage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(10, 157, 35);&quot;&gt;Case Number# {!Get_case_record_for_case_number.CaseNumber}  has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_My_Support_Ticket</name>
        <label>Create My Support Ticket</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_For_Requested_by</targetReference>
        </connector>
        <fields>
            <name>Create_My_Support_Ticket_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_My_Support_Ticket_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_By</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Requested By﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$User.FirstName}&amp;nbsp;{!$User.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_My_Support_Ticket_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_For</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested For</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_My_Support_Ticket_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_My_Support_Ticket_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region1</name>
                    <choiceReferences>Region11</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_My_Support_Ticket_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand1</name>
                    <choiceReferences>Brand12</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand2</name>
                    <choiceReferences>Innova_Solutions</choiceReferences>
                    <choiceReferences>HireGenics</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA (Europe)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SharedService</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Innova_Service1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Innova_Category1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Innova_Subcategory1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Subcategory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>Innova_Service1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <stringValue>Innova_Category1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <stringValue>Innova_Subcategory1__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preferred_contact_method</name>
            <choiceReferences>VarPick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred contact method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contactphonenumber1</name>
            <dataType>String</dataType>
            <fieldText>Contact phone number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 80, 98);&quot;&gt;Contact phone number must be numeric only, between 7-15 digit.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(ISNUMBER({!Contactphonenumber1}), LEN({!Contactphonenumber1})&gt;=7, LEN({!Contactphonenumber1}) &lt;=15,NOT(contains({!Contactphonenumber1}, &apos;+&apos;)))</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_contact_method</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Phone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>$User.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_contact_method</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Email</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Impact1</name>
            <choiceReferences>VarImpact</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Individual</stringValue>
            </defaultValue>
            <fieldText>Impact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Impact describes how many people are affected&lt;/strong&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Individual - Single user&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Team - Multiple users&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Department - Significant / Large&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Global - Extensive / Wide spread&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Urgency</name>
            <choiceReferences>VarUrgency</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Medium</stringValue>
            </defaultValue>
            <fieldText>Urgency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Urgency describes how quickly something needs to be resolved&lt;/strong&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Low - Inconvenient; workaround identified&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Medium - Work functions impaired; workaround possible&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;High - Can no longer perform primary work functions&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Critical - Catastrophic; can no longer work&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attachement</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach files</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The Incident was not created. Please contact your Salesforce system administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OnBeHalfId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
