force-app/main/default/flows/Portal_Termination_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>One_drive_access_requested</name>
        <label>One drive access requested?</label>
        <locationX>182</locationX>
        <locationY>1619</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Innova_Brand1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Innova Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Brand1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HireGenics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Innova_Service_Request_Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>One Drive Access</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MS_One_Drive_Access</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Termination_Request</name>
        <label>Termination Request?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Termination</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ))</conditionLogic>
            <conditions>
                <leftValueReference>varNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isTerminationEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isTerminationServiceRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_in_AD</targetReference>
            </connector>
            <label>Is Termination</label>
        </rules>
    </decisions>
    <description>Name Tasks.  Update First Decision - DJ - April 18 2024
Remove static subject/title of &quot;Terminations&quot; - DJ 1/9/2024
Update to add email-to-case.  Mailbox: terminations.sc@innovasolutions.com - DJ - 1/9/2024</description>
    <environments>Default</environments>
    <formulas>
        <name>isTerminationEmail</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.Origin},&apos;Email&apos;) &amp;&amp;
{!GetEmailMessage.ToAddress} == &apos;terminations.sc@innovasolutions.com&apos;</expression>
    </formulas>
    <formulas>
        <name>isTerminationServiceRequest</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.Innova_Service_Request_Trigger__c},&apos;Termination Request&apos;) &amp;&amp;
ISPICKVAL({!$Record.Origin}, &apos;Service Cloud&apos;)</expression>
    </formulas>
    <formulas>
        <name>varNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Portal - Termination Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Termination Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Check_in_device</name>
        <label>Check in device</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>One_drive_access_requested</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for Received and checked-in device</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Collect_Assets</name>
        <label>Collect Assets</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Redirect_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Collect Assets</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Disable_Door_Access</name>
        <label>Disable Door Access</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Disable_WiFi_Access</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Disable Door Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Disable_Phone_Number</name>
        <label>Disable Phone Number</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Check_in_device</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Disable Phone Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Disable_WiFi_Access</name>
        <label>Disable WiFi Access</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Disable_Phone_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Disable WiFi Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>MS_365_Licensing</name>
        <label>MS 365 Licensing</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Collect_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for 365 Licensing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>MS_365_Retention_Policy</name>
        <label>MS 365 Retention Policy</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Updating_Mailbox</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for 365 Retention Policy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>MS_One_Drive_Access</name>
        <label>MS One Drive Access</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for One Drive Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Redirect_Manager</name>
        <label>Redirect Manager</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>MS_365_Retention_Policy</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request to Redirect Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_User_in_AD</name>
        <label>Update User in AD</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>MS_365_Licensing</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for Updating User in AD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Updating_Mailbox</name>
        <label>Updating Mailbox</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Disable_Door_Access</targetReference>
        </connector>
        <inputAssignments>
            <field>Innova_Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Innova_Subject__c</field>
            <value>
                <stringValue>Termination Request for Updating Mailbox</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Innova_ITSC_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetEmailMessage</name>
        <label>GetEmailMessage</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Termination_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ToAddress</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>terminations.sc@innovasolutions.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEmailMessage</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}= &apos;Request&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
