force-app/main/default/flows/Portal_Dev_Basic_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Home_page</name>
        <label>Home page</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <actionName>c:Homepage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:Homepage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Account_Request</name>
        <label>Assign Account Request</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware Request -  {!Hardware_Requested}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Service_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ISC_System_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a14DK000001YuHmYAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Description_Formatted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Brand1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_varCaseRecord</name>
        <label>Refresh varCaseRecord</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationMessage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accessories</name>
        <choiceText>Accessories</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accessories</stringValue>
        </value>
    </choices>
    <choices>
        <name>Docking_Station</name>
        <choiceText>Docking Station</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Docking Station</stringValue>
        </value>
    </choices>
    <choices>
        <name>External_Webcam_Wired</name>
        <choiceText>External Webcam (Wired)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>External Webcam (Wired)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Headset_Wired</name>
        <choiceText>Headset (Wired)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Headset (Wired)</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Laptop</name>
        <choiceText>New Laptop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Laptop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office_Based</name>
        <choiceText>Office Based</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office Based</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pick_up_from_Office</name>
        <choiceText>Pick up from Office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pick up from Office</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacement_Laptop</name>
        <choiceText>Replacement Laptop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement Laptop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to_Home</name>
        <choiceText>Ship to Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to Home</stringValue>
        </value>
    </choices>
    <constants>
        <name>varAssignmentRules</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova Case Assignment Rule v2</stringValue>
        </value>
    </constants>
    <description>Required fields JU 4/3/24
Finished shipping + description - JU 3/27/24
Up to pick up options
Up to accessories / new laptop</description>
    <dynamicChoiceSets>
        <name>Brand_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand1__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RegionPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region1__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>If accessories chosen, then treat each checkbox like a 0 or 1.  Get the total.  If total is less than 1, i.e., no checkboxes checked, return FALSE</description>
        <name>accessoriesRequested</name>
        <dataType>Boolean</dataType>
        <expression>{!Hardware_Requested} == &apos;Accessories&apos; &amp;&amp;
IF( 
   IF( {!Docking_Station_Screen}, 1, 0) +
   IF( {!Headset_Screen}, 1, 0) +
   IF( {!Keyboard_Screen}, 1, 0) +
   IF( {!Laptop_Charger_Screen}, 1, 0) +
   IF( {!Monitor_Screen}, 1, 0) +
   IF( {!SecondMonitor_US_SCREEN}, 1, 0) +
   IF( {!Webcam_Screen}, 1, 0) +
   IF( {!Other_Screen}, 1, 0)
   &lt; 1, 
   FALSE, 
   TRUE   
)</expression>
    </formulas>
    <formulas>
        <name>varAddress</name>
        <dataType>String</dataType>
        <expression>
IF ({!Shipping_Options_Screen} == &apos;Ship to Home&apos;, &quot;&lt;b&gt;Ship to: &lt;/b&gt;&quot; +
&quot;&lt;b&gt; Street: &lt;/b&gt;&quot; + {!Street_Address_Screen} + &quot;&lt;br&gt;&quot; +
&quot;&lt;b&gt; City: &lt;/b&gt;&quot; + {!City_Screen} + &quot;&lt;br&gt;&quot; +
&quot;&lt;b&gt; Postal Code: &lt;/b&gt;&quot; + {!Postal_Code_Screen} +&quot;&lt;br&gt;&quot; +
&quot;&lt;b&gt; Country: &lt;/b&gt;&quot; + {!Country_Screen}  +
&quot;&lt;b&gt; Phone Number: &lt;/b&gt;&quot; + {!Phone_Number_Screen} +&quot;&lt;br&gt;&quot; 
, &quot;&quot;)  + 

IF ({!Shipping_Options_Screen} == &apos;Office Based&apos;, &quot;&lt;b&gt;Office: &lt;/b&gt;&quot;, &quot;&quot;)   + {!Office_Location_Screen.recordName}</expression>
    </formulas>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression> &quot;&lt;b&gt;Requested For: &lt;/b&gt;&quot; + {!ContactScreen.recordName} + &quot;&lt;br&gt;&quot; +
&quot;&lt;b&gt;Hardware Requested: &lt;/b&gt;&quot; + {!Hardware_Requested} + &quot;&lt;br&gt;&quot; +

IF ( {!Docking_Station_Screen}= TRUE, &quot;Docking Station &lt;br&gt;&quot;, &quot; &quot; ) +
IF ( {!Headset_Screen} = TRUE, &quot; Headset &lt;br&gt; &quot;, &quot; &quot; ) +
IF ( {!Keyboard_Screen} = TRUE, &quot; Keyboard / Mouse &lt;br&gt;&quot;, &quot; &quot; ) +
IF ( {!Laptop_Charger_Screen} = TRUE, &quot;Laptop Charger &lt;br&gt;&quot;, &quot; &quot; ) +
IF ( {!Monitor_Screen} = TRUE, &quot; Monitor &lt;br&gt;&quot;, &quot; &quot; ) +
IF ( {!SecondMonitor_US_SCREEN} = TRUE, &quot; 2nd Monitor &lt;br&gt;&quot;, &quot; &quot; ) +
IF ( {!Webcam_Screen} = TRUE, &quot;Webcam &lt;br&gt;&quot;, &quot; &quot; ) +
IF ( {!Other_Screen} = TRUE,  {!Other_Text_Screen} + &quot;&lt;br&gt;&quot;, &quot; &quot; ) +
IF(ISBLANK({!Additional_Information_Screen}), &quot;&quot;, {!Additional_Information_Screen}) + &quot; &lt;br&gt;&quot; +
&quot;&lt;b&gt;Shipping Option&lt;/b&gt; &lt;br&gt;&quot; +
{!varAddress}</expression>
    </formulas>
    <interviewLabel>Portal - Dev - Basic Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Dev - Hardware Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_New_Case</targetReference>
        </connector>
        <inputReference>varCaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Case</name>
        <label>Get New Case</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refresh_varCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactInfo</name>
        <label>GetContactInfo</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hardware_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConfirmationMessage</name>
        <label>ConfirmationMessage</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Home_page</targetReference>
        </connector>
        <fields>
            <name>RequestNumber</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(10, 157, 35);&quot;&gt;Hardware Request Case {!varCaseRecord.CaseNumber} has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hardware_Request</name>
        <label>Hardware Request</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Account_Request</targetReference>
        </connector>
        <fields>
            <name>Hardware_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_by</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Requester}﻿Requested By﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactScreen</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requested For:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetContactInfo.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hardware_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hardware_Requested</name>
                    <choiceReferences>Accessories</choiceReferences>
                    <choiceReferences>New_Laptop</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Accessories</defaultSelectedChoiceReference>
                    <fieldText>Hardware Requested:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region_Screen</name>
                    <choiceReferences>RegionPickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetContactInfo.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Brand_Screen</name>
                    <choiceReferences>Brand_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetContactInfo.Innova_Brand__c</elementReference>
                    </defaultValue>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Laptop_Info</name>
            <fieldText>&lt;p&gt;&lt;u&gt;New Laptop&lt;/u&gt;: only for &lt;strong&gt;existing&lt;/strong&gt; employees/consultants who &lt;strong style=&quot;color: rgb(221, 8, 8);&quot;&gt;have not&lt;/strong&gt; been issued a laptop.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Replacement laptop&lt;/u&gt;: please open a &lt;a href=&quot;https://innovasolutionsitsc--fullsb.sandbox.my.site.com/ITSC/s/service-catalog-item?name=item_1684849799669_RequestforInformation&amp;amp;category=category_1689759204688_All&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;case&lt;/a&gt; with Service Desk who will order a replacement laptop if needed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;For a New Hire&lt;/u&gt;:  please fill in a &lt;a href=&quot;https://innovasolutionsitsc--fullsb.sandbox.my.site.com/ITSC/s/service-catalog-item?name=item_1684850547887_OnboardingRequest&amp;amp;category=category_1689759204688_All&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;New Hire request&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Hardware_Requested</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New_Laptop</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Hardware_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Docking_Station_Screen</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Docking Station</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region_Screen</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region_Screen</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>APAC</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region_Screen</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Canada</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Headset_Screen</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Headset</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Keyboard_Screen</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Keyboard / Mouse</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Laptop_Charger_Screen</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Laptop Charger</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monitor_Screen</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SecondMonitor_US_SCREEN</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monitor (Second Monitor)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region_Screen</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region_Screen</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>APAC</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region_Screen</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Canada</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Webcam_Screen</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Webcam</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region_Screen</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>USA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Screen</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other (By Approval)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Text_Screen</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Other_Screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Hardware_Requested</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Accessories</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UptoShipping</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Hardware_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipping_Options_Screen</name>
                    <choiceReferences>Office_Based</choiceReferences>
                    <choiceReferences>Pick_up_from_Office</choiceReferences>
                    <choiceReferences>Ship_to_Home</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Shipping Option:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Office_Location_Screen</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Innova_Location__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office Location</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1 OR 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Shipping_Options_Screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Office_Based</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Shipping_Options_Screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pick_up_from_Office</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hardware_Request_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street_Address_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Street Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>State_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hardware_Request_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Postal_Code_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Country_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region_Screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Phone_Number_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Shipping_Options_Screen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ship_to_Home</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Hardware_Request_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hardware_Request_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Shipping_Options_Screen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Office_Based</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Shipping_Options_Screen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Pick_up_from_Office</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line_Additional_Info</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thickness</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Additional_Information_Screen</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Shipping_Options_Screen</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Employee_to_Contact_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Employee_to_Contact_Id</name>
        <label>Employee to Contact Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>GetContactInfo</targetReference>
        </connector>
        <flowName>Employee_Manual_Create</flowName>
        <outputAssignments>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <name>varContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Requester</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
