force-app/main/default/flows/Portal_Screen_Dev_Termination_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Home_page</name>
        <label>Home page</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <actionName>c:Homepage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:Homepage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Records_into_a_Collection</name>
        <label>Add Records into a Collection</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_from_Text_Field</name>
        <label>Assign from Text Field</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varTermedPerson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term_First_and_Last_Name_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_in_Case_record_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Requested</name>
        <label>Assign Requested</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varTermedPerson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestedForId.displayedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_in_Case_record_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_in_Case_record_Variable</name>
        <label>Assign values in Case record Variable</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Termination for: {!varTermedPerson}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a14DK000001YuJKYA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ISC_System_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Requestor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Description_Formatted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_and_Request_Record</name>
        <label>Link File and Request Record</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Attachment_component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_varCaseRecord</name>
        <label>Refresh varCaseRecord</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>APAC_India</name>
        <choiceText>APAC (India)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC (India)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Unit</name>
        <choiceText>Business Unit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Unit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chat</name>
        <choiceText>Chat (Teams)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChatTeams</name>
        <choiceText>Chat (Teams)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat (Teams)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company</name>
        <choiceText>Global</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Company</elementReference>
        </value>
    </choices>
    <choices>
        <name>CST</name>
        <choiceText>CST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CST</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMEA</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>EST</name>
        <choiceText>EST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EST</stringValue>
        </value>
    </choices>
    <choices>
        <name>HireGenics</name>
        <choiceText>HireGenics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HireGenics</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Office</name>
        <choiceText>In Office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Office</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incident</name>
        <choiceText>Incident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incident</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innova_Solutions</name>
        <choiceText>Innova Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invex_Tower</name>
        <choiceText>Invex Tower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invex Tower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Laptop_to_Return</name>
        <choiceText>Laptop to Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Laptop to Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Martel_Tower</name>
        <choiceText>Martel Tower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Martel Tower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Move_Direct_Reports</name>
        <choiceText>Move Direct Reports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Move Direct Reports</stringValue>
        </value>
    </choices>
    <choices>
        <name>MST</name>
        <choiceText>MST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MST</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Equipment_to_Return</name>
        <choiceText>No Equipment to Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Equipment to Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone_Number_Forwarding</name>
        <choiceText>Phone Number Forwarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone Number Forwarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>PST</name>
        <choiceText>PST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PST</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Return_Label</name>
        <choiceText>Shipping Return Label</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Return Label</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Createdby_is_End_User</name>
        <label>Check if Createdby is End User</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_End_User_is_Standard_Platform_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Platform User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Share_Record_with_Created_by_End_User</targetReference>
            </connector>
            <label>If End User is Standard Platform User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Term_Found_in_LookUp</name>
        <label>Term Found in LookUp</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_from_Text_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>requestedForId.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Term_First_and_Last_Name_Screen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Requested</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Delegation update
Brand update
MX office
Delegation
Before removing category lookup</description>
    <dynamicChoiceSets>
        <name>Brand_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region11</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarImpact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm__Impact__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Preferred_contact_method__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Sub_Subcategory__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarUrgency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm__Urgency__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Name: &quot; + {!varTermedPerson} + &quot;&lt;br&gt;&quot; +
&quot;Time: &quot; + TEXT({!Date_and_time_Screen}) + &quot;&lt;br&gt;&quot; +

IF ({!Region1} == &apos;EMEA&apos;,  {!varDescriptionEMEA} , &quot;&quot;) +
IF ({!Region1} == &apos;Mexico&apos;,  {!varDescriptionMX} , &quot;&quot;) +
IF ({!Region1} == &apos;USA&apos;,  {!varDescriptionUSA}, &quot;&quot;)
+

 &quot;&lt;br&gt;&quot; + &quot;Phone: &quot; + {!Phone_Screen.value} + &quot;&lt;br&gt;&quot; +
&quot;Email: &quot; + {!ContactEmail.value} +&quot;&lt;br&gt;&quot; +
IF (ISBLANK({!Forward_Emails}),&quot;&quot;,&quot;Forward Emails to: &quot; + {!Forward_Emails} +&quot;&lt;br&gt;&quot;) +
IF (ISBLANK({!Delegate_Mailbox}),&quot;&quot;,&quot;Delegate Mailbox to: &quot; + {!Delegate_Mailbox} +&quot;&lt;br&gt;&quot;) +
IF (ISBLANK({!Direct_Reports}),&quot;&quot;,&quot;Move Direct Reports to: &quot; + {!Direct_Reports} +&quot;&lt;br&gt;&quot;) +
IF (ISBLANK({!One_Drive}),&quot;&quot;,&quot;Move One Drive to: &quot; + {!One_Drive} +&quot;&lt;br&gt;&quot;) +

IF (ISBLANK({!Additional_Information_Screen}),&quot;&quot;,&quot;Addition Information: &quot; + {!Additional_Information_Screen})</expression>
    </formulas>
    <formulas>
        <name>varDescriptionEMEA</name>
        <dataType>String</dataType>
        <expression>&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>varDescriptionMX</name>
        <dataType>String</dataType>
        <expression>IF ({!Laptop_Return_MX_Screen} == &apos;Return Shipping Label&apos;,  
&quot;Address Details: &lt;br&gt;&quot;  +
&quot;Address: &lt;br&gt;&quot;  +
&quot;Street: &quot;  + {!Street_Address_Screen} +
&quot;City: &quot;  + {!City_Screen}  +
&quot;Postal Code: &quot;  + {!Postal_Code_Screen} +
&quot;State: &quot;  + {!State_Screen}

, 
&quot;Office Return:&quot; + {!Return_Location_MX} + &quot;&lt;br&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varDescriptionUSA</name>
        <dataType>String</dataType>
        <expression>&quot;Time Zone: &lt;br&gt;&quot;  + {!Time_Zone} + &quot;&lt;br&gt;&quot; + 
&quot;Address: &lt;br&gt;&quot;  +
&quot;Street: &quot;  + {!Street_Address_Screen} +&quot;&lt;br&gt;&quot; +
&quot;City: &quot;  + {!City_Screen} + &quot;&lt;br&gt;&quot; +
&quot;Zip: &quot;  + {!Postal_Code_Screen} +&quot;&lt;br&gt;&quot; +
&quot;State: &quot;  + {!State_Screen}+&quot;&lt;br&gt;&quot;</expression>
    </formulas>
    <interviewLabel>Portal - Screen - Dev - Termination Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Screen - Dev - Termination Request</label>
    <loops>
        <name>Loop_for_Attachment_component</name>
        <label>Loop for Attachment component</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <collectionReference>VarTContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_and_Request_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_New_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <inputReference>varCaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_from_Collection</name>
        <label>Create Records from Collection</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Check_if_Createdby_is_End_User</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Share_Record_with_Created_by_End_User</name>
        <label>Create Share Record with Created by End User</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varCaseRecord.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Case</name>
        <label>Get New Case</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refresh_varCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Home_page</targetReference>
        </connector>
        <fields>
            <name>Massage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(10, 157, 35);&quot;&gt;             Termination Case Number# {!Get_New_Case.CaseNumber}  has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The Incident was not created. Please contact your Salesforce system administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Termination_Screen</name>
        <label>Termination</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Term_Found_in_LookUp</targetReference>
        </connector>
        <fields>
            <name>Termination_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title_Screen</name>
                    <fieldText>&lt;p&gt;Termination Request for:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>requestedForId</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>AccountId != null and Innova_Active__c = true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>splitSearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>valueFieldName</name>
                        <value>
                            <stringValue>Id</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>ISC_Display_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>User_Not_Found_Checkbox_Screen</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Click here if Termed Person is not found in search box.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Term_First_and_Last_Name_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Term First and Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>User_Not_Found_Checkbox_Screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Termination_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region1</name>
                    <choiceReferences>Region11</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varCaseRecord.ISC_Requestor__r.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Brand_Screen</name>
                    <choiceReferences>Brand_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>USA</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Termination_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_and_time_Screen</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Termination Effective Date and time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Time_Zone</name>
                    <choiceReferences>EST</choiceReferences>
                    <choiceReferences>CST</choiceReferences>
                    <choiceReferences>MST</choiceReferences>
                    <choiceReferences>PST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Time Zone</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>USA</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Line_Screen_After_Date_Time</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mexico_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Mexico&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Termination_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Laptop_Return_MX_Screen</name>
                    <choiceReferences>In_Office</choiceReferences>
                    <choiceReferences>Shipping_Return_Label</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Laptop Return Options</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Return_Location_MX</name>
                    <choiceReferences>Invex_Tower</choiceReferences>
                    <choiceReferences>Martel_Tower</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Return Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Laptop_Return_MX_Screen</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>In Office</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Me</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>USA_display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;USA&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Termination_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Equipment_Return_USA</name>
                    <choiceReferences>No_Equipment_to_Return</choiceReferences>
                    <choiceReferences>Laptop_to_Return</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Equipment Return</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>USA</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Address&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Termination_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street_Address_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Street Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone_Screen</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Equipment_Return_USA</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>No_Equipment_to_Return</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Postal_Code_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>State_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Personal Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Mexico</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Return_MX_Screen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Shipping_Return_Label</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Equipment_Return_USA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Laptop_to_Return</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line_After_Address</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Termination_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forward_Display</name>
                    <fieldText>&lt;p&gt;Email Forward will forward emails of the terminated employee to the requested email address(es).&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Forward_Emails</name>
                    <dataType>String</dataType>
                    <fieldText>Forward Emails to:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Delegate_Display</name>
                    <fieldText>&lt;p&gt;Delegating a mailbox will allow the user(s) to login to the terminated user&apos;s mailbox.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Delegate_Mailbox</name>
                    <dataType>String</dataType>
                    <fieldText>Delegate Mailbox to:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Direct_Reports</name>
                    <dataType>String</dataType>
                    <fieldText>Move Direct Reports to:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>One_Drive</name>
                    <dataType>String</dataType>
                    <fieldText>One Drive access to:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>EMEA</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Mexico</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Information_Screen</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attachement</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Users_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Users_Contact</name>
        <label>Get Users Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Termination_Screen</targetReference>
        </connector>
        <flowName>Helper_User_ID_to_Contact_ID</flowName>
        <inputAssignments>
            <name>varUserID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord.ISC_Requestor__c</assignToReference>
            <name>varContactID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>OnBeHalfId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTermedPerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
