force-app/main/default/flows/Portal_Screen_Dev_New_Hire_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Home_page</name>
        <label>Home page</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <actionName>c:Homepage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:Homepage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Records_into_a_Collection</name>
        <label>Add Records into a Collection</label>
        <locationX>270</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_in_Case_record_Variable</name>
        <label>Assign values in Case record Variable</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Hire: {!First_Name_Screen} {!Last_Name_Screen}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Request_RecordType_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Region1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a14DK000001YuJKYA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ISC_System_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.ISC_Requestor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.ISC_Description_Formatted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseRecord.Innova_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_and_Request_Record</name>
        <label>Link File and Request Record</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Attachment_component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_varCaseRecord</name>
        <label>Refresh varCaseRecord</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Attachment_component</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>APAC_India</name>
        <choiceText>APAC (India)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC (India)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Billable</name>
        <choiceText>Billable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bundle_ONE_2_monitors_1_keyboard_mouse_combo_1_headset_and_1_dock_with_DisplayPo</name>
        <choiceText>Bundle ONE: 2 monitors, 1 keyboard/mouse combo, 1 headset, and 1 dock with DisplayPort to HDMI Adapter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle ONE: 2 monitors, 1 keyboard/mouse combo, 1 headset, and 1 dock with DisplayPort to HDMI Adapter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bundle_THREE_1_keyboard_mouse_combo_1_headset</name>
        <choiceText>Bundle THREE: 1 keyboard/mouse combo, 1 headset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle THREE: 1 keyboard/mouse combo, 1 headset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bundle_TWO_1_monitors_1_keyboard_mouse_combo_1_headset</name>
        <choiceText>Bundle TWO: 1 monitors, 1 keyboard/mouse combo, 1 headset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bundle TWO: 1 monitors, 1 keyboard/mouse combo, 1 headset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Unit</name>
        <choiceText>Business Unit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Unit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chat</name>
        <choiceText>Chat (Teams)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChatTeams</name>
        <choiceText>Chat (Teams)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat (Teams)</stringValue>
        </value>
    </choices>
    <choices>
        <name>comforcehealth_com</name>
        <choiceText>comforcehealth.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>comforcehealth.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company</name>
        <choiceText>Global</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Company</elementReference>
        </value>
    </choices>
    <choices>
        <name>CST</name>
        <choiceText>CST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CST</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department</name>
        <choiceText>Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Developer</name>
        <choiceText>Developer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Developer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMEA</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>EST</name>
        <choiceText>EST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EST</stringValue>
        </value>
    </choices>
    <choices>
        <name>Full_Desktop</name>
        <choiceText>Full Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>HireGenics</name>
        <choiceText>HireGenics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HireGenics</stringValue>
        </value>
    </choices>
    <choices>
        <name>hiregenics_com</name>
        <choiceText>hiregenics.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>hiregenics.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Office</name>
        <choiceText>In Office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Office</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incident</name>
        <choiceText>Incident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incident</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innova_Solutions</name>
        <choiceText>Innova Solutions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innova Solutions</stringValue>
        </value>
    </choices>
    <choices>
        <name>innovasolutions_com</name>
        <choiceText>innovasolutions.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>innovasolutions.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invex_Tower</name>
        <choiceText>Invex Tower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invex Tower</stringValue>
        </value>
    </choices>
    <choices>
        <name>MacBook_Pro</name>
        <choiceText>MacBook Pro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MacBook Pro</stringValue>
        </value>
    </choices>
    <choices>
        <name>Martel_Tower</name>
        <choiceText>Martel Tower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Martel Tower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Move_Direct_Reports</name>
        <choiceText>Move Direct Reports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Move Direct Reports</stringValue>
        </value>
    </choices>
    <choices>
        <name>MST</name>
        <choiceText>MST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MST</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Email_Address</name>
        <choiceText>No Email Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Email Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Laptop</name>
        <choiceText>No Laptop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Laptop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Billable</name>
        <choiceText>Non Billable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Billable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone_Number_Forwarding</name>
        <choiceText>Phone Number Forwarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone Number Forwarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>PST</name>
        <choiceText>PST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PST</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ship_to</name>
        <choiceText>Ship to</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ship to</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Return_Label</name>
        <choiceText>Shipping Return Label</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Return Label</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web_Only</name>
        <choiceText>Web Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web Only</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Createdby_is_End_User</name>
        <label>Check if Createdby is End User</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_End_User_is_Standard_Platform_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecord.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Platform User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Share_Record_with_Created_by_End_User</targetReference>
            </connector>
            <label>If End User is Standard Platform User</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Brand_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Brand__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region11</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Region__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarImpact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm__Impact__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Preferred_contact_method__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Innova_Sub_Subcategory__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarUrgency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkitsm__Urgency__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varAddress</name>
        <dataType>String</dataType>
        <expression>&quot;Ship to: &lt;br&gt;&quot;  +
&quot;Street: &quot;  + {!Street_Address_Screen} + &quot;&lt;br&gt;&quot; +
&quot;City: &quot;  + {!City_Screen} + &quot;&lt;br&gt;&quot; +
&quot;Postal Code: &quot;  + {!Postal_Code_Screen} + &quot;&lt;br&gt;&quot; +
&quot;State: &quot;  + {!State_Screen_Screen} + &quot;&lt;br&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>varDescription</name>
        <dataType>String</dataType>
        <expression>&quot;First Name: &quot; + {!First_Name_Screen} + &quot;&lt;br&gt;&quot; +
&quot;Last Name: &quot; + {!Last_Name_Screen} +&quot;&lt;br&gt;&quot; +
&quot;Region: &quot; + {!Region1} + &quot;&lt;br&gt;&quot; +&quot;&lt;br&gt;&quot; +

&quot;Email: &quot; + {!ContactEmail.value} + &quot;&lt;br&gt;&quot; +
&quot;Phone: &quot; + {!Phone_Screen.value} + &quot;&lt;br&gt;&quot; +
&quot;Job Title: &quot; + {!Job_Title}  + &quot;&lt;br&gt;&quot; +
&quot;Start Date: &quot; + TEXT({!Start_Date_Screen})  + &quot;&lt;br&gt;&quot; +
&quot;Manager: &quot; + {!Hiring_Manager.recordName} +  &quot;&lt;br&gt;&quot; +


IF ({!Region1} == {!EMEA}, &quot;varE&quot; +{!varDescriptionEMEA}, &quot;&quot;) +
IF ({!Region1} == &apos;Mexico&apos;, {!varDescriptionMX}, &quot;&quot;) +
IF ({!Region1} == &apos;USA&apos;, {!varDescriptionUSA}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varDescriptionEMEA</name>
        <dataType>String</dataType>
        <expression>IF ( {!Laptop_Pickup_EMEA} == &apos;In Office&apos;, &quot;Office: &quot; +{!Office_EMEA.recordName} , {!varAddress})</expression>
    </formulas>
    <formulas>
        <name>varDescriptionMX</name>
        <dataType>String</dataType>
        <expression>&quot;Laptop Delivery - &quot; +
IF ( {!Laptop_Pickup_MX} == &apos;In Office&apos;, &quot;Office: &quot; + {!Office_MX} , {!varAddress})</expression>
    </formulas>
    <formulas>
        <name>varDescriptionUSA</name>
        <dataType>String</dataType>
        <expression>&quot;Brand: &quot; + {!Brand_Screen} + &quot;&lt;br&gt;&quot; +

IF ({!Resource_Type_US} == &apos;Billable&apos;,{!varUS_Billable} , &quot;&quot;)
+
IF ({!Resource_Type_US} == &apos;Non Billable&apos;, {!varUS_NonBillable}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varUS_Billable</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;br&gt;&quot; + 
&quot;Resource Type: Billable &quot; + &quot;&lt;br&gt;&quot; + 
&quot;Employee ID: &quot; + {!Employee_ID_H_number} + &quot;&lt;br&gt;&quot; + 
&quot;Email Domain: &quot; +{!Email_Domain_US_B} + &quot;&lt;br&gt;&quot; + 
&quot;Laptop: &quot; + {!Laptop_Requested_US_B} + &quot;&lt;br&gt;&quot; + 
&quot;License Type: &quot; + {!Microsoft_License_Type} + &quot;&lt;br&gt;&quot; +

IF({!Laptop_Requested_US_B} == &apos;No Laptop&apos;, &quot;&quot;,&quot;&lt;br&gt;&quot; +{!varAddress})</expression>
    </formulas>
    <formulas>
        <name>varUS_NonBillable</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;br&gt;&quot; + &quot;Resource Type: Non Billable&quot; + &quot;&lt;br&gt;&quot; + 
&quot;Office: &quot; + {!Office_US.recordName} + &quot;&lt;br&gt;&quot; + 
&quot;Email Domain: &quot; +{!Email_Domain_US_NB} + &quot;&lt;br&gt;&quot; + 
&quot;Laptop Pickup: &quot; + {!Laptop_Pickup_US_NB} +&quot;&lt;br&gt;&quot; +
&quot;Bundle: &quot; + {!Bundle_US_NB}+ &quot;&lt;br&gt;&quot; +
IF ( {!Laptop_Pickup_US_NB} == &apos;In Office&apos;, &quot;Office: &quot; + {!Office_US.recordName} , {!varAddress})</expression>
    </formulas>
    <interviewLabel>Portal - Screen - Dev - New Hire Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portal - Screen - Dev - New Hire Request</label>
    <loops>
        <name>Loop_for_Attachment_component</name>
        <label>Loop for Attachment component</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <collectionReference>VarTContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_and_Request_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_New_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <inputReference>varCaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_from_Collection</name>
        <label>Create Records from Collection</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Check_if_Createdby_is_End_User</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Share_Record_with_Created_by_End_User</name>
        <label>Create Share Record with Created by End User</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varCaseRecord.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Case</name>
        <label>Get New Case</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refresh_varCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Home_page</targetReference>
        </connector>
        <fields>
            <name>Massage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(10, 157, 35); background-color: rgb(255, 255, 255);&quot;&gt;New Hire Case Number# {!Get_New_Case.CaseNumber}  has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The Incident was not created. Please contact your Salesforce system administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Hire</name>
        <label>New Hire</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>varDetailsScreen</targetReference>
        </connector>
        <fields>
            <name>Title_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;New Hire Request for:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Hire_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hire_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_Screen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>First</stringValue>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_Screen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Last</stringValue>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone_Screen</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Personal Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hire_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region1</name>
                    <choiceReferences>Region11</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varCaseRecord.ISC_Requestor__r.Innova_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Brand_Screen</name>
                    <choiceReferences>Brand_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Brand</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>USA</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Region1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>EMEA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Personal Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hire_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hire_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Screen</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <dateValue>2024-06-01</dateValue>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Job_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Job Title</stringValue>
                    </defaultValue>
                    <fieldText>Job Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hire_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hiring_Manager</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Innova_Manager__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Hiring Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Hiring_Manager.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EMEA_display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;EMEA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Hire_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hire_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Laptop_Pickup_EMEA</name>
                    <choiceReferences>In_Office</choiceReferences>
                    <choiceReferences>Ship_to</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Laptop Pickup Options</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hire_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Office_EMEA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Innova_Location__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Europe</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MX_display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;MX&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Hire_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hire_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Laptop_Pickup_MX</name>
                    <choiceReferences>In_Office</choiceReferences>
                    <choiceReferences>Ship_to</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Laptop Pickup Options</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hire_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Office_MX</name>
                    <choiceReferences>Invex_Tower</choiceReferences>
                    <choiceReferences>Martel_Tower</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Office_MX</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Laptop_Pickup_MX</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>In_Office</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Mexico</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>APAC_display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;US&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Hire_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hire_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Resource_Type_US</name>
                    <choiceReferences>Billable</choiceReferences>
                    <choiceReferences>Non_Billable</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Resource Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hire_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>USA</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>US_B_display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;US Billable&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Hire_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hire_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_ID_H_number</name>
                    <dataType>String</dataType>
                    <fieldText>Employee ID (H number)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Laptop_Requested_US_B</name>
                    <choiceReferences>No_Laptop</choiceReferences>
                    <choiceReferences>Standard</choiceReferences>
                    <choiceReferences>Developer</choiceReferences>
                    <choiceReferences>MacBook_Pro</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Laptop Requested</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hire_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Domain_US_B</name>
                    <choiceReferences>comforcehealth_com</choiceReferences>
                    <choiceReferences>hiregenics_com</choiceReferences>
                    <choiceReferences>innovasolutions_com</choiceReferences>
                    <choiceReferences>No_Email_Address</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No_Email_Address</defaultSelectedChoiceReference>
                    <fieldText>Email Domain</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Microsoft_License_Type</name>
                    <choiceReferences>Full_Desktop</choiceReferences>
                    <choiceReferences>Web_Only</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Web_Only</defaultSelectedChoiceReference>
                    <fieldText>Microsoft License Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Domain_US_B</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>comforcehealth_com</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Email_Domain_US_B</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>innovasolutions_com</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Email_Domain_US_B</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>hiregenics_com</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Approval_VP_BU</name>
                    <fieldText>&lt;p&gt;Please attached Approval by a Business Unit VP&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Microsoft_License_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Full_Desktop</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Laptop_US_B</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Developer Laptops:&lt;/strong&gt;  By Approval by Business Unit VP and IT department&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;MacBook Pro&lt;/strong&gt;: &lt;/p&gt;&lt;ul&gt;&lt;li&gt;By Client Requirement&lt;/li&gt;&lt;li&gt;Approved by Business VP&lt;/li&gt;&lt;li&gt;Approved by IT department&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Laptop_Requested_US_B</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Developer</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Laptop_Requested_US_B</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MacBook_Pro</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Resource_Type_US</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Billable</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>US_NB_display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;US Non Billable&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Hire_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hire_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Domain_US_NB</name>
                    <choiceReferences>comforcehealth_com</choiceReferences>
                    <choiceReferences>hiregenics_com</choiceReferences>
                    <choiceReferences>innovasolutions_com</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Email Domain</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Office_US</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Innova_Location__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Office</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Laptop_Pickup_US_NB</name>
                    <choiceReferences>In_Office</choiceReferences>
                    <choiceReferences>Ship_to</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Equipment Pickup Option</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hire_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bundle_US_NB</name>
                    <choiceReferences>Bundle_ONE_2_monitors_1_keyboard_mouse_combo_1_headset_and_1_dock_with_DisplayPo</choiceReferences>
                    <choiceReferences>Bundle_TWO_1_monitors_1_keyboard_mouse_combo_1_headset</choiceReferences>
                    <choiceReferences>Bundle_THREE_1_keyboard_mouse_combo_1_headset</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Accessories</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Resource_Type_US</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Non_Billable</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Address_display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Region1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>invalid</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Hire_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hire_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street_Address_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Street Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hire_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Postal_Code_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>State_Screen_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 OR 2 OR 3 OR (4 AND 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Laptop_Pickup_EMEA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ship_to</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Pickup_MX</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ship_to</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Pickup_US_NB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ship_to</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Laptop_Requested_US_B</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>No_Laptop</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Resource_Type_US</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Billable</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line_After_Address</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Additional_Information_Screen</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attachement</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarTContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>varDetailsScreen</name>
        <label>varDetailsScreen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_in_Case_record_Variable</targetReference>
        </connector>
        <fields>
            <name>varDisplay</name>
            <fieldText>&lt;p&gt;{!varDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Users_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Users_Contact</name>
        <label>Get Users Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>New_Hire</targetReference>
        </connector>
        <flowName>Helper_User_ID_to_Contact_ID</flowName>
        <inputAssignments>
            <name>varUserID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecord.ISC_Requestor__c</assignToReference>
            <name>varContactID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>OnBeHalfId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTermedPerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
