force-app/main/default/flows/System_Record_Create_Update_Sync_downstream_Objects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_if_Create_or_Update</name>
        <label>Check if Create or Update</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Object_Type_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object_Type_Create</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Type_Create</name>
        <label>Object Type</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Queue_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Queue_Setting</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>Org_Wide_Address_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Org Wide Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Setting</targetReference>
            </connector>
            <label>Org Wide Address</label>
        </rules>
        <rules>
            <name>Email2Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email2Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Setting_Email2Case</targetReference>
            </connector>
            <label>Email2Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Type_Update</name>
        <label>Object Type</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Queue_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue_Setting</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>Org_Wide_Address_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Org Wide Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Setting</targetReference>
            </connector>
            <label>Org Wide Address</label>
        </rules>
        <rules>
            <name>Email2Case2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email2Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Setting_Email2Case</targetReference>
            </connector>
            <label>Email2Case</label>
        </rules>
    </decisions>
    <description>When System record is created or updated then creates or updates Queue Settings or Email Settings as appropriate</description>
    <environments>Default</environments>
    <interviewLabel>System Record - Create/Update - Sync downstream Objects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>System Record - Create/Update - Sync downstream Objects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Setting</name>
        <label>Create Email Setting</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Address__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Org Wide</stringValue>
            </value>
        </inputAssignments>
        <object>ISC_Email_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Setting_Email2Case</name>
        <label>Create Email Setting - Email2Case</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Address__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email2Case</stringValue>
            </value>
        </inputAssignments>
        <object>ISC_Email_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Queue_Setting</name>
        <label>Create Queue Setting</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Queue__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ISC_Queue_Setting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Email_Setting</name>
        <label>Update Email Setting</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Org Wide</stringValue>
            </value>
        </inputAssignments>
        <object>ISC_Email_Setting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Setting_Email2Case</name>
        <label>Update Email Setting - Email2Case</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Email2Case</stringValue>
            </value>
        </inputAssignments>
        <object>ISC_Email_Setting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_Setting</name>
        <label>Update Queue Setting</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>ISC_Queue_Setting__c</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Create_or_Update</targetReference>
        </connector>
        <object>ISC_System_Record__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
