force-app/main/default/flows/System_Record_Manual_Sync_Email2Case_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_recSystemTemp_to_colSystemConverted</name>
        <label>Add recSystemTemp to colSystemConverted</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>colSystemConverted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSystemTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_varSystemTemp_to_varSystemBlank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_recSystemTemp_to_colSystemUpdate</name>
        <label>Add recSystemTemp to colSystemUpdate</label>
        <locationX>338</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>colSystemUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSystemTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_recSystemBlank_to_recSystemTemp3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_count_of_Filtered_colSystemConverted</name>
        <label>Assign count of Filtered colSystemConverted</label>
        <locationX>250</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_colSystemConverted_by_current_Target_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Match2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_item_to_recSystemTemp</name>
        <label>Assign current item to recSystemTemp</label>
        <locationX>710</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Target_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_recSystemTemp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_target_to_recSystemTemp</name>
        <label>Assign current target to recSystemTemp</label>
        <locationX>338</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Target_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inactive_on_recSystemTemp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filtered_System_Records_count_to_varRecordCount</name>
        <label>Assign Filtered System Records count to varRecordCount</label>
        <locationX>686</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_System_Records_by_current_colSystemConverted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recSystemBlank_to_recSystemTemp</name>
        <label>Assign recSystemBlank to recSystemTemp</label>
        <locationX>750</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSystemBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_colSystemConverted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recSystemBlank_to_recSystemTemp2</name>
        <label>Assign recSystemBlank to recSystemTemp</label>
        <locationX>710</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSystemBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Target_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recSystemBlank_to_recSystemTemp3</name>
        <label>Assign recSystemBlank to recSystemTemp</label>
        <locationX>338</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSystemBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Target_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recSystemTemp_to_colSystemCreate</name>
        <label>Assign recSystemTemp to colSystemCreate</label>
        <locationX>750</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>colSystemCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSystemTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_recSystemBlank_to_recSystemTemp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recSystemTemp_to_colSystemUpdate</name>
        <label>Assign recSystemTemp to colSystemUpdate</label>
        <locationX>710</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>colSystemUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSystemTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_recSystemBlank_to_recSystemTemp2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Target_Record_count_to_varRecordCount</name>
        <label>Assign Target Record count to varRecordCount</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_System_Records_of_type_varObjectType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_recSystemTemp</name>
        <label>Assign to recSystemTemp</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_Target_Records.LocalPart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSystemTemp.ObjectID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_Target_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSystemTemp.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varObjectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSystemTemp.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recSystemTemp_to_colSystemConverted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varSystemTemp_for_New_Record</name>
        <label>Assign varSystemTemp for New Record</label>
        <locationX>750</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_colSystemConverted.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSystemTemp.ObjectID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_colSystemConverted.ObjectID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSystemTemp.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varObjectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSystemTemp.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_recSystemTemp_to_colSystemCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_varRecordCount_to_count_of_Get_Target_Record</name>
        <label>set varRecordCount to count of Get Target Record</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Target_Object_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Target_Records_to_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varSystemTemp_to_varSystemBlank</name>
        <label>Set varSystemTemp to varSystemBlank</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSystemBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Target_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Inactive_on_recSystemTemp</name>
        <label>Update Inactive on recSystemTemp</label>
        <locationX>338</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_recSystemTemp_to_colSystemUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_recSystemTemp</name>
        <label>Update recSystemTemp</label>
        <locationX>710</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>recSystemTemp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_colSystemConverted.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSystemTemp.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_recSystemTemp_to_colSystemUpdate</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_colSystemConverted_by_current_Target_Record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter colSystemConverted by current Target Record</label>
        <locationX>250</locationX>
        <locationY>2822</locationY>
        <assignNextValueToReference>currentItem_Filter_colSystemConverted_by_current_Target_Record</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colSystemConverted</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_colSystemConverted_by_current_Target_Record.ObjectID__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Target_Records.ObjectID__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_count_of_Filtered_colSystemConverted</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_System_Records_by_current_colSystemConverted</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter System Records by current colSystemConverted</label>
        <locationX>686</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Filter_Target_Records_by_current_varSystemConverted</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_System_Records_of_type_varObjectType</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Target_Records_by_current_varSystemConverted.ObjectID__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_colSystemConverted.ObjectID__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Filtered_System_Records_count_to_varRecordCount</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_there_records</name>
        <label>Are there records</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Items_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Target_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Target_Records_to_Process</name>
        <label>Are there Target Records to Process</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Targets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Get_Target_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Match</name>
        <label>Found Match</label>
        <locationX>686</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Assign_varSystemTemp_for_New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Filtered_Target_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Match2</name>
        <label>Found Match</label>
        <locationX>250</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Assign_current_target_to_recSystemTemp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Target_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Items_to_Add</name>
        <label>Items to Add</label>
        <locationX>182</locationX>
        <locationY>4130</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_to_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colSystemCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_System_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Items_to_Update</name>
        <label>Items to Update</label>
        <locationX>182</locationX>
        <locationY>3830</locationY>
        <defaultConnector>
            <targetReference>Items_to_Add</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colSystemUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_System_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Changed</name>
        <label>Record Changed</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Loop_Filtered_Target_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Filtered_Target_Records.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_colSystemConverted.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Filtered_Target_Records.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_current_item_to_recSystemTemp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>System Record - Manual - Sync Email2Case Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>System Record - Manual - Sync Email2Case Emails</label>
    <loops>
        <name>Loop_colSystemConverted</name>
        <label>Loop colSystemConverted</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <collectionReference>colSystemConverted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_System_Records_by_current_colSystemConverted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Target_Record_count_to_varRecordCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_Target_Records</name>
        <label>Loop Filtered Target Records</label>
        <locationX>622</locationX>
        <locationY>1514</locationY>
        <collectionReference>Filter_System_Records_by_current_colSystemConverted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Changed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_colSystemConverted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Get_Target_Records</name>
        <label>Loop Get Target Records</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Target_Object_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_recSystemTemp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_colSystemConverted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Target_Records</name>
        <label>Loop Target Records</label>
        <locationX>74</locationX>
        <locationY>2714</locationY>
        <collectionReference>Get_System_Records_of_type_varObjectType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_colSystemConverted_by_current_Target_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Items_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_System_Records</name>
        <label>Add System Records</label>
        <locationX>50</locationX>
        <locationY>4238</locationY>
        <inputReference>colSystemCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_System_Records_of_type_varObjectType</name>
        <label>Get System Records of type varObjectType</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Target_Object_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varObjectType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ISC_System_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Target_Object_records</name>
        <label>Get Target Object records</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_varRecordCount_to_count_of_Get_Target_Record</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailServicesAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_System_Records</name>
        <label>Update System Records</label>
        <locationX>50</locationX>
        <locationY>3938</locationY>
        <connector>
            <targetReference>Items_to_Add</targetReference>
        </connector>
        <inputReference>colSystemUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_System_Records_of_type_varObjectType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colSystemConverted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ISC_System_Record__c</objectType>
    </variables>
    <variables>
        <name>colSystemCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ISC_System_Record__c</objectType>
    </variables>
    <variables>
        <name>colSystemUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ISC_System_Record__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_colSystemConverted_by_current_Target_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ISC_System_Record__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Target_Records_by_current_varSystemConverted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ISC_System_Record__c</objectType>
    </variables>
    <variables>
        <name>recSystemBlank</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ISC_System_Record__c</objectType>
    </variables>
    <variables>
        <name>recSystemTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ISC_System_Record__c</objectType>
    </variables>
    <variables>
        <name>varObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Email2Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
